Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

feat(jobs): trace every job and sample queue depth in the worker
  apps/jobs/src/job-worker-heartbeat.constants.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(jobs): document and wire Instana env for the worker
  apps/jobs/.env.template
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add admin queue-status endpoints
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/queue-status.controller.spec.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-queue.module.ts
  apps/api/src/job-queue/job-queue.service.queue-status.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/api/src/job-queue/job-worker-connection.queue-status.spec.ts
  apps/api/src/job-queue/job-worker-connection.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): add Queues & Workers admin dashboard page
  apps/web/app/admin/components/FailedJobsDialog.tsx
  apps/web/app/admin/components/QueueCard.tsx
  apps/web/app/admin/components/QueueStatusDashboard.tsx
  apps/web/app/admin/components/WorkersTable.tsx
  apps/web/app/admin/components/__tests__/QueueStatusDashboard.test.tsx
  apps/web/app/admin/queues/page.tsx
  apps/web/hooks/__tests__/useQueueStatus.test.tsx
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(jobs): remove unused queue-depth log sampler
  apps/jobs/.env.template
  apps/jobs/src/instrumentation/queue-depth-sampler.spec.ts
  apps/jobs/src/instrumentation/queue-depth-sampler.ts
  apps/jobs/src/job-worker-heartbeat.constants.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

test(e2e): expand Playwright suite — assessment loop, question types, guards, authz, LTI mock
  playwright.config.ts
  tests/admin/admin-auth.spec.ts
  tests/author/error-report-modal.spec.ts
  tests/authz/assignment-access.spec.ts
  tests/fixtures/not-an-allowed-type.png
  tests/fixtures/sample-upload.txt
  tests/health/health-smoke.spec.ts
  tests/helpers/auth.ts
  tests/helpers/factories/question-factories.ts
  tests/helpers/fixtures.ts
  tests/helpers/lti/mock-lti.ts
  tests/helpers/seed.ts
  tests/learner/assessment-access-guards.spec.ts
  tests/learner/assessment-attempt-limits.spec.ts
  tests/learner/assessment-loop.spec.ts
  tests/learner/assessment-required-questions.spec.ts
  tests/learner/assessment-time-limit.spec.ts
  tests/learner/mark-chat-toggle.spec.ts
  tests/learner/question-types/_flow.ts
  tests/learner/question-types/multiple-correct.spec.ts
  tests/learner/question-types/single-correct.spec.ts
  tests/learner/question-types/text-essay.spec.ts
  tests/learner/question-types/true-false.spec.ts
  tests/learner/question-types/upload.spec.ts
  tests/learner/question-types/url.spec.ts
  tests/learner/ui-i18n.spec.ts
  tests/learner/upload-question-validation.spec.ts
  tests/lti/grade-passback.spec.ts
  tests/lti/grade-sync-status-ui.spec.ts
  tests/lti/lti-launch.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

refactor(jobs,api,web): single-source domain-id allowlist and tidy queue dashboard
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-domain-ids.ts
  apps/jobs/src/instrumentation/instana-job-tracing.spec.ts
  apps/jobs/src/instrumentation/instana-job-tracing.ts
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(e2e): remove specs that fail until verified against a live stack
  tests/author/error-report-modal.spec.ts
  tests/fixtures/not-an-allowed-type.png
  tests/fixtures/sample-upload.txt
  tests/learner/assessment-attempt-limits.spec.ts
  tests/learner/assessment-loop.spec.ts
  tests/learner/assessment-required-questions.spec.ts
  tests/learner/assessment-time-limit.spec.ts
  tests/learner/mark-chat-toggle.spec.ts
  tests/learner/question-types/_flow.ts
  tests/learner/question-types/multiple-correct.spec.ts
  tests/learner/question-types/single-correct.spec.ts
  tests/learner/question-types/text-essay.spec.ts
  tests/learner/question-types/true-false.spec.ts
  tests/learner/question-types/upload.spec.ts
  tests/learner/question-types/url.spec.ts
  tests/learner/ui-i18n.spec.ts
  tests/learner/upload-question-validation.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): wrap /admin/queues page in QueryClientProvider
  apps/web/app/admin/queues/__tests__/page.test.tsx
  apps/web/app/admin/queues/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore: small ui improvements
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentFeedback.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionDisplay.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/StepTwo/ConfigGroups.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/globals.css
Due: yarn secrets:check:staged, yarn format:staged

fix(api,web): move queue-status off the gateway's /admin namespace
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

small review fix
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(admin): scope queue-status rate limit to the mutating actions
  apps/api/src/api/admin/controllers/queue-status.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

perf(admin): poll redis-health every 15s instead of 5s
  apps/web/hooks/useQueueStatus.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(auth): make the admin dashboard surface admin-only
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/llm-assignment.controller.ts
  apps/api/src/api/admin/controllers/llm-pricing.controller.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/auth/guards/admin.guard.spec.ts
  apps/api/src/auth/guards/admin.guard.ts
  apps/api/src/auth/services/admin-verification.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(insights): give authors their own ownership-scoped insights page
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/[assignmentId]/insights/page.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

rework admin email
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(auth): rely on AdminGuard, not @Roles(ADMIN), for the admin gate
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/llm-assignment.controller.ts
  apps/api/src/api/admin/controllers/llm-pricing.controller.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/report/controllers/report.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): harden admin email rendering and admin-only doc
  .secrets.baseline
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.cap.spec.ts
  apps/api/src/auth/services/admin-email.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
  apps/web/lib/error-screen.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(e2e): polish review feedback — dedupe JWT signer, fix scoring, tighten authz checks
  tests/authz/assignment-access.spec.ts
  tests/helpers/auth.ts
  tests/helpers/factories/question-factories.ts
  tests/helpers/fixtures.ts
  tests/helpers/jwt.ts
  tests/helpers/lti/mock-lti.ts
  tests/helpers/seed.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(question-gen): preserve short/long quotas when review reclassifies subtype questions
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(admin): make queue-status reads cheap and harden queue validation
  apps/api/src/api/admin/controllers/queue-status.controller.spec.ts
  apps/api/src/api/admin/controllers/queue-status.controller.ts
  apps/api/src/api/admin/services/queue-status.service.spec.ts
  apps/api/src/api/admin/services/queue-status.service.ts
  apps/api/src/job-queue/job-queue.service.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): scope author insights to own-assignment data only
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/web/components/insights/AssignmentInsightsContent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): guard worker concurrency against malformed env
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): correct active-job progress, stabilize sparklines, queue name via query
  apps/web/app/admin/components/ActiveJobsDialog.tsx
  apps/web/app/admin/components/__tests__/ActiveJobsDialog.test.tsx
  apps/web/app/admin/queues/__tests__/failed-jobs-fetch.test.tsx
  apps/web/hooks/__tests__/useQueueStatus.test.tsx
  apps/web/hooks/useQueueStatus.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(assignment): stop attempt-access cache from serving empty quizzes
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(admin): stop /admin analytics from starving the Postgres pool
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/web/app/admin/components/AssignmentAnalyticsTable.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(admin): bound concurrency of analytics cost calculation
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(admin): server-side pagination/sort/filter for assignment analytics
  apps/api/prisma/migrations/20260520000000_add_admin_analytics_indexes/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.calculate-cost-batch.spec.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.ts
  apps/web/app/admin/components/AssignmentAnalyticsTable.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/shared.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating wheel rendering
  .secrets.baseline
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: root fix for this issue, bandaid didn't work
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fixing workflow errors
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): use MotionValue for progress display; add structured question fields to SSE payload
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/job-queue/job-state.service.ts
  apps/api/src/job-queue/job-state.types.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

linting
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: smooth wheel completion and guard navigation timing
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(test): remove stale updateProgress assertion after wave-based grading refactor
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

useful scripts
  helm-chart/mark/templates/network-policies.yaml
  scripts/lti-sync-by-destination.js
  scripts/lti-sync-check.sh
  scripts/lti-sync-lookup.js
  scripts/lti-sync-snapshot.js
  scripts/lti-sync-urls.js
  scripts/lti-sync-waiting.js
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

feat(grading): add computeCreepStep for bounded progress creep
  apps/web/app/learner/(components)/__tests__/useCreepingProgress.test.ts
  apps/web/app/learner/(components)/useCreepingProgress.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(grading): add useCreepingProgress RAF hook
  apps/web/app/learner/(components)/useCreepingProgress.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(grading): drive progress wheel from creeping value
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
