Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix: build linting
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/report/helpers/issue-template.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: stop mirroring reports to GitHub issues (#646)
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/helpers/issue-template.spec.ts
  apps/api/src/api/report/helpers/issue-template.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop learner reload loop from oversized attempt payloads
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/__tests__/LearnerLayout.test.tsx
  apps/web/lib/__tests__/safe-storage.test.ts
  apps/web/lib/safe-storage.ts
  apps/web/stores/__tests__/learner.persist.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop learner reload loop from oversized attempt payloads (#647)
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/__tests__/LearnerLayout.test.tsx
  apps/web/lib/__tests__/safe-storage.test.ts
  apps/web/lib/safe-storage.ts
  apps/web/stores/__tests__/learner.persist.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: fail fast on Redis outages instead of stalling requests
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.ts
  apps/api/src/job-queue/redis.connection.spec.ts
  apps/api/src/job-queue/redis.connection.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop swallowed Prisma failures from reporting graded attempts as committed
  apps/api/src/api/attempt/services/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/helpers/sanitize-unicode.spec.ts
  apps/api/src/helpers/sanitize-unicode.ts
  apps/web/app/learner/(components)/Header.tsx
  patches/@instana+core+6.6.1.patch
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: deliver LTI grades only after the attempt commit persists
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

🫣
  .gitignore
Due: yarn secrets:check:staged, yarn format:staged

Fix/grading commit integrity (#650)
  .gitignore
  apps/api/src/api/attempt/services/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/helpers/sanitize-unicode.spec.ts
  apps/api/src/helpers/sanitize-unicode.ts
  apps/web/app/learner/(components)/Header.tsx
  patches/@instana+core+6.6.1.patch
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): unify render-time and DOM translation lookups, contain rescans
  apps/web/components/RouteUiTranslator.tsx
  apps/web/components/__tests__/RouteUiTranslator.test.tsx
  apps/web/hooks/__tests__/use-ui-translation.test.tsx
  apps/web/hooks/use-ui-translation.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix/lti sync after commit (#651)
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): translate the retake-cooldown message end to end
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/lib/__tests__/format-duration.test.ts
  apps/web/lib/format-duration.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
Due: yarn secrets:check:staged, yarn format:staged

fix(web): stop upload and grading churn re-scanning the route; harden tickers
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Question/PresentationGrader.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/components/FileUploader.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): single-source uiLang resolution; stop late mounts reverting a switch
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/hooks/__tests__/use-active-ui-language.test.tsx
  apps/web/hooks/use-active-ui-language.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): stop UI translator reverting live text to its first render (#629)
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Question/PresentationGrader.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/components/FileUploader.tsx
  apps/web/components/RouteUiTranslator.tsx
  apps/web/components/__tests__/RouteUiTranslator.test.tsx
  apps/web/hooks/__tests__/use-active-ui-language.test.tsx
  apps/web/hooks/__tests__/use-ui-translation.test.tsx
  apps/web/hooks/use-active-ui-language.ts
  apps/web/hooks/use-ui-translation.ts
  apps/web/lib/__tests__/format-duration.test.ts
  apps/web/lib/format-duration.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/index.ts
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): upgrade next to 16.3.3 for two critical advisories
  apps/web/config/types.ts
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): upgrade next to 16.3.3 for two critical advisories (#652)
  apps/web/config/types.ts
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat: grade notebook plots on their content, not just their presence
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-description-dedupe.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: route support tickets to the reporting portal's SN Support product
  .secrets.baseline
  apps/api/src/api/report/controllers/report.controller.spec.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/flo.service.ts
  apps/api/src/api/report/services/portal-lookup.service.spec.ts
  apps/api/src/api/report/services/portal-lookup.service.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/services/sn-support.service.spec.ts
  apps/api/src/api/report/services/sn-support.service.ts
  apps/api/src/api/report/services/support-routing.service.spec.ts
  apps/api/src/api/report/services/support-routing.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/__tests__/client-context.test.ts
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/client-context.ts
  apps/web/lib/report-client.ts
  helm-chart/mark/Chart.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(learner): stop post-submit bounce for non-English learners and 409 mislabel
  apps/api/src/api/attempt/services/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
  apps/web/lib/__tests__/learner.submit-conflict.test.ts
  apps/web/lib/learner.ts
  apps/web/stores/__tests__/learner.language.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(learner): stop post-submit bounce for non-English learners and 409 mislabel (#659)
  apps/api/src/api/attempt/services/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
  apps/web/lib/__tests__/learner.submit-conflict.test.ts
  apps/web/lib/learner.ts
  apps/web/stores/__tests__/learner.language.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(reports): harden portal routing and simplify client context
  apps/api/src/api/report/controllers/report.controller.spec.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/services/portal-lookup.service.spec.ts
  apps/api/src/api/report/services/portal-lookup.service.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/services/sn-support.service.spec.ts
  apps/api/src/api/report/services/sn-support.service.ts
  apps/api/src/api/report/services/support-routing.service.spec.ts
  apps/api/src/api/report/services/support-routing.service.ts
  apps/api/src/common/portal/portal-context.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/lib/__tests__/client-context.test.ts
  apps/web/lib/client-context.ts
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: route support tickets to the reporting portal's SN Support product (#657)
  .secrets.baseline
  apps/api/src/api/report/controllers/report.controller.spec.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/flo.service.ts
  apps/api/src/api/report/services/portal-lookup.service.spec.ts
  apps/api/src/api/report/services/portal-lookup.service.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/services/sn-support.service.spec.ts
  apps/api/src/api/report/services/sn-support.service.ts
  apps/api/src/api/report/services/support-routing.service.spec.ts
  apps/api/src/api/report/services/support-routing.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/__tests__/client-context.test.ts
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/client-context.ts
  apps/web/lib/report-client.ts
  helm-chart/mark/Chart.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: simplify structured grading and preserve fallback behavior
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/interfaces/prompt-processor.interface.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/services/structured-output.util.ts
  apps/api/src/api/llm/features/grading/services/__tests__/prompt-retry-context-length.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.citation.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.moderation.spec.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: preserve judge evidence and treat binaries as submitted artifacts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/compiled-artifact.util.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/core/utils/grading-cache-identity.util.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: use structured grading output and preserve grading evidence (#616)
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/compiled-artifact.util.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/utils/grading-cache-identity.util.ts
  apps/api/src/api/llm/core/utils/json-salvage.util.spec.ts
  apps/api/src/api/llm/core/utils/json-salvage.util.ts
  apps/api/src/api/llm/features/grading/services/__tests__/prompt-retry-context-length.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.citation.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.moderation.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.moderation.spec.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.moderation.spec.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.moderation.spec.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(redis): connect through Sentinel when REDIS_SENTINEL_HOSTS is set
  .env.template
  .secrets.baseline
  apps/api/.env.template
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/job-queue/redis.connection.spec.ts
  apps/api/src/job-queue/redis.connection.ts
  apps/jobs/.env.template
  apps/jobs/src/redis.connection.spec.ts
  apps/jobs/src/redis.connection.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: preserve quiz author sessions and recover shared editor access
  .env.template
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/jwt/cookie-based/author.session.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.spec.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/web/app/author/[assignmentId]/layout.test.tsx
  apps/web/app/author/[assignmentId]/layout.tsx
  apps/web/components/AuthorAccess.tsx
  apps/web/components/__tests__/AuthorAccess.test.tsx
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/api-client.ts
  apps/web/lib/author-session.ts
  apps/web/lib/shared.ts
  docs/cm-author-access.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Fix author workspace recovery after session expiry
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/components/__tests__/AuthorAccess.recovery.test.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix CM quiz author sessions and shared-link recovery (#661)
  .env.template
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/jwt/cookie-based/author.session.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.spec.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/[assignmentId]/layout.test.tsx
  apps/web/app/author/[assignmentId]/layout.tsx
  apps/web/components/AuthorAccess.tsx
  apps/web/components/__tests__/AuthorAccess.recovery.test.tsx
  apps/web/components/__tests__/AuthorAccess.test.tsx
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/api-client.ts
  apps/web/lib/author-session.ts
  apps/web/lib/shared.ts
  apps/web/stores/author.ts
  docs/cm-author-access.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Preserve learner sessions across author launches and repair preview grading
  apps/api-gateway/src/auth/jwt/cookie-based/author.session.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/__tests__/LearnerLayout.test.tsx
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/app/learner/utils/authorPreview.ts
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/author-session.ts
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
  apps/web/lib/shared.ts
  docs/cm-author-access.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Preserve unsaved preview content when settings are incomplete
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/app/learner/utils/authorPreview.ts
  docs/cm-author-access.md
Due: yarn secrets:check:staged, yarn format:staged

Preserve learner sessions after author launches and fix preview grading (#662)
  apps/api-gateway/src/auth/jwt/cookie-based/author.session.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/__tests__/LearnerLayout.test.tsx
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/app/learner/utils/authorPreview.ts
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/author-session.ts
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
  apps/web/lib/shared.ts
  docs/cm-author-access.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Let learners read their own submitted attempt after a new launch
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Show the real reason a results page cannot be loaded
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/attempt-error.test.ts
  apps/web/lib/__tests__/attempt-fetchers.test.ts
  apps/web/lib/attempt-error.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

Hide the results-page action when the launch carried no return URL
  apps/web/lib/attempt-error.ts
Due: yarn secrets:check:staged, yarn format:staged

Keep the id-parser comment attached to the parser
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Serve authored question content when a language has no translation
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Keep question formatting through translation
  apps/api/src/api/llm/features/translation/services/translation.service.markup.spec.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/llm/features/translation/utils/translatable-html.util.spec.ts
  apps/api/src/api/llm/features/translation/utils/translatable-html.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
