Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

added default value for num retries for each question + several UX/UI improvements
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: questionId doessn't start with 1 so I cant use it to get a specific index from questions list
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: added missing maxWords in getAssignmentAttempt
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

header is now fixed + improved design and simplicity of code for sticky + cleanup
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/app/author/layout.tsx
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: authors can delete Qs
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/learner/[assignmentId]/results/page.tsx
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added network policies
  helm-chart/mark/templates/_helpers.tpl
  helm-chart/mark/templates/ingress.yaml
  helm-chart/mark/templates/network-policies.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: allow egress to lti gateway in mark-api-policy
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat: added ability for unlimited numRetries
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

added comments
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: made numRetries optional
  apps/api/prisma/migrations/20231011145652_/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

fix: authors can now have questions with unlimited attempts
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix/feat: unauthorized users go to skills.network
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

publish button is disabled when textQuestion is incomplete + it also only shows when in step 2
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: bump helm chart to 1.0.1
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.1
  mark-1.0.1.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore: disable creating new release on PRs
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: ingress and egress ports in network policies
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat: when there are no questions, the page autopopulates it w 1 Q at least + cleanup
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

UX/UI: header looks and works better
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

layout issue fixes
  apps/web/app/author/layout.tsx
  apps/web/app/learner/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Delete mark-1.0.1.tgz
  mark-1.0.1.tgz
Due: yarn secrets:check:staged, yarn format:staged

Delete mark-1.0.0.tgz
  mark-1.0.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

Delete index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: egress rules for postgress db
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.0
  mark-1.0.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

chore: dont create helm release on PR
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: invalid name label for pgbouncer pod
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: removed empty page.tsx file
  apps/web/app/learner/[assignmentId]/results/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Update utils.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: allow egress traffic on port 443 for mark-api
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/templates/network-policies.yaml
Due: yarn secrets:check:staged, yarn format:staged

Update release-helm-chart.yml
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: replace assignment not replacing the db record completely
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

dropdown redesigned and fixed
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/components/Tooltip.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
