Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

fix: updated dto names to avoid confusion and conflicting types in swagger docs
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.assignment.to.group.response.dto.ts
  apps/api/src/api/admin/dto/assignment/clone.assignment.request.dto.ts
  apps/api/src/api/admin/dto/assignment/create.replace.assignment.request.dto.ts
  apps/api/src/api/admin/dto/assignment/get.assignment.response.dto.ts
  apps/api/src/api/admin/dto/assignment/update.assignment.request.dto.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

cleanup
  apps/web/public/next.svg
  apps/web/public/vercel.svg
Due: yarn secrets:check:staged, yarn format:staged

fix: question box width
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: use tailwind ui for select menus
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

make: the add question button more tailwind ui
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: refactored redundant assignment gradingType to graded boolean
  apps/api/.env.example
  apps/api/prisma/migrations/20230825182446_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

add: intro to mark
  apps/web/app/author/(components)/QuestionStartPage.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

add: packages for mark intro
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

add: typeanimation for question intro
  apps/web/app/author/(components)/QuestionStartPage.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

update: now delete multiple choice option button looks more tailwind ui
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Textbox.tsx
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

backend is fully connected and setup with the intro state of author assignment + done with structuring the architecture of the authors pages
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/[assignmentID]/page.tsx
  apps/web/app/author/[assignmentID]/questions/page.tsx
  apps/web/app/author/introduction/page.tsx
  apps/web/app/author/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/depreciated/page.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/stores/author.ts
  apps/web/tsconfig.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup author
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup learner + architecture of learner done. Time to connect it to backend
  apps/web/app/learner/(components)/Button.tsx
  apps/web/app/learner/(components)/LongFormQuestion.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/TestContainer.tsx
  apps/web/app/learner/[assignmentID]/page.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/app/learner/page.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix build (questionstartpage)
  apps/web/app/author/(components)/QuestionStartPage.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

undo my changes to multipleChoiceQuestion
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

intro page of learner now shows the right data
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/LongFormQuestion.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/app/learner/[assignmentID]/page.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

added all question types for the learner and fixed layout of all pages
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/[assignmentID]/page.tsx
  apps/web/app/author/layout.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/Button.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/app/learner/(components)/QuestionContainer.tsx
  apps/web/app/learner/(components)/TextQuestion.tsx
  apps/web/app/learner/(components)/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/UploadQuestion.tsx
  apps/web/app/learner/(components)/UrlQuestion.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/app/learner/layout.tsx
  apps/web/component.template.tsx
  apps/web/config/constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added maxWords property to questions
  apps/api/prisma/migrations/20230828021442_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: updated readme
  README.md
Due: yarn secrets:check:staged, yarn format:staged

fix: alignment for author questions
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/web/app/author/(components)/Textbox.tsx
  package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

seperate dropdown(question type menu) to an independent component
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: server error when deleting an assignment which doesn't exist
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: icon for dropdown.tsx
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

seperate multiple answer to a new component
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: dropdown icons for author
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/RubricTable.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

add: points for each option (multiple answer only for right now) author
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: multiple options position for author
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: points for multiple choice
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

changing port
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

fix: points input box and the button
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

UI changes
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/web/app/learner/(components)/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Upload Question Type Updated
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/QuestionContainer.tsx
  apps/web/app/learner/(components)/UploadQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

seperate written question in to writtenquestionview component for author
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: criteria table
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Url Questions Implemented
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/UrlQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

implementing backend feedback response
  apps/web/components/SubmitAnswer.tsx
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

make: criteria table prettier
  apps/web/app/author/(components)/RubricTable.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: add option button
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

add: ui prettier
  apps/web/app/author/(components)/RubricTable.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
