Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix(learner): read assignmentId from useParams in Header; close modal on bail
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat(learner): clean session-expired screen for 401
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/SessionExpired.tsx
  apps/web/components/__tests__/SessionExpired.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(learner): read assignmentId from useParams in Timer
  apps/web/app/learner/(components)/Question/Timer.tsx
Due: yarn secrets:check:staged, yarn format:staged

test(learner): failing test for Timer auto-submit on deep-link
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

test(learner): failing tests for Header deep-link submit
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): calm grade-sync messaging and drop retry-loop UI
  apps/web/components/GradeSyncStatus.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: re-enable playwright CI workflow
  .github/workflows/playwright.yml
  .secrets.baseline
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/auth/services/admin-email.service.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.cjs
  playwright.config.ts
  scripts/server-common.sh
  scripts/start-e2e.sh
  tests/author/assignment-settings.spec.ts
  tests/helpers/e2e-bootstrap.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  tests/setup/e2e.setup.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

add current branch for test run
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

use .nvmrc for playwright workflow node version
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

Install only chromium for playwright
  package.json
Due: yarn secrets:check:staged, yarn format:staged

feat(learner): clean access-restricted (403) screen
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/components/AccessRestricted.tsx
  apps/web/components/LearnerNotice.tsx
  apps/web/components/SessionExpired.tsx
  apps/web/components/__tests__/AccessRestricted.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

refactor(web): remove dead report chain from ErrorPage/ErrorModal
  apps/web/components/ErrorModal.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api-gateway): survive transient NATS connection errors
  apps/api-gateway/src/main.ts
  apps/api-gateway/src/process-error-guard.spec.ts
  apps/api-gateway/src/process-error-guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(learner): stop submission review marking two MCQ answers selected
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/choiceSelection.test.ts
  apps/web/app/learner/[assignmentId]/successPage/choiceSelection.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(attempt): use Fisher-Yates for answer-choice shuffle
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/question-variant/question-variant.service.ts
  apps/api/src/common/utils/shuffle.util.spec.ts
  apps/api/src/common/utils/shuffle.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(author): shuffle answer choices in learner preview
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/config/types.ts
  apps/web/lib/__tests__/shuffle.test.ts
  apps/web/lib/shuffle.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(learner): correct 401/403 error-screen routing and harden submit paths
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/SessionExpired.tsx
  apps/web/hooks/use-assignment-id.ts
  apps/web/lib/__tests__/error-screen.test.tsx
  apps/web/lib/error-screen.tsx
Due: yarn secrets:check:staged, yarn format:staged

made error msg less cringe
  apps/web/components/AccessRestricted.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): restore 'relaunch the assignment' copy in AccessRestricted
  apps/web/components/AccessRestricted.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore(web): remove dead code with no importers
  apps/web/app/admin/components/DashboardFilters.tsx
  apps/web/app/admin/components/OptimizedAdminDashboard.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/chatbot/lib/baseFunctionDefs.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(web): delete unused FileExplorer, version-control, and depreciated code
  apps/web/components/FileExplorer/BreadcrumbNav.tsx
  apps/web/components/FileExplorer/ContextMenu.tsx
  apps/web/components/FileExplorer/FileCard.tsx
  apps/web/components/FileExplorer/FileExplorer.tsx
  apps/web/components/FileExplorer/FileList.tsx
  apps/web/components/FileExplorer/FileProperties.tsx
  apps/web/components/FileExplorer/FolderContextMenu.tsx
  apps/web/components/FileExplorer/FolderTree.tsx
  apps/web/components/FileExplorer/RenameDialog.tsx
  apps/web/components/FileExplorer/SearchBar.tsx
  apps/web/components/FileExplorer/SearchResults.tsx
  apps/web/components/FileExplorer/SelectedFilesBar.tsx
  apps/web/components/FileExplorer/Toolbar.tsx
  apps/web/components/FileExplorer/hooks/useFileExplorer.ts
  apps/web/components/FileExplorer/index.ts
  apps/web/components/FileExplorer/utils/fileActions.ts
  apps/web/components/depreciated/FeedbackMessage.tsx
  apps/web/components/depreciated/PageComponent.tsx
  apps/web/components/depreciated/RubricTable.tsx
  apps/web/components/depreciated/SingleAnswerSection.tsx
  apps/web/components/depreciated/SubmitAnswer.tsx
  apps/web/components/depreciated/page.tsx
  apps/web/components/depreciated/useAutosave.ts
  apps/web/components/version-control/QuickVersionActions.tsx
  apps/web/components/version-control/VersionComparison.tsx
  apps/web/components/version-control/VersionControlPanel.tsx
  apps/web/components/version-control/VersionControlTab.tsx
  apps/web/components/version-control/VersionHistory.tsx
  apps/web/components/version-control/VersionSelector.tsx
  apps/web/components/version-control/VersionStatus.tsx
  apps/web/components/version-control/index.ts
Due: yarn secrets:check:staged, yarn format:staged

perf(web): lazy-load UI translation dictionaries
  apps/web/lib/static-ui-translations/index.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(grading): add ENABLE_PDF_STRUCTURED_EXTRACTION kill switch
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): grade invalid URL submissions instead of failing the job
  apps/api/src/api/attempt/common/strategies/__tests__/url-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): remove dead pdfjs page.render() that crashed workers
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.image-extraction.spec.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): keep worker alive on unhandled rejection / uncaught exception
  apps/jobs/src/main.ts
  apps/jobs/src/process-safety.spec.ts
  apps/jobs/src/process-safety.ts
Due: yarn secrets:check:staged, yarn format:staged

pdfjs bump for reading sake
  apps/jobs/src/pdfjs-version.spec.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Diagnose Install Playwright Browsers step issue
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

bump @playwright/test to 1.60.0
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

clean up debug code
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

remove current branch from on push triggers
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

fix(api): point Docker CMD at dist/main.js after tsconfig include change
  apps/api/Dockerfile
  local-test/api.Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

ci: run Playwright E2E in build-images, gate PRs only
  .github/workflows/build-images.yml
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

adding telemetry for ai
  apps/api/.env.template
  apps/api/package.json
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/instrumentation.ts
  apps/api/src/main.ts
  apps/api/src/observability/gen-ai-observability.spec.ts
  apps/api/src/observability/gen-ai-observability.ts
  helm-chart/mark/templates/api/deployment.yaml
  helm-chart/mark/values.yaml
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

package vulnerability fixes
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.cap.spec.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/__tests__/ErrorPage.test.tsx
  apps/web/lib/error-screen.tsx
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

instana connect fix
  apps/api/src/instrumentation.ts
  apps/api/src/observability/gen-ai-observability.ts
  apps/jobs/package.json
  apps/jobs/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

modest timeout bump
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: question reclassification error
  .secrets.baseline
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): add Instana job-tracing helper and queue-depth sampler
  apps/jobs/src/instrumentation/instana-job-tracing.spec.ts
  apps/jobs/src/instrumentation/instana-job-tracing.ts
  apps/jobs/src/instrumentation/queue-depth-sampler.spec.ts
  apps/jobs/src/instrumentation/queue-depth-sampler.ts
Due: yarn secrets:check:staged, yarn format:staged

build(jobs): add @instana/collector and bootstrap it in the worker
  apps/jobs/package.json
  apps/jobs/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged
