Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

perf: cache assignment attempt access payloads and reduce launch query overhead
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Added auth expired handler
  apps/api/.env.template
  apps/api/prisma/migrations/20260427120000_add_lti_sync_auth_expired_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/attempt/lti-sync.module.spec.ts
  apps/api/src/api/attempt/lti-sync.module.ts
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/logger/redact.spec.ts
  apps/api/src/logger/redact.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

update logging for playwright tests
  tests/helpers/assignment-helpers.ts
  tests/helpers/e2e-bootstrap.ts
Due: yarn secrets:check:staged, yarn format:staged

Disable translation dropdown in author preview
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/__tests__/Dropdown.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

update API readiness check
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

update logging
  scripts/start-e2e.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

Disable per-question and cover-page language pickers in author preview
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

Added contrast
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix/s3 chunking refactor and fix (#308)
  .secrets.baseline
  apps/api/prisma/migrations/20260422152403_add_assignment_file_multipart_state/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.spec.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/files/dto/upload.dto.spec.ts
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/files.module.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/config/types.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

admin session fix
  apps/api/src/auth/controllers/admin-auth.controller.ts
  apps/api/src/auth/services/admin-verification.service.ts
  apps/web/app/admin/components/AdminLogin.tsx
  apps/web/app/admin/insights/[id]/page.tsx
  apps/web/app/admin/llm-assignments/page.tsx
  apps/web/app/admin/page.tsx
  apps/web/lib/admin-session.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

admin session fix
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/web/components/FileUploadModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

node version and minor fixes patch
  .github/workflows/playwright.yml
  apps/api-gateway/package.json
  apps/api/package.json
  scripts/start-e2e.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

minor patch
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged

var patch
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

server logs patch
  scripts/start-e2e.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

playwright logs patch
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

run e2e tests on single browser
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

harden grading path: redelivery guard, finalization reorder, lock telemetry
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/job-queue/job-state.service.spec.ts
  apps/api/src/job-queue/job-state.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

harden grading path: composite-keyed progress callbacks with try/finally cleanup
  apps/api/src/api/attempt/lti-sync.module.ts
  apps/api/src/api/attempt/services/__tests__/grading-progress.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/jobs/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

wait for web app to launch tests
  playwright.config.ts
  tests/learner/assignment-start.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

wait for web app to launch tests 2
  playwright.config.ts
  tests/setup/e2e.setup.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix workflow patch
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

playwright logs
  .github/workflows/playwright.yml
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

replace yarn with exec
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

webserver patch 2
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

run services seperately
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

cleanup patch
  .github/workflows/playwright.yml
  playwright.config.ts
Due: yarn secrets:check:staged, yarn format:staged

remove testing push branch
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: prevent stack overflow in evidence-block construction and classify non-HttpException grading errors as 5xx
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

Harden admin dashboard userId handling, file upload paths, and request logging
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/dto/dashboard-stats-query.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/path-sanitizer.spec.ts
  apps/api/src/api/files/services/path-sanitizer.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
  apps/api/src/logger/logger.middleware.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Validate admin dashboard userId filter as an email rather than a UUID
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/dto/dashboard-stats-query.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

NaN checks
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/files/services/path-sanitizer.spec.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Persist AI usage token counters as bigints to match the schema
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
