Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Take the chat role and identity from the session, not the request body
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/dto/chat-request.dto.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/api/user/tests/unit/controllers/chat.controller.spec.ts
  apps/api/src/api/user/tests/unit/services/mark-chat.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Publish mark 1.4.13
  index.yaml
  mark-1.4.13.tgz
Due: yarn secrets:check:staged, yarn format:staged

fix: file unrouted support tickets under Mark's own product instead of Portals
  apps/api/src/api/report/services/support-routing.service.spec.ts
  apps/api/src/api/report/services/support-routing.service.ts
  helm-chart/mark/Chart.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Add detect-secrets scanning (SKILLS-131558)
  .husky/pre-commit
  .secrets.baseline
Due: yarn secrets:check:staged, yarn format:staged

Add detect-secrets scanning (SKILLS-131558) (#665)
  .husky/pre-commit
  .secrets.baseline
Due: yarn secrets:check:staged, yarn format:staged

fix: address adversarial triage review findings
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/grading-consistency.service.spec.ts
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/attempt/common/strategies/__tests__/grading-boundaries.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.ts
  apps/api/src/api/attempt/common/utils/translation-language.util.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.xlsx-hardening.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/grading/grading-query-count.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.spec.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
  apps/api/src/api/github/github-credential-check.service.spec.ts
  apps/api/src/api/github/github-credential-check.service.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/__tests__/attempt-clock.integration.test.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: audit false positives from full branch secret scan
  .secrets.baseline
Due: yarn secrets:check:staged, yarn format:staged

fix: use fixed GitHub App callbacks across assignments
  .secrets.baseline
  apps/api/src/api/github/dto/github-oauth.dto.ts
  apps/api/src/api/github/github-oauth-state.service.ts
  apps/api/src/api/github/github.controller.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  apps/web/app/api/github/callback/__tests__/route.test.ts
  apps/web/app/api/github/callback/route.ts
  apps/web/app/learner/(components)/Question/GithubUploadModal.tsx
  apps/web/app/learner/(components)/Question/__tests__/GithubUploadModal.test.tsx
  apps/web/lib/__tests__/github-oauth.test.ts
  apps/web/lib/github-oauth.ts
  docs/github-app-callback.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: paginate GitHub repositories and preserve owner selection
  .secrets.baseline
  apps/web/app/learner/(components)/Question/GithubUploadModal.tsx
  apps/web/app/learner/(components)/Question/__tests__/GithubUploadModal.test.tsx
  apps/web/lib/__tests__/github-repositories.test.ts
  apps/web/lib/github-repositories.ts
Due: yarn secrets:check:staged, yarn format:staged

Support GitHub App callbacks and complete repository listing (#666)
  .secrets.baseline
  apps/api/src/api/github/dto/github-oauth.dto.ts
  apps/api/src/api/github/github-oauth-state.service.ts
  apps/api/src/api/github/github.controller.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  apps/web/app/api/github/callback/__tests__/route.test.ts
  apps/web/app/api/github/callback/route.ts
  apps/web/app/learner/(components)/Question/GithubUploadModal.tsx
  apps/web/app/learner/(components)/Question/__tests__/GithubUploadModal.test.tsx
  apps/web/lib/__tests__/github-oauth.test.ts
  apps/web/lib/__tests__/github-repositories.test.ts
  apps/web/lib/github-oauth.ts
  apps/web/lib/github-repositories.ts
  docs/github-app-callback.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: add shared rich-text package with Quill-to-TipTap normalization rules
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/jest.config.js
  apps/web/lib/__tests__/rich-text-normalize.test.ts
  apps/web/lib/__tests__/utils.rich-text-empty.test.ts
  apps/web/lib/utils.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
  packages/rich-text/jest.config.js
  packages/rich-text/package.json
  packages/rich-text/src/__fixtures__/index.ts
  packages/rich-text/src/index.ts
  packages/rich-text/src/is-empty.test.ts
  packages/rich-text/src/is-empty.ts
  packages/rich-text/src/normalize/index.ts
  packages/rich-text/src/normalize/normalize.test.ts
  packages/rich-text/src/normalize/parse.ts
  packages/rich-text/src/normalize/rules/block-indent.ts
  packages/rich-text/src/normalize/rules/code-blocks.ts
  packages/rich-text/src/normalize/rules/embeds.ts
  packages/rich-text/src/normalize/rules/inline-colors.ts
  packages/rich-text/src/normalize/rules/lists.ts
  packages/rich-text/src/normalize/rules/strip-editor-chrome.ts
  packages/rich-text/src/normalize/rules/tables.ts
  packages/rich-text/src/normalize/test-parser.ts
  packages/rich-text/src/normalize/types.ts
  packages/rich-text/tsconfig.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: keep author previews in author context on the results page
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/author-session.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: serve translated choices on shuffled attempts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test: grade a non-English learner's pick on a shuffled attempt
  apps/api/src/api/attempt/common/strategies/__tests__/grading-boundaries.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: serve translated choices on shuffled attempts (#673)
  apps/api/src/api/attempt/common/strategies/__tests__/grading-boundaries.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: keep author previews in author context on the results page (#674)
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/lib/__tests__/author-session.test.ts
  apps/web/lib/author-session.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(web): add TipTap extensions, toolbar config and syntax highlighting
  apps/web/jest.setup.js
  apps/web/lib/rich-text/__tests__/rich-text-limits.test.ts
  apps/web/lib/rich-text/__tests__/schema-round-trip.test.ts
  apps/web/lib/rich-text/__tests__/toolbar-parity.test.ts
  apps/web/lib/rich-text/extensions.ts
  apps/web/lib/rich-text/extensions/rich-text-limits.ts
  apps/web/lib/rich-text/extensions/text-direction.ts
  apps/web/lib/rich-text/extensions/video.ts
  apps/web/lib/rich-text/lowlight.ts
  apps/web/lib/rich-text/toolbar-config.ts
  apps/web/next.config.js
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat(web): render stored rich text through TipTap-shaped markup and CSS
  apps/web/app/globals.css
  apps/web/app/rich-text.css
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged

test: add real-content validator for the rich-text rules
  apps/web/lib/__tests__/rich-text-normalize.test.ts
  packages/rich-text/scripts/validate-rows.js
  packages/rich-text/src/normalize/parse.ts
  packages/rich-text/src/normalize/rules/inline-colors.ts
  packages/rich-text/src/normalize/test-parser.ts
  packages/rich-text/src/normalize/types.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: keep decoded text fields as the text that was sent
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: scope learner answer drafts to one attempt
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/__tests__/learner.persist.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: keep decoded text fields as the text that was sent (#676)
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: attach hidden browser diagnostics to bug reports
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/logger/logger.middleware.ts
  apps/api/prisma/migrations/20260917210000_add_report_diagnostics/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/report/controllers/report.controller.spec.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/helpers/report-diagnostics.spec.ts
  apps/api/src/api/report/helpers/report-diagnostics.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/web/app/admin/components/ReportDiagnosticsPanel.tsx
  apps/web/app/admin/components/ReportsTable.tsx
  apps/web/app/admin/components/__tests__/ReportDiagnosticsPanel.test.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/modals/ReportModal.tsx
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/__tests__/report-diagnostics.test.ts
  apps/web/lib/__tests__/request-log.test.ts
  apps/web/lib/report-client.ts
  apps/web/lib/report-diagnostics.ts
  apps/web/lib/request-log.ts
  apps/web/lib/shared.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: translate assignment titles from the active version
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment-live-text.spec.ts
  apps/api/src/shared.module.ts
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: serve English learners the authored choices, not the stored en row
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: serve English learners the authored choices, not the stored en row (#679)
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: attach hidden browser diagnostics to bug reports (#680)
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/logger/logger.middleware.ts
  apps/api/prisma/migrations/20260917210000_add_report_diagnostics/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/report/controllers/report.controller.spec.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/helpers/report-diagnostics.spec.ts
  apps/api/src/api/report/helpers/report-diagnostics.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/web/app/admin/components/ReportDiagnosticsPanel.tsx
  apps/web/app/admin/components/ReportsTable.tsx
  apps/web/app/admin/components/__tests__/ReportDiagnosticsPanel.test.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/modals/ReportModal.tsx
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/__tests__/report-diagnostics.test.ts
  apps/web/lib/__tests__/request-log.test.ts
  apps/web/lib/report-client.ts
  apps/web/lib/report-diagnostics.ts
  apps/web/lib/request-log.ts
  apps/web/lib/shared.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: translate the text that was just published, not the previous version
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.published-text.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: translate assignment titles from the active version (#678)
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.published-text.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment-live-text.spec.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.types.ts
  apps/api/src/shared.module.ts
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(build): resolve ts-node at the root and build deps before lint
  apps/jobs/jest.config.ts
  package.json
  turbo.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat(web): replace Quill with TipTap editor and drop the dependency
  apps/web/app/globals.css
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/page.error-status.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/results-connection-problem.test.tsx
  apps/web/app/rich-text.css
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
  apps/web/components/__tests__/RichTextEditor.test.tsx
  apps/web/components/rich-text/RichTextEditor.tsx
  apps/web/components/rich-text/toolbar/Toolbar.tsx
  apps/web/components/rich-text/toolbar/ToolbarButton.tsx
  apps/web/components/rich-text/toolbar/popovers.tsx
  apps/web/lib/rich-text/extensions/text-direction.ts
  apps/web/lib/sanitize-html.ts
  apps/web/package.json
  tests/author/assignment-overview.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: clear GitHub file picks alongside attempt drafts
  .secrets.baseline
  apps/web/app/learner/(components)/Question/FileCodeUploadSection.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: file unrouted support tickets under Mark's own product instead of Portals (#663)
  apps/api/src/api/report/services/support-routing.service.spec.ts
  apps/api/src/api/report/services/support-routing.service.ts
  helm-chart/mark/Chart.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: scope learner answer drafts to one attempt (#677)
  .secrets.baseline
  apps/web/app/learner/(components)/Question/FileCodeUploadSection.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/__tests__/learner.persist.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

ci: squash-merge dependabot PRs instead of merge commits
  .github/workflows/dependabot-auto-approve.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: resolve npm updates from the workspace root so the lockfile moves too
  .github/dependabot.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: make dependabot auto-merge work and keep yarn.lock in sync (#681)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: build workspace deps before lint and restore patched deps
  .github/workflows/build-images.yml
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Add GPT-6 Luna routing and fix grading evidence and judge rubrics
  apps/api/prisma/migrations/20260922120000_add_gpt6_luna/migration.sql
  apps/api/prisma/migrations/20260922121000_switch_luna_assignments/migration.sql
  apps/api/src/api/llm/core/services/gpt6-luna-llm.service.spec.ts
  apps/api/src/api/llm/core/services/gpt6-luna-llm.service.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.calculate-cost-batch.spec.ts
  apps/api/src/api/llm/core/services/llm-pricing.service.ts
  apps/api/src/api/llm/core/services/llm-provider-multi-image.spec.ts
  apps/api/src/api/llm/core/services/llm-provider-request-options.spec.ts
  apps/api/src/api/llm/core/services/openai-effort-none-llm.base.ts
  apps/api/src/api/llm/core/utils/grading-cache-identity.util.spec.ts
  apps/api/src/api/llm/core/utils/grading-cache-identity.util.ts
  apps/api/src/api/llm/features/grading/services/content-summarization.service.spec.ts
  apps/api/src/api/llm/features/grading/services/content-summarization.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
  apps/api/src/api/llm/llm.module.ts
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
