Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix(api): unblock unit tests without REDIS_URL or .env
  apps/api/jest.config.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): raise translation CONCURRENCY_LIMIT 50 -> 200
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): activate version when publishing it
  apps/api/src/api/assignment/v2/controllers/version-management.controller.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Old path compatibility
  apps/api/src/api/llm/core/services/llm-resolver.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): declare api as workspace dep so turbo prune ships api source
  apps/jobs/package.json
Due: yarn secrets:check:staged, yarn format:staged

feat(api): ENABLE_LTI_SCHEDULER env gate to prevent cron double-fire
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.spec.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): per-job read cache + N+1 fix on grading hot path
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading/grading-query-count.spec.ts
  apps/api/src/api/attempt/services/grading/job-scoped-cache.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): mark-jobs local execution + JOBS_EXECUTE_LOCALLY flag routing
  apps/jobs/.env.template
  apps/jobs/.eslintrc.cjs
  apps/jobs/jest.config.ts
  apps/jobs/src/app.module.integration.spec.ts
  apps/jobs/src/app.module.spec.ts
  apps/jobs/src/app.module.ts
  apps/jobs/src/default-off-flag.spec.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/jobs/test/__mocks__/file-type.ts
  apps/jobs/tsconfig.json
  helm-chart/mark-jobs/values.yaml
  test-support/postgres-test-harness.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(job-queue): add translation queue + 3 job names to constants
  apps/api/src/job-queue/job-queue.constants.ts
  apps/jobs/src/job-queue.constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): correct Docker CMD path after dist tree-mirror restructure
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(jobs): generate prisma client in Docker installer stage
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, hadolint

feat(api): add typed payload interfaces for translation jobs
  apps/api/src/job-queue/job-queue.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): defensive optional chain on ENABLE_TRANSLATION env access
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): use Winston as the Nest logger in mark-jobs bootstrap
  apps/jobs/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: add dedupe runbook for Translation rows pre-migration
  scripts/dedupe-translation-rows.ts
Due: yarn secrets:check:staged, yarn format:staged

refactor(api): delete three orphaned methods from TranslationService
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): add translationStatus marker to AttemptQuestionDto
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): add partial unique indexes to Translation with pre-condition assertion
  apps/api/prisma/migrations/20260510000001_translation_partial_unique/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

refactor(api): hoist learner translation lookup + add in-flight marker
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

docs(api): annotate Translation model with partial-unique-index intent
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add translation-state Redis helper for in-flight language SISMEMBER
  apps/api/src/api/assignment/attempt/translation-state-redis.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): register translation BullMQ worker on dedicated queue
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/publish-job-result.types.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/jobs/.env.template
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor(api): restore TranslationService methods removed prematurely
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): unblock CI for the translation cutover
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): override undici bodyTimeout on worker→api forward
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(web): consume publish SSE PublishJobResult + render translation affordances
  apps/web/app/author/(components)/Header/PublishProgress.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/config/types.ts
  apps/web/lib/author.ts
  apps/web/types/publish-job-result.ts
Due: yarn secrets:check:staged, yarn format:staged

fixing workflow errors
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): stop publish-progress flicker caused by browser translator
  apps/web/app/author/(components)/Header/PublishProgress.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api): atomic, race-free job state writes
  apps/api/src/job-queue/job-state.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): translation publish correctness + bulk INSERT (rc15)
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/translation-log-shape.spec.ts
  apps/api/src/api/assignment/v2/services/translation-payload-safety.runtime.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/jobs/src/translation-payload-safety.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): reconnect to in-flight publish after page refresh
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/author.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(jobs): align dist tree paths with mirrored source layout
  apps/jobs/nest-cli.json
  apps/jobs/package.json
Due: yarn secrets:check:staged, yarn format:staged

fix(web): keep version-tree header visible on small screens
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged

style(web): apply prettier formatting to TERMINAL_STATUSES
  apps/web/app/author/(components)/Header/PublishProgress.tsx
Due: yarn secrets:check:staged, yarn format:staged

test(api): stub markPending on the TranslationService mock factory
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): skip poll loop and in-flight seed on no-work publish
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
