Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fet: authors can now create assignment questions with unlimited attempts
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/[assignmentID]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactored text question creation and commented other question types
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/SingleAnswerSection.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/TextQuestion.tsx
  apps/web/app/learner/(components)/TrueFalseQuestion.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

temporary fix for word count not updating
  apps/web/components/MarkDownEditor.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

add: extendable rubric chart component
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/RubricTable.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentID]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

remove hardcoded textbox
  apps/web/app/author/[assignmentID]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: removed redundant .env.local
  apps/api/dev.env
  apps/api/src/main.ts
  apps/web/.env.local
  apps/web/next.config.js
  dev.env
  package.json
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

UX/UI: delete btn and question number is now sticky
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/[assignmentID]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

make: extendable rubric chart prettier
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: migrated to new scoring criteria
  apps/api/prisma/migrations/20230905183720_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/question/custom-validator/scoring.criteria.validator.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/submission/api-exceptions/exceptions.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/api/llm/templates.ts
  apps/api/src/assets/schema/assignment-example.json
  dev.env
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

removed .vscode folder and added it to gitignore
  .gitignore
  apps/web/.vscode/diff/vulsCount.txt
  apps/web/.vscode/settings.json
Due: yarn secrets:check:staged, yarn format:staged

title now shows in the header
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/[assignmentID]/page.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/lib/utils.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Update apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update apps/api/src/auth/role/roles.global.guard.ts
  apps/api/src/auth/role/roles.global.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update apps/api/src/app.module.ts
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: author header now actually does something when clicked
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/[assignmentID]/page.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Update apps/web/app/page.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: broken commit
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: updated api docs for criteria
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: set numAttempts, attemptsPerTimeRange and attemptsTimeRange to optional
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: accounted for edge cases
  apps/api/src/api/assignment/submission/submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: lint issues
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/create.token.request.dto.ts
  apps/api/src/api/assignment/question/custom-validator/scoring.criteria.validator.ts
  apps/api/src/auth/role/roles.global.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: added suggested changes
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

chore: schema fields naming changes
  apps/api/prisma/migrations/20230906031512_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/get.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

revert: added dummy openai key back to jest config
  apps/api/jest.config.ts
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: criteria text bar
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/[assignmentID]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: width of Rubric Table Component
  apps/web/app/author/(components)/RubricTable.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

make: assignment creator ui prettier
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed types for learners side > questions > choice Qs > submission
  apps/web/.env.local
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/TrueFalseQuestion.tsx
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

remove: criteria textbox section (temp)
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanups to the author side
  apps/api/dev.env
  apps/web/app/author/(components)/SingleAnswerSection.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/component.template.tsx
  apps/web/next.config.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanups to the learner side
  apps/web/app/learner/(components)/FeedbackMessage.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/components/SubmitAnswer.tsx
  apps/web/config/constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

silly mistake
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: made lis_outcome_service_url and lis_result_sourcedid as optional
  apps/api/src/api/admin/dto/create.token.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

remove: add criteria
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: renamed allotedTime and allotedTimeRange
  apps/api/prisma/migrations/20230913152741_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/assets/schema/assignment-example.json
  apps/api/src/assets/schema/assignment-schema.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
