Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

chore: added suggested changes
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: schema fields naming changes
  apps/api/prisma/migrations/20230906031512_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/get.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

revert: added dummy openai key back to jest config
  apps/api/jest.config.ts
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: made lis_outcome_service_url and lis_result_sourcedid as optional
  apps/api/src/api/admin/dto/create.token.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: renamed allotedTime and allotedTimeRange
  apps/api/prisma/migrations/20230913152741_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/assets/schema/assignment-example.json
  apps/api/src/assets/schema/assignment-schema.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactored question response criteria
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/question/helper/grading.helper.ts
  apps/api/src/api/assignment/submission/dto/question-response/create.question.response.submission.response.dto.ts
  apps/api/src/api/assignment/submission/helper/submission.helper.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: prisma schema comments update
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

revert: add criteria button
  apps/api/dev.env
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

revert: dev.env
  apps/api/dev.env
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged

fix: handling ongoing submission when expiresAt is null
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/submission/submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added gradingCallbackRequired field to handle lti grading callback when required
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/create.token.request.dto.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/auth/interfaces/user.interface.ts
  apps/api/src/auth/jwt/jwt.strategy.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: updated default API_PORT
  apps/web/next.config.js
Due: yarn secrets:check:staged, yarn format:staged

feat: added jwt cookie and bearer token based authentication
  .secrets.baseline
  apps/api-gateway/dev.env
  apps/api-gateway/package.json
  apps/api-gateway/src/api/api.controller.ts
  apps/api-gateway/src/api/api.module.ts
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/auth/auth.module.ts
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/admin/utils.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/dynamic.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/dynamic.jwt.cookie.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api-gateway/src/auth/role/roles.global.guard.ts
  apps/api-gateway/src/main.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: lint issues
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/dynamic.jwt.bearer.token.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: nest tests
  apps/api-gateway/src/api/api.controller.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

refactor: removed auth and added a user session middleware to handle user session data
  apps/api/dev.env
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/create.token.request.dto.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/submission/guards/assignment.submission.access.control.guard.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
  apps/api/src/auth/jwt/admin/jwt.admin.auth.guard.ts
  apps/api/src/auth/jwt/admin/jwt.admin.strategy.ts
  apps/api/src/auth/jwt/admin/mock.jwt.admin.auth.guard.ts
  apps/api/src/auth/jwt/admin/utils.ts
  apps/api/src/auth/jwt/jwt.config.service.ts
  apps/api/src/auth/jwt/jwt.global.auth.guard.ts
  apps/api/src/auth/jwt/jwt.strategy.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/api/src/auth/role/roles.global.guard.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: UserSessionMiddleware mistakenly added to all routes
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: user-session header handling
  apps/api/src/auth/middleware/user.session.middleware.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: user-session header parsing
  apps/api/src/auth/middleware/user.session.middleware.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added user session obj to headers for Mark API
  apps/api-gateway/dev.env
  apps/api-gateway/src/api/api.controller.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/dynamic.jwt.cookie.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

fix: renamed conflicting env port names
  apps/api-gateway/dev.env
  apps/api-gateway/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: eslint issues
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/jwt/cookie-based/dynamic.jwt.cookie.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: added missing UserSessionMiddleware route
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: updated gitignore
  .gitignore
Due: yarn secrets:check:staged, yarn format:staged

chore: refactor submissions resource to attempts resource
  apps/api/dev.env
  apps/api/prisma/migrations/20230918181319_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.module.ts
  apps/api/src/api/assignment/attempt/api-exceptions/exceptions.ts
  apps/api/src/api/assignment/attempt/attempt.controller.spec.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/base.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/create.update.assignment.attempt.request.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/update.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/get.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question/get.assignment.attempt.questions.response.dto.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/assignment/question/helper/grading.helper.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: updated API_GATEWAY_PORT env
  apps/web/next.config.js
  dev.env
Due: yarn secrets:check:staged, yarn format:staged

fix: axios error handling
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: problematic headers issue
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: auth guard 403 errors
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: linting issues
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: linting issues
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: nest tests
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: now we use single criteria rather than multiple criteria
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: specify the data type of props in WrittenQuestionView
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

deleted prisma stuff to resolve conflicts
  apps/api/prisma/migrations/20230913152741_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

added back the code that somehow got deleted
  apps/web/app/error.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/Breadcrumbs.tsx
  apps/web/app/learner/(components)/InfoLine.tsx
  apps/web/app/loading.tsx
  apps/web/app/not-found.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/SNIcon.tsx
  apps/web/components/depreciated/PageComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
