Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

fix: removed hardcoded www.example.com
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "reverted rui changes"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "add: point feature for each written question""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Merge branch 'setup-frontend' of https://github.com/ibm-skills-network/mark into setup-frontend"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "feat: new padding for criteria textarea""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "feat: criteria textbox is now expandable""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "fix: textarea expand scroll broken""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "update: new svg for delete button""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "feat: there are now two criteria by default""
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

add: points for written question
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: entrypoint.sh for web
  apps/web/entrypoint.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

fix: docker files paths for release action
  .github/workflows/release.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: correct image names for apps
  .github/workflows/release.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: we use the maximum points rather than the sum of points
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: inconsistent border color
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: points should be sticky
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: props build error
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: width of the criteria textarea
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: overview now works w backend
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: overview shows unedited questions as wrong
  apps/web/app/learner/(components)/Overview.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: refactored image registry to skills-network instead of skills-network-labs
  .github/workflows/release.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: points css format and input bar
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: bump prisma to 5.3.1
  apps/api/dev.env
  apps/api/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

added healthcheck for nextJS backend
  apps/web/app/health/route.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: now we have buttons to auto scroll to respective questions for assignment creators
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: updated api entrypoint to create db if it doesn't exist
  apps/api/ensureDb.js
  apps/api/entrypoint.sh
  apps/api/tsconfig.build.json
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

fix: exclude esureDb.js from linting
  apps/api/.eslintrc.cjs
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged

fix: lint error for assignment creator
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: breakdown for assignment creator
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: copy ensureDb.js in Dockerfile
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: ensureDb script issues
  apps/api/ensureDb.js
Due: yarn secrets:check:staged, yarn format:staged

debug: temp dockerfile command
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

debug: add nano temporarily
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: ensureDb script error
  apps/api/Dockerfile
  apps/api/ensureDb.js
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: removed temp Dockerfile command
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: targetDatabase regex in ensureDb.js
  apps/api/ensureDb.js
Due: yarn secrets:check:staged, yarn format:staged

svg has been reactified
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/components/SNIcon.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

leanrer: added default texts when there is no data about the assignent
  apps/web/app/learner/(components)/AssignmentOverview.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: bumb nextjs v to 13.5
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
