Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

Fix CI dependency loading and isolate workspace test jobs
  .github/workflows/build-images.yml
  apps/api/package.json
  apps/api/src/api/report/services/report.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Use Luna for generation and translation and validate media grading
  apps/api/prisma/migrations/20260922220000_use_luna_for_generation_and_translation/migration.sql
  apps/api/src/api/llm/features/grading/services/media-grading-validation.spec.ts
  apps/api/src/api/llm/features/grading/services/media-grading-validation.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: preserve text responses for GitHub URL grading
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): treat an omitted learnerAnswerChoice as a blank answer
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): clear author preview progress callback before terminal write
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: preserve source metadata for GitHub file submissions
  apps/web/stores/__tests__/learner.file-metadata.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: preserve source metadata for GitHub file submissions (#696)
  apps/web/stores/__tests__/learner.file-metadata.test.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): declare canvas, which is imported but was never a dependency
  apps/api/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(build): scope lint's build dep and stub canvas for jobs tests
  apps/jobs/jest.config.ts
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged

fix(web): explain LMS display delay after grade sync
  apps/web/components/GradeSyncStatus.tsx
  apps/web/components/__tests__/GradeSyncStatus.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): explain LMS display delay after grade sync (#697)
  apps/web/components/GradeSyncStatus.tsx
  apps/web/components/__tests__/GradeSyncStatus.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

refactor(web): one toolbar table, shared prepare-stored-html
  .secrets.baseline
  apps/web/app/layout.tsx
  apps/web/app/rich-text.css
  apps/web/components/FeedbackFormatter.tsx
  apps/web/components/__tests__/RichTextEditor.test.tsx
  apps/web/components/rich-text/RichTextEditor.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/components/rich-text/toolbar/Toolbar.tsx
  apps/web/components/rich-text/toolbar/ToolbarButton.tsx
  apps/web/components/rich-text/toolbar/popovers.tsx
  apps/web/lib/rich-text/__tests__/toolbar-parity.test.ts
  apps/web/lib/rich-text/prepare-stored-html.ts
  apps/web/lib/rich-text/toolbar-config.ts
  packages/rich-text/README.md
Due: yarn secrets:check:staged, yarn format:staged

docs(jobs): correct the canvas stub comment now that api declares it
  apps/jobs/jest.config.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(ci): build the shared rich-text package before the e2e service builds
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

refactor(web): drop the markdown-named shims and fold extensions into its directory
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/QuestionContainer.test.tsx
  apps/web/app/learner/(components)/Question/__tests__/TextQuestion.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/Question.github.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/Title.tsx
  apps/web/components/__tests__/RichTextViewer.test.tsx
  apps/web/components/rich-text/RichTextEditorClient.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/lib/rich-text/extensions/index.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): clear learner grading callback before the terminal job write
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix/blank response omitted fields (#694)
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(rich-text): shared package for reading the old editor's markup
  .github/workflows/build-images.yml
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/jobs/jest.config.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/jest.config.js
  apps/web/lib/__tests__/rich-text-normalize.test.ts
  apps/web/lib/__tests__/utils.rich-text-empty.test.ts
  apps/web/lib/utils.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
  package.json
  packages/rich-text/README.md
  packages/rich-text/jest.config.js
  packages/rich-text/package.json
  packages/rich-text/scripts/validate-rows.js
  packages/rich-text/src/__fixtures__/index.ts
  packages/rich-text/src/index.ts
  packages/rich-text/src/is-empty.test.ts
  packages/rich-text/src/is-empty.ts
  packages/rich-text/src/normalize/index.ts
  packages/rich-text/src/normalize/normalize.test.ts
  packages/rich-text/src/normalize/parse.ts
  packages/rich-text/src/normalize/rules/block-indent.ts
  packages/rich-text/src/normalize/rules/code-blocks.ts
  packages/rich-text/src/normalize/rules/embeds.ts
  packages/rich-text/src/normalize/rules/inline-colors.ts
  packages/rich-text/src/normalize/rules/lists.ts
  packages/rich-text/src/normalize/rules/strip-editor-chrome.ts
  packages/rich-text/src/normalize/rules/tables.ts
  packages/rich-text/src/normalize/test-parser.ts
  packages/rich-text/src/normalize/types.ts
  packages/rich-text/tsconfig.json
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): the TipTap editor, viewer and toolbar
  .secrets.baseline
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/rich-text.css
  apps/web/components/FeedbackFormatter.tsx
  apps/web/components/__tests__/RichTextEditor.test.tsx
  apps/web/components/__tests__/RichTextViewer.test.tsx
  apps/web/components/rich-text/RichTextEditor.tsx
  apps/web/components/rich-text/RichTextEditorClient.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/components/rich-text/toolbar/Toolbar.tsx
  apps/web/components/rich-text/toolbar/ToolbarButton.tsx
  apps/web/components/rich-text/toolbar/popovers.tsx
  apps/web/jest.setup.js
  apps/web/lib/rich-text/__tests__/rich-text-limits.test.ts
  apps/web/lib/rich-text/__tests__/schema-round-trip.test.ts
  apps/web/lib/rich-text/extensions/index.ts
  apps/web/lib/rich-text/extensions/rich-text-limits.ts
  apps/web/lib/rich-text/extensions/text-direction.ts
  apps/web/lib/rich-text/extensions/video.ts
  apps/web/lib/rich-text/lowlight.ts
  apps/web/lib/rich-text/prepare-stored-html.ts
  apps/web/lib/rich-text/toolbar-config.ts
  apps/web/lib/sanitize-html.ts
  apps/web/next.config.js
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged

refactor(web): move every screen onto the new editor and drop Quill
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/QuestionContainer.test.tsx
  apps/web/app/learner/(components)/Question/__tests__/TextQuestion.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/Question.github.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/package.json
  tests/author/assignment-overview.spec.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

perf(web): build the viewer's highlighter from the thirteen languages it can meet
  apps/web/components/__tests__/RichTextViewer.test.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/lib/rich-text/extensions/index.ts
  apps/web/lib/rich-text/highlighting.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(web): report rich-text content errors to Instana, not just the console
  apps/web/components/rich-text/RichTextEditor.tsx
  apps/web/lib/__tests__/report-client-error.test.ts
  apps/web/lib/report-client-error.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(rich-text): drop api dependency, consume package as source, sandbox pasted video embeds, sanitize after normalizing
  .github/workflows/build-images.yml
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/report/helpers/report-diagnostics.spec.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/jobs/jest.config.ts
  apps/web/app/admin/components/ReportDiagnosticsPanel.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/page.error-status.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/results-connection-problem.test.tsx
  apps/web/components/Title.tsx
  apps/web/components/rich-text/RichTextEditor.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/jest.config.js
  apps/web/lib/rich-text/__tests__/prepare-stored-html.test.ts
  apps/web/lib/rich-text/__tests__/schema-round-trip.test.ts
  apps/web/lib/rich-text/extensions/video.ts
  apps/web/lib/rich-text/prepare-stored-html.ts
  apps/web/lib/sanitize-html.ts
  apps/web/stores/__tests__/learner.persist.test.ts
  package.json
  packages/rich-text/README.md
  packages/rich-text/package.json
  packages/rich-text/src/normalize/index.ts
  packages/rich-text/tsconfig.json
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: gate promo banners to Cognitive Class and cc-dev (SKILLS-130940)
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/api/api.controller.spec.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/page.error-status.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/__tests__/PromoBanner.test.tsx
  apps/web/components/promo/PromoBanner.tsx
  apps/web/config/promo.ts
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(rich-text): parse fragments without a string wrapper, skip server-side preparation in the viewer, treat attributed empty paragraphs as blank in the api
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.spec.ts
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.ts
  apps/web/components/__tests__/RichTextViewer.ssr.test.tsx
  apps/web/components/rich-text/RichTextViewer.tsx
  apps/web/lib/__tests__/rich-text-normalize.test.ts
  packages/rich-text/src/normalize/normalize.test.ts
  packages/rich-text/src/normalize/parse.ts
  packages/rich-text/src/normalize/test-parser.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): let Android WebView uploads pick documents (SKILLS-131888)
  apps/web/components/FileUploader.tsx
  apps/web/components/__tests__/FileUploader.test.tsx
  apps/web/lib/__tests__/upload-accept.test.ts
  apps/web/lib/upload-accept.ts
Due: yarn secrets:check:staged, yarn format:staged

real ones dont commit their artifacts
  .gitignore
Due: yarn secrets:check:staged, yarn format:staged

real ones dont commit their artifacts (#718)
  .gitignore
Due: yarn secrets:check:staged, yarn format:staged

fix: identify the launching portal from the LTI grade-callback host
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(api): preserve notebook evidence and harden image grading
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-description-dedupe.spec.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.spec.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.spec.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
  scripts/benchmark-notebook-grading.js
  scripts/export-notebook-benchmark.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): recheck notebook evidence and align grading audits
  .github/workflows/build-images.yml
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): assess notebook datasets and partial chart credit
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

style(api): normalize case-insensitive dataset regex
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): honor notebook partial-credit rubric interpretation
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): preserve notebook output evidence and audit verdicts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.audit.spec.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.spec.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.ts
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: grade Jupyter notebook plots on their content (#653)
  .github/workflows/build-images.yml
  .secrets.baseline
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.audit.spec.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-description-dedupe.spec.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.spec.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.spec.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.spec.ts
  apps/api/src/api/llm/features/grading/services/image-description.service.ts
  apps/api/src/api/llm/features/grading/services/notebook-evidence.rules.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
  scripts/benchmark-notebook-grading.js
  scripts/export-notebook-benchmark.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): let Android WebView uploads pick documents (SKILLS-131888) (#710)
  apps/web/components/FileUploader.tsx
  apps/web/components/__tests__/FileUploader.test.tsx
  apps/web/lib/__tests__/upload-accept.test.ts
  apps/web/lib/upload-accept.ts
Due: yarn secrets:check:staged, yarn format:staged

feat: gate promo banners to Cognitive Class and cc-dev (SKILLS-130940) (#709)
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/api/api.controller.spec.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/page.error-status.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/__tests__/PromoBanner.test.tsx
  apps/web/components/promo/PromoBanner.tsx
  apps/web/config/promo.ts
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
