Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

chore: comments, and small status code refactor
  apps/api/src/api/files/services/s3.service.ts
  apps/web/lib/reliableUpload.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding tests for chunking
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

tests patch 2
  tests/learner/learner-homepage.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

workflow patch
  .github/workflows/playwright.yml
  playwright.config.ts
  scripts/server-common.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

workflow test
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

yarn.lock regen
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore: adding get and delete for assignment files
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding delete and get controller
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

workflow patch 1
  .github/workflows/playwright.yml
Due: yarn secrets:check:staged, yarn format:staged

fixing frontend requests
  apps/web/Dockerfile
  apps/web/entrypoint.sh
  apps/web/lib/__tests__/api-client.test.ts
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

chore: updating lock file
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore: add structured logging infrastructure (wave 1)
  .secrets.baseline
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/common/filters/all-exceptions.filter.ts
  apps/api-gateway/src/logger/logger.middleware.ts
  apps/api-gateway/src/main.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/api/src/database/prisma.service.ts
  apps/api/src/logger/logger.middleware.ts
  apps/api/src/main.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/api/markChat/services/reportingService.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: add structured logging to services and access guards (wave 2)
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/messaging/messaging.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/files/guards/auth.guard.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/utils/structured-json.util.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/user/guards/chat.access.control.guard.ts
  apps/api/src/auth/guards/admin.guard.ts
  apps/api/src/auth/role/roles.global.guard.ts
  apps/api/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: sync yarn.lock with merged package.json changes
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

test: provide winston mock and update log-level assertions for logging additions
  .secrets.baseline
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/messaging/messaging.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: extract stream-error formatter to avoid nested-ternary lint
  apps/api-gateway/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: map Prisma P2003 (foreign-key violation) to 400 instead of 409
  apps/api/src/common/filters/all-exceptions.filter.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: load @instana/collector in api for distributed tracing parity with gateway
  apps/api/package.json
  apps/api/src/main.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: sanitize user-controlled values before logging to prevent log forging
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/logger/sanitize.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: add log-sanitization helper to prevent log forging
  .secrets.baseline
  apps/api-gateway/src/logger/sanitize.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

test: update logger.middleware log-level assertions for 4xx/5xx
  .secrets.baseline
  apps/api-gateway/src/logger/logger.middleware.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Revert yarn.lock change
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore: uploaded extracted text can be used for question generation (#306)
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): extract assignment files on upload (#304)
  apps/api/prisma/migrations/20260413034252_add_assignment_file_extraction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/modules/assignment.module.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore/updating lock file
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/__tests__/normalize.test.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore: adding mc types and creation customization
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(prisma): fold metadata into log message to avoid malformed stack field
  apps/api/src/database/prisma.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(files): remove unreachable empty try block in direct-upload handler
  apps/api/src/api/files/files.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: adding duplication review
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(prisma): inject winston logger to drop stack:[null] from prisma events
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/database/database.module.spec.ts
  apps/api/src/database/prisma.service.spec.ts
  apps/api/src/database/prisma.service.ts
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: delete unused gateway sanitize.ts
  apps/api-gateway/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: fixing memory leak around assignment deletion
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/v2/modules/assignment.module.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: updating tests
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
