Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

refactor: changed IDs to Ids
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.assignment.to.group.response.dto.ts
  apps/api/src/api/admin/dto/assignment/base.assignment.response.dto.ts
  apps/api/src/api/admin/dto/assignment/clone.assignment.request.dto.ts
  apps/api/src/api/admin/dto/assignment/create.replace.assignment.request.dto.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/base.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/get.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question/get.assignment.attempt.questions.response.dto.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/dto/base.assignment.response.dto.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/dto/base.question.response.dto.ts
  apps/api/src/api/assignment/question/dto/get.question.response.dto.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor: changed IDs to Ids
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged

update: data type of prompt options for future backend use
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: eslint error for WrittenQuestionView component
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/components/depreciated/RubricTable.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactor: set default port to 3000 and added default API_PORT in dev.env for local development
  apps/api/dev.env
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor: set default api-gateway port to 3000 and added default API_GATEWAY_PORT in dev.env for local development
  apps/api-gateway/dev.env
  apps/api-gateway/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged

fix build issues
  apps/web/.eslintrc.cjs
  apps/web/components/depreciated/SubmitAnswer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix build of multiple choice for learners side
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Update apps/api/dev.env
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

fix build by fixin types
  apps/web/.eslintrc.cjs
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/learner/(components)/QuestionContainer.tsx
  apps/web/app/learner/(components)/submitted.tsx
  apps/web/components/depreciated/SingleAnswerSection.tsx
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

remove single answer section
  apps/web/app/author/(components)/Textbox.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: updated api license to Apache-2.0
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged

feat: migrated questions to getAssignmentAttempt route
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question/get.assignment.attempt.questions.response.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: duplicate question responses in assignment attempt
  apps/api/src/api/assignment/attempt/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added three GH action jobs for building apps' images
  .github/workflows/release.yml
  apps/web/Dockerfile
  apps/web/next.config.js
  dev.env
Due: yarn secrets:check:staged, yarn format:staged, hadolint

learner backend can now get attempts, questions and you are able to modify the text in the frontend, it will not yet be updated in the backend
  .lintstagedrc.json
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/[assignmentID]/page.tsx
  apps/web/app/learner/(components)/AssignmentOverview.tsx
  apps/web/app/learner/(components)/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/app/learner/(components)/QuestionContainer.tsx
  apps/web/app/learner/(components)/QuestionPage.tsx
  apps/web/app/learner/(components)/TextQuestion.tsx
  apps/web/app/learner/(components)/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/UploadQuestion.tsx
  apps/web/app/learner/(components)/UrlQuestion.tsx
  apps/web/app/learner/(components)/submitted.tsx
  apps/web/app/learner/[assignmentID]/page.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/app/page.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed rubric description
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactored and made textresponse editable
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/QuestionContainer.tsx
  apps/web/app/learner/(components)/TextQuestion.tsx
  apps/web/app/learner/[assignmentID]/questions/page.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/hooks/useAutosave.ts
  apps/web/lib/talkToBackend.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

using zustand instead of passing props
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

nit: React no longer being imported as a whole
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/QuestionStartPage.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/learner/(components)/Breadcrumbs.tsx
  apps/web/app/learner/(components)/InfoLine.tsx
  apps/web/app/learner/(components)/Overview.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/not-found.tsx
  apps/web/components/SNIcon.tsx
  apps/web/components/Title.tsx
  apps/web/components/depreciated/PageComponent.tsx
  apps/web/components/depreciated/RubricTable.tsx
  apps/web/hooks/useAutosave.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: updated GH action to copy yarn.lock file first to each of the apps
  .github/workflows/release.yml
Due: yarn secrets:check:staged, yarn format:staged

feat: added copy yarn.lock files to husky
  .github/workflows/release.yml
  .husky/pre-commit
  apps/api-gateway/yarn.lock
  apps/api/yarn.lock
  apps/web/yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

more cleanup to get ready to go staging
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/components/depreciated/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: invalid api-gateway path in GH action
  .github/workflows/release.yml
Due: yarn secrets:check:staged, yarn format:staged

feat: updated Dockerfiles to work with turbo
  .github/workflows/release.yml
  .husky/pre-commit
  apps/api-gateway/Dockerfile
  apps/api-gateway/package.json
  apps/api-gateway/yarn.lock
  apps/api/Dockerfile
  apps/api/entrypoint.sh
  apps/api/yarn.lock
  apps/web/Dockerfile
  apps/web/config.template.js
  apps/web/entrypoint.sh
  apps/web/next.config.js
  apps/web/yarn.lock
  dev.env
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

feat: new padding for criteria textarea
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: criteria textbox is now expandable
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: textarea expand scroll broken
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

update: new svg for delete button
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: there are now two criteria by default
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: Added entrypoint script for injecting env to next app
  apps/api-gateway/dev.env
  apps/web/Dockerfile
  apps/web/config.template.js
  apps/web/entrypoint.sh
  apps/web/next.config.js
  apps/web/tsconfig.json
  dev.env
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

add: point feature for each written question
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "feat: there are now two criteria by default"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "update: new svg for delete button"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "fix: textarea expand scroll broken"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "feat: criteria textbox is now expandable"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "feat: new padding for criteria textarea"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "add: point feature for each written question"
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

reverted rui changes
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
