Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix: updating for master's merged changes
  .husky/pre-commit
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/grading-rate-limiter.service.spec.ts
  apps/api/src/api/attempt/services/grading-rate-limiter.service.ts
  apps/web/lib/__tests__/learner-submit.test.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): force DOM remount on dynamic status text to defeat Firefox translate latch
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): drop per-language SSE noise from publish card + auto-dismiss on clean success
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: remove dead throttle branch and fix mergeGradingState question drop
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix frontend instana loading
  apps/web/.env.template
  apps/web/app/layout.tsx
  apps/web/env.d.ts
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(api): remove queue-throttle that caused deterministic publish failures on large assignments
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): fail fast in prod/staging when IBM COS env vars are missing
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

grading progress fix
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api-gateway): make NATS messaging client optional
  apps/api-gateway/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: prettier formatting tidy
  apps/api/src/api/files/guards/auth.guard.ts
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Added openai logging for debugsssssssss
  apps/api/prisma/seed.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api-gateway): use undefined instead of null in optional-client guards
  apps/api-gateway/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(helm): default-derive GRADING_LTI_GATEWAY_URL and enable LTI scheduler
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/templates/configmap.yaml
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore(seed): prettier formatting on criteria entries
  apps/api/prisma/seed.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update values.yaml
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publish mark-jobs chart 0.1.2
  index.yaml
  mark-jobs-0.1.2.tgz
Due: yarn secrets:check:staged, yarn format:staged

feat(llm): structured openai.invoke logging on gpt5-* providers
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): make judge approval reproducible via fixed seed + temperature=0
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): surface selectionReason in text-grading metadata
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): pre-grading sanity gate to reject noise responses
  apps/api/src/api/attempt/common/strategies/__tests__/text-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/text-response-sanity.spec.ts
  apps/api/src/api/attempt/common/utils/text-response-sanity.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(lti-sync): expand retry schedule to recover more transient failures
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(lti-sync): bump axios timeout 30s → 60s for slow LMS responses
  apps/api/src/api/attempt/lti-sync.module.ts
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): bump TypeScript target to es2022 for pdfjs-dist 5.x compatibility
  apps/api/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged

fix(api): use relative path for tsconfig extends to fix CI build
  apps/api/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged

chore(llm): hash prompts and responses in logs instead of raw snippets
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/utils/log-redact.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(grading): rebuild sanity spec without embedded control bytes
  apps/api/src/api/attempt/common/utils/text-response-sanity.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): emit full GradingMetadata shape on noise rejection
  apps/api/src/api/attempt/common/strategies/__tests__/text-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

A collection of useful scripts
  scripts/lti-sync-diagnose.js
  scripts/lti-sync-drain.js
  scripts/lti-sync-error-detail.js
  scripts/lti-sync-probe-batch.js
  scripts/lti-sync-probe.js
Due: yarn secrets:check:staged, yarn format:staged

fix(file-extraction): clamp XLSX extraction to actual used range
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): cap evidence-based submission blocks; surface OversizedSubmissionError
  apps/api/src/api/llm/features/grading/errors/oversized-submission.error.ts
  apps/api/src/api/llm/features/grading/services/__tests__/oversized-submission.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): permanent-fail oversized submissions and repeated OOM strikes
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: apply autoformatter numeric separators and regex casing
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: add admin assignment publish endpoint
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

small fix
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

ux improvement for grade sync fail
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/components/GradeSyncStatus.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): contain poison-pill blast radius and surface terminal grading failures
  apps/api/src/api/attempt/attempt.module.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  scripts/generate-poison-files.js
  scripts/lti-sync-check.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

reviewed PR
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.cap.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/src/api/llm/features/grading/constants.ts
  apps/api/src/api/llm/features/grading/services/__tests__/oversized-submission.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Add max upload blocks to env vari
  apps/api/src/api/llm/features/grading/__tests__/constants.spec.ts
  apps/api/src/api/llm/features/grading/constants.ts
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(web): align jest moduleNameMapper with tsconfig path aliases
  apps/web/jest.config.js
Due: yarn secrets:check:staged, yarn format:staged

style(learner): apply formatter line-wrapping to Header + test mocks
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
Due: yarn secrets:check:staged, yarn format:staged
