Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix(uploads): cap fileSize in initiateAssignmentFileUploads
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

stop asking for help!
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/MarkChatToggleButton.tsx
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/hooks/useMarkSpeech.ts
  apps/web/hooks/useUserBehaviorMonitor.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): raise file-uploader caps to 100MB to match server
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/components/FileUploader.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): friendlier upload errors and proper waiting-state UI everywhere
  apps/web/components/FileUploader.tsx
  apps/web/lib/reliableUpload.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): route browser uploads through single-PUT until bucket CORS exposes ETag
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): size-based routing — single-PUT for <=10MB, multipart only above
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): learner assignmentId fallback parses wrong path segment
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat(web): enable browser-driven multipart uploads
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): persist assistant messages server-side in respondStream
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): drop client-side ASSISTANT persistence (server handles it now)
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore: apply linter autofixes (unicorn naming, prettier wrap)
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/lib/reliableUpload.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

reap dead uploads
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(jobs): match worker spec to new 120s translation lockDuration
  apps/jobs/src/job-worker.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): import FileProcessingBudgetModule for DI resolution
  apps/jobs/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): scope retry to missing languages, preserve good rows
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): gate progress writes on parallelDone to prevent reopening
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: surface publish result via SSE fallback poller
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/web/lib/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(files): observability for upload-processing budget
  apps/api/prisma/migrations/20260514000000_add_file_upload_status_size/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/file-processing-budget.service.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop report routes from hanging on NATS and exhausting Prisma pool
  .secrets.baseline
  apps/api/src/api/report/services/flo.service.ts
  apps/api/src/api/report/services/report.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

docs(files): clarify budget endpoint schema and retention behaviour
  .secrets.baseline
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

ci(dependabot): group weekly updates and fix broken auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Due: yarn secrets:check:staged, yarn format:staged

chore(deps): upgrade Next 16, LangChain 1.x, bump validator
  apps/api/package.json
  apps/api/src/api/llm/core/services/moderation.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-template.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/api/src/api/llm/features/rubric/services/rubric.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/web/.eslintrc.cjs
  apps/web/app/globals.css
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(deps): apply safe Mend bot bumps
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore(deps): upgrade NestJS 10 → 11 across api, api-gateway, jobs
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/jobs/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(deps): take langsmith to 0.7.1; pin @types/uuid for transitive uuid 10
  apps/api/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: replace biased sort shuffle with Fisher-Yates and decouple randomization seeds
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(randomization): sample before order in V1, harden V2 seed decoupling, fix client memo, satisfy lint
  .secrets.baseline
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(deps): unbreak Nest 11 deploy — Express 5, wildcard routes, dup DTO
  .secrets.baseline
  apps/api-gateway/src/api/api.controller.ts
  apps/api-gateway/src/app.module.ts
  apps/api-gateway/src/main.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/base.assignment.response.dto.ts
  apps/api/src/api/admin/dto/assignment/get.assignment.response.dto.ts
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(api): assign req.query via defineProperty for Express 5 compat
  apps/api/src/common/interceptors/data-transform.interceptor.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(deps): bump lodash to 4.18.1 to close out Mend issue #325
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(files): let authors and admins access file routes for their assignments
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

ci: stop writing GHA cache on PRs and drop redundant Trivy display steps
  .github/workflows/build-images.yml
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(ci): re-enable security-scan steps silently skipped by id typo
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fix(web): declare @instana/collector dependency
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add admin wrappers for assignment file upload and question generation
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

revert(ci): restore apps/web/Dockerfile and drop @instana/collector dep
  apps/web/Dockerfile
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged, hadolint

perf(ci): cache yarn package downloads via BuildKit cache mount
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/jobs/Dockerfile
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(admin): log + shape-check forwarded user-session header
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(routes): make trailing /*splat optional on base routes
  apps/api-gateway/src/api/api.controller.ts
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(files): parallelize auth.guard queries and guard author userId
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
