Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

File uploader bug fix (#853)
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/Helpers/handleJumpToQuestion.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/(components)/Question/FileViewer.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/package.json
  apps/web/stores/learner.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix file viewer on the success page prettified (#858)
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/learner/(components)/Question/FileViewer.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Refactor language switch logic and update translation accuracy (#889)
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged

Feat multi criteria rubric (#911)
  apps/api/prisma/migrations/20250313134152_adding_untranslated_choices/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/templates.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix delete api (#915)
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Refactor mergeData function and deleteStore methods (#917)
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/utils.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

Update .whitesource file with SAST scan settings for master
  .whitesource
Due: yarn secrets:check:staged, yarn format:staged

Minor-bug-fixes (#921)
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

Minor bug fixes (#929)
  apps/api/src/api/assignment/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix-languageTranslationBool (#933)
  apps/api-gateway/src/api/api.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/lib/talkToBackend.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat(helm): update replica counts for API Gateway, LTI Gateway, API, UI, and LTI Credentials Manager (#958)
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

Increasing replica count (#959)
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.1.0
  mark-1.1.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

Fix/session affinity issue (#963)
  helm-chart/mark/Chart.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.2.0
  mark-1.2.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

Bugfixes&minor adjustments (#964)
  .gitignore
  apps/api/src/api/Job/job-status.service.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/github/github.controller.ts
  apps/api/src/api/github/github.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/(questionComponents)/RubricSwitcher.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/learner/(components)/Question/FileViewer.tsx
  apps/web/app/learner/(components)/Question/LearnerRubricTable.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/ProgressBar.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Publishing chart package for mark-1.3.0
  mark-1.3.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

feat: Add public directory to Dockerfile (#1026)
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

feat: Add system architecture documentation (#1044)
  docs/api/llm-integration-architecture.md
  docs/api/mark-nestjs-architecture.md
  docs/mark-full/FileSubmissions/FileManagementArchitecture.md
  docs/mark-full/FileSubmissions/FileSubmissionArchitecture.mmd
  docs/mark-full/FileSubmissions/LearnerArchitecture.drawio
  docs/mark-full/FileSubmissions/file-upload-architecture.md
  docs/mark-full/author-assignment-processing-flow.md
  docs/mark-full/learner-assignment-attempt-flow.md
  docs/mark-full/system-architecture.md
  docs/web/frontend-backend-communication-layer.md
Due: yarn secrets:check:staged, yarn format:staged

Add Dockerfiles and GitHub Actions workflow for building and publishing PR images
  .github/workflows/build-pr-images.yml
  apps/api/Dockerfile
  docker-compose.local-test.yml
  local-test/api-gateway.Dockerfile
  local-test/api.Dockerfile
  local-test/ui.Dockerfile
  test-pr-images.sh
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

Refactor GitHub Actions workflow to build and publish PR images, updating triggers to pull requests and removing unnecessary steps for tag handling.
  .github/workflows/build-pr-images.yml
Due: yarn secrets:check:staged, yarn format:staged

Update GitHub Actions workflow to use latest Docker actions for Buildx and login
  .github/workflows/build-pr-images.yml
Due: yarn secrets:check:staged, yarn format:staged

Update Docker Build-Push Action to version 6 in GitHub Actions workflow
  .github/workflows/build-pr-images.yml
Due: yarn secrets:check:staged, yarn format:staged

Fix Dockerfile references from api-gateway to api for consistency in build process
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

Remove GitHub NPM token and registry arguments from Dockerfile for security and simplicity
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

Refactor GitHub Actions workflow to trigger on push events and build images for API Gateway, API, and Web, removing unnecessary GitHub NPM token arguments for improved security and simplicity.
  .github/workflows/build-pr-images.yml
  docker-compose.local-test.yml
  local-test/api-gateway.Dockerfile
  local-test/api.Dockerfile
  local-test/ui.Dockerfile
  test-pr-images.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

remove unused imports (wip)
  apps/web/app/author/(components)/(questionComponents)/CriteriaTable.tsx
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/(questionComponents)/RubricSwitcher.tsx
Due: yarn secrets:check:staged, yarn format:staged

remove unused imports
  apps/web/app/author/(components)/(questionComponents)/CriteriaTable.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/WarningBeforeUnload.tsx
  apps/web/app/learner/(components)/Question/FileLinkUploadSection.tsx
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.4.0
  mark-1.4.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

fix docker build and the workflow
  .github/workflows/build-pr-images.yml
  .secrets.baseline
  apps/api/Dockerfile
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, hadolint
