Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged, hadolint, shellcheck

fixed test
  .lintstagedrc.json
  apps/api/jest.config.ts
  apps/api/package.json
  package.json
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

setup barebones frontend
  apps/web/app/(author)/components/AuthorView.tsx
  apps/web/app/(learner)/components/LearnerView.tsx
  apps/web/app/loading.tsx
  apps/web/app/page.tsx
  docs/CONTRIBUTING.md
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

nextified components
  apps/web/app/(author)/components/AuthorView.tsx
  apps/web/app/(learner)/components/LearnerView.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/component.template.tsx
Due: yarn secrets:check:staged, yarn format:staged

nextified components even more
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/(author)/components/AuthorView.tsx
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LearnerView.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: nest js compilation errors
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

fixed linting
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore: migrated backend branch stuff here
  apps/api/prisma/migrations/20230817175805_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/api.controller.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/create.update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/get.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/submission.controller.spec.ts
  apps/api/src/api/assignment/submission/submission.service.spec.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/auth/interfaces/user.interface.ts
  apps/api/src/auth/jwt/jwt.strategy.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

fixed linting
  apps/web/.eslintrc.cjs
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

learner features
  apps/web/app/(learner)/components/Button.tsx
  apps/web/app/(learner)/components/InfoLine.tsx
  apps/web/app/(learner)/components/IntroductionPage.tsx
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/Title.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

MC questions
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

Multiple choice render
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: added access control for backend api routes
  apps/api/package.json
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/create.assignment.submission.request.dto copy.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/create.update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  apps/api/src/auth/role/roles.global.guard.ts
  apps/api/src/main.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

add: TextBox component v1
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/(author)/components/textBox.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

author: textbox: add delete button for each multiple choice option
  apps/web/app/(author)/components/textBox.tsx
Due: yarn secrets:check:staged, yarn format:staged

got the backend to work with the frontend
  .gitignore
  .lintstagedrc.json
  .prettierignore
  apps/api/.eslintrc.cjs
  apps/api/package.json
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/main.ts
  apps/api/tsconfig.json
  apps/web/.eslintrc.cjs
  apps/web/Dockerfile
  apps/web/app/(learner)/components/Button.tsx
  apps/web/app/(learner)/components/InfoLine.tsx
  apps/web/app/(learner)/components/IntroductionPage.tsx
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/(learner)/components/Title.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/lib/utils.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  package.json
  packages/tsconfig/nextjs.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged, hadolint

allow mc questions to have multiple corrects
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

variable changes
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

enable onclick
  apps/web/app/(learner)/components/Button.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: routes and removed backend code
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/page.tsx
  apps/web/tsconfig.json
  packages/tsconfig/nextjs.json
Due: yarn secrets:check:staged, yarn format:staged

added header boilerplate
  apps/web/app/(author)/components/AuthorHeader.tsx
  apps/web/app/(learner)/components/LearnerHeader.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/globals.css
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

logic for partially corrects
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

render selections logic on mc
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

documentation provided for multiplechoice
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: multiple answer option
  apps/web/app/(author)/components/textBox.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: multiple answer option: textbox now should work
  apps/web/app/(author)/components/textBox.tsx
Due: yarn secrets:check:staged, yarn format:staged

overview component created
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/Overview.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: should be lower case when importing packages
  apps/web/app/(author)/components/AuthorLayout.tsx
Due: yarn secrets:check:staged, yarn format:staged

logics for longform updated
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/(learner)/components/Overview.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

created markdown shared component
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/MarkDownEditor.tsx
  apps/web/package.json
  package-lock.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feature: add a new question
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/(author)/components/DynamicTextBoxContainer.tsx
  apps/web/app/(author)/components/textBox.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

add: delete button for each question
  apps/web/app/(author)/components/DynamicTextBoxContainer.tsx
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

one question per page
  apps/web/app/(learner)/components/Button.tsx
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/(learner)/components/questions.ts
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

add generate json button
  apps/web/app/(author)/components/textBox.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

logic refined for questions
  apps/web/app/(learner)/components/IntroductionPage.tsx
  apps/web/app/(learner)/components/LearnerLayout.tsx
  apps/web/app/(learner)/components/LongFormQuestion.tsx
  apps/web/app/(learner)/components/MultipleChoiceQuestion.tsx
  apps/web/app/(learner)/components/Overview.tsx
  apps/web/app/(learner)/components/TestContainer.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: proper access control integration for assignment, question and note submission resources
  apps/api/dev.env
  apps/api/prisma/migrations/20230818221705_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/create.token.request.dto.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.module.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/create.update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/update.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/question-response/create.question.response.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/question-response/create.question.response.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/question/get.assignment.submission.questions.response.dto.ts
  apps/api/src/api/assignment/submission/guards/assignment.submission.access.control.guard.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/true.false.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.response.model.ts
  apps/api/src/api/llm/templates.ts
  apps/api/src/auth/interfaces/user.interface.ts
  apps/api/src/auth/jwt/jwt.strategy.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

add: textbox component
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/(author)/components/DynamicTextBoxContainer.tsx
  apps/web/app/(author)/components/textBox.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: select question type button
  apps/web/app/(author)/components/AuthorLayout.tsx
  apps/web/app/(author)/components/ConvertButton.tsx
  apps/web/app/(author)/components/DynamicTextBoxContainer.tsx
  apps/web/app/(author)/components/textBox.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: added list endpoints for assignment and submission resources
  apps/api/package.json
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/dto/add.assignment.to.group.response.dto.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/base.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/get.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/update.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/base.response.dto.ts
  apps/api/src/api/assignment/submission/dto/question-response/create.question.response.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/question-response/create.question.response.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/question-response/get.question.response.submission.response.dto.ts
  apps/api/src/api/assignment/submission/dto/question/get.assignment.submission.questions.response.dto.ts
  apps/api/src/api/assignment/submission/helper/grading.helper.ts
  apps/api/src/api/assignment/submission/helper/submission.helper.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

fix: removed admin role from all non-admin endpoints
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.assignment.to.group.response.dto.ts
  apps/api/src/api/admin/dto/assignment/base.assignment.response.dto.ts
  apps/api/src/api/admin/dto/assignment/clone.assignment.request.dto.ts
  apps/api/src/api/admin/dto/create.token.request.dto.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.module.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/submission/api-exceptions/exceptions.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/create.update.assignment.submission.request.dto.ts
  apps/api/src/api/assignment/submission/dto/assignment-submission/update.assignment.submission.response.dto.ts
  apps/api/src/api/assignment/submission/guards/assignment.submission.access.control.guard.ts
  apps/api/src/api/assignment/submission/submission.controller.ts
  apps/api/src/api/assignment/submission/submission.service.ts
  apps/api/src/auth/interfaces/user.interface.ts
  apps/api/src/auth/jwt/admin/jwt.admin.strategy.ts
  apps/api/src/auth/jwt/mock.jwt.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, yarn test:staged, yarn lint:staged

fix: author layout
  apps/web/app/(author)/components/AuthorLayout.tsx
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  yarn test:staged: any of: *.ts
  yarn lint:staged: any of: *.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
