Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix docker build and the workflow
  .tool-versions
  README.md
  apps/api-gateway/Dockerfile
  apps/api-gateway/package.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/prisma/migrations/20250725165203_init/migration.sql
  apps/web/Dockerfile
  apps/web/package.json
  local-test/api-gateway.Dockerfile
  local-test/api.Dockerfile
  local-test/ui.Dockerfile
  test-pr-images.sh
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

formatting
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
Due: yarn secrets:check:staged, yarn format:staged

Create build-pr-images.yml
  .github/workflows/build-pr-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fixing linting commands and making workflow ignore unpatched libraries on scanning
  .audit-ci.json
  .github/workflows/build-images.yml
  package.json
Due: yarn secrets:check:staged, yarn format:staged

This pr should fail in the workflow
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.4.1
  mark-1.4.1.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.4.2
  mark-1.4.2.tgz
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.4.3
  mark-1.4.3.tgz
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.4.4
  mark-1.4.4.tgz
Due: yarn secrets:check:staged, yarn format:staged

featue: authors can set cooldown periods for learner attempts
  .secrets.baseline
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/api-exceptions/exceptions.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt-validation.service.ts
  apps/api/src/assets/schema/assignment-example.json
  apps/api/src/assets/schema/assignment-schema.json
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/lib/learner.ts
  apps/web/stores/assignmentConfig.ts
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Adding metadata to getAssignment controller
  .secrets.baseline
  .tool-versions
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/get.assignment.response.dto.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

trying node22-slim
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

JudgeLLM Threshold System
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/grading-threshold.service.ts
  apps/api/src/api/llm/features/grading/services/grading-threshold.test.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/llm.constants.ts
  apps/api/src/api/llm/llm.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Dual S3 Bucket Configuration
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Real-time Notifications with SSE
  apps/api/src/api/user/controllers/notification.controller.ts
  apps/api/src/api/user/services/notification.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/notificationSSE.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

improvement in ui and localization
  apps/api/src/api/attempt/common/utils/localization.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
  apps/api/src/health/health.service.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/lib/learner.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix testing
  apps/api/src/api/admin/admin.controller.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix build type
  apps/web/lib/author.ts
Due: yarn secrets:check:staged, yarn format:staged

fix open ai langchain tag
  apps/api/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

stash-helm
  .github/workflows/build-images.yml
  README.md
  docs/CONTRIBUTING.md
  helm-chart/README.md
  helm-chart/docs/VERSIONING.md
  helm-chart/examples/minimal.yaml
  helm-chart/examples/production.yaml
  helm-chart/examples/with-database.yaml
  helm-chart/mark/Chart.yaml
  helm-chart/mark/README.md
Due: yarn secrets:check:staged, yarn format:staged

adding helm-chart to workflow
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

adding migration.sql, fixing imports, hiding retakeAttemptCoolDownMinutes if attemptsBeforeCoolDown is 0.
  .secrets.baseline
  apps/api/prisma/migrations/20250925181313_assignment_cooldown/migration.sql
  apps/api/src/api/attempt/services/attempt-validation.service.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Delete apps/api/prisma/migrations/20250925181313_assignment_cooldown/migration.sql
  apps/api/prisma/migrations/20250925181313_assignment_cooldown/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

AddENABLE_TRANSLATION parameter to the .env template
  apps/api/.env.template
Due: yarn secrets:check:staged, yarn format:staged

chore: simplify assignment export logic
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged

Revert "feat(api): including gpt oss and creating new interface"
  apps/api/prisma/migrations/20250915144814_add_ibm_foundation_models/migration.sql
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/services/gpt-oss-120b-llm-service.ts
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/llm-resolver.service.ts
  apps/api/src/api/llm/core/services/llm-router.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/api/src/api/llm/features/rubric/services/rubric.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/llm/llm.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "AddENABLE_TRANSLATION parameter to the .env template (#133)"
  apps/api/.env.template
Due: yarn secrets:check:staged, yarn format:staged

Behzad changes
  apps/api/prisma/migrations/20250915144814_add_ibm_foundation_models/migration.sql
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/services/gpt-oss-120b-llm-service.ts
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/llm-resolver.service.ts
  apps/api/src/api/llm/core/services/llm-router.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/features/grading/services/video-grading.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/api/src/api/llm/features/rubric/services/rubric.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/llm/llm.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: add versioning change
  .secrets.baseline
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/draft-management.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/services/attempt-validation.service.ts
  apps/api/src/scripts/create-initial-versions.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/hooks/useVersionControl.ts
  apps/web/lib/semantic-versioning.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixing variants and removing private drafts
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/components/version-control/VersionControlPanel.tsx
  apps/web/components/version-control/VersionControlTab.tsx
  apps/web/components/version-control/VersionSelector.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/hooks/useVersionControl.ts
  apps/web/lib/author.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: Improve client-side handling to prevent SSR errors with FFmpeg and Quill Editor
  apps/api/src/api/admin/admin.service.ts
  apps/web/app/learner/(components)/Question/PresentationGrader.tsx
  apps/web/app/learner/(components)/Question/VideoPresentationEditor.tsx
  apps/web/components/Loading.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding encoding and decoding layers for frontend and backend
  apps/api/src/app.module.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/layout.tsx
  apps/web/hooks/useDataTransformer.ts
  apps/web/lib/api-client.ts
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
  apps/web/lib/shared.ts
  apps/web/lib/transform-config.ts
  apps/web/stores/author.ts
  scripts/start-db.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
