Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

fix: config file
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

temp move pages
  apps/web/app/author/[assignmentI]/page.tsx
  apps/web/app/author/[assignmentI]/questions/page.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/[assignmentI]/page.tsx
  apps/web/app/learner/[assignmentI]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

revert pprev commit to fix folder issue
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactored some code so css is better
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Update release-config.yaml
  helm-chart/release-config.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: passingGrade is out of 100 not 1
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: publish to same repo
  .github/workflows/release-helm-chart.yml
  helm-chart/release-config.yaml
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

set packages_with_index: true
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

using master version of chart-releaser-action
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

removed helm release to be marked as latest
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.0
  mark-1.0.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

temp remove index.yaml
  index.yaml
  mark-1.0.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

feat: don't create helm release on PRs
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

feat: authors can modify and add Qs now and it gets passed to the backend
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/web/app/author/(components)/Dropdown.tsx
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/(components)/WrittenQuestionView.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/components/depreciated/FeedbackMessage.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Number -> ~~ since it's faster
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/components/depreciated/MultipleAnswerSection.tsx
  apps/web/components/depreciated/SingleAnswerSection.tsx
  apps/web/hooks/usePersistentCountdown.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added cookies to all backend calls
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix build
  apps/web/config/constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

debugging cookie server side issue
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Revert "Revert "fix: Use jwt bearer authentication for admin api routes""
  apps/api-gateway/dev.env
  apps/api-gateway/src/api/api.controller.ts
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

chore: removed temp changes
  apps/api-gateway/dev.env
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

feat: authors can now set the criteria for a question
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/config/constants.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added cookie handling to server side components
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

if learners submitted the assignment before or even completed it, it is reflected in the UI, where they can even see their results of their final submission
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added toaster for when the author updaes the assignment
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

chore: bump lti gateway chart to 1.0.2
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: update chart.lock
  helm-chart/mark/Chart.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: dont release chart on PR
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

refactor: didn't know that id is not unique to the assignment
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/lib/talkToBackend.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed colors and styling of overview buttons
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/config/types.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed the layout of the overview page
  apps/web/app/learner/(components)/Question/Overview.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

made Question header more descriptive and coloring
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

lower cased "points"
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
