Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix(grading): budget text-grading prompts and summarize oversized answers
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): guard summarization budget and cap chunk fan-out
  apps/api/src/api/llm/features/grading/services/content-summarization.service.spec.ts
  apps/api/src/api/llm/features/grading/services/content-summarization.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): never retry an identical prompt after a context-length 400
  apps/api/src/api/llm/core/utils/llm-error.util.spec.ts
  apps/api/src/api/llm/core/utils/llm-error.util.ts
  apps/api/src/api/llm/features/grading/services/__tests__/prompt-retry-context-length.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(grading): pin context-length fail-fast; clarify budget gate comments
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

style(grading): apply prettier reflow to two lines committed without hooks
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/llm/features/grading/services/content-summarization.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): detect image formats from bytes and convert or reject before vision grading
  apps/api/package.json
  apps/api/src/api/attempt/common/strategies/__tests__/image-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/llm/features/grading/errors/learner-facing-grading.error.ts
  apps/api/src/api/llm/features/grading/errors/oversized-submission.error.ts
  apps/api/src/api/llm/features/grading/errors/unsupported-image-format.error.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight-real-sharp.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/oversized-submission.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): fail unsupported-image submissions fast with a learner-facing reason
  apps/api/src/api/attempt/common/strategies/__tests__/image-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): harden image preflight conversion and scope it to vision grading
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight-real-sharp.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-grading-criteria-based.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): type the submit-time image rejection; neutral terminal-error log event
  apps/api/src/api/attempt/common/strategies/__tests__/image-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: tighten Jaccard guards, text boilerplate threshold, remove page count gate
  apps/api/src/api/llm/features/grading/constants.ts
  apps/api/src/api/llm/features/grading/services/submission-quality.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix clean hydration state
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix hydration fallbacks
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/utils/assignmentHydration.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/app/learner/utils/authorPreview.ts
  apps/web/lib/assignment-storage.ts
  apps/web/lib/strings.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix web typecheck
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/utils/authorPreview.ts
Due: yarn secrets:check:staged, yarn format:staged

Add tests for hydration utilities and stores
  apps/web/app/author/utils/__tests__/assignmentHydration.test.ts
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/lib/__tests__/assignment-storage.test.ts
  apps/web/lib/__tests__/strings.test.ts
  apps/web/stores/__tests__/author.test.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix preview fallback for assignments with no questions
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/app/learner/utils/authorPreview.ts
Due: yarn secrets:check:staged, yarn format:staged

Fix stale async fetch race conditions across author and learner components
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat(grading): content provenance shadow mode with extraction artifact store
  apps/api/src/api/attempt/common/utils/provenance-artifact.util.spec.ts
  apps/api/src/api/attempt/common/utils/provenance-artifact.util.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): scope provenance shadow to grading and harden artifact writes
  apps/api/src/api/attempt/common/strategies/__tests__/file-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/provenance-artifact.util.spec.ts
  apps/api/src/api/attempt/common/utils/provenance-artifact.util.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix stale title flash on author page navigation
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): remediate dependency security advisories (drop-in version bumps)
  apps/api-gateway/package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): remove unused puppeteer and bump remaining flagged transitives
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): pin uuid to 11.x so the CommonJS jest runtime can load it
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

LGTM
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/web/app/author/utils/assignmentHydration.ts
  apps/web/config/promo.ts
  apps/web/public/promo/watsonX-Data.svg
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(reports): add gateway-authenticated admin renewal-email endpoint
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/report/controllers/admin-report.controller.spec.ts
  apps/api/src/api/report/controllers/admin-report.controller.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/report.service.spec.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(jobs): cap BullMQ job-history retention at 100 per state
  apps/api/src/job-queue/job-queue.service.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(grading): remove dead enhanced-automated-grading graph
  apps/api/src/api/llm/grading/config/policy.config.ts
  apps/api/src/api/llm/grading/enhanced-automated-grading.module.ts
  apps/api/src/api/llm/grading/examples/type-safe-grading.example.ts
  apps/api/src/api/llm/grading/graph/grade.graph.ts
  apps/api/src/api/llm/grading/graph/simple-graph.ts
  apps/api/src/api/llm/grading/graph/state.ts
  apps/api/src/api/llm/grading/nodes/compare.node.ts
  apps/api/src/api/llm/grading/nodes/decision.node.ts
  apps/api/src/api/llm/grading/nodes/enhanced-grade.node.ts
  apps/api/src/api/llm/grading/nodes/enhanced-validate.node.ts
  apps/api/src/api/llm/grading/nodes/evidence.node.ts
  apps/api/src/api/llm/grading/nodes/grade.node.ts
  apps/api/src/api/llm/grading/nodes/judge.node.ts
  apps/api/src/api/llm/grading/nodes/tiebreak.node.ts
  apps/api/src/api/llm/grading/nodes/validate.node.ts
  apps/api/src/api/llm/grading/schemas/zod-schemas.ts
  apps/api/src/api/llm/grading/services/enhanced-automated-grading.service.ts
  apps/api/src/api/llm/grading/services/enhanced-policy.service.ts
  apps/api/src/api/llm/grading/services/evidence.service.ts
  apps/api/src/api/llm/grading/services/meta-decider.service.ts
  apps/api/src/api/llm/grading/services/monitoring.service.ts
  apps/api/src/api/llm/grading/types/grading.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): add liveness probe via a worker heartbeat file
  apps/jobs/src/job-worker-heartbeat.constants.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  helm-chart/mark-jobs/templates/deployment.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(reports): drop @Injectable on controller, remove fragile guard metadata test, add TTL-expired send test
  apps/api/src/api/report/controllers/admin-report.controller.spec.ts
  apps/api/src/api/report/controllers/admin-report.controller.ts
  apps/api/src/api/report/services/report.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(deps): remediate second-wave advisories (form-data, js-yaml, ws, tar, undici)
  apps/api/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(deps): bump nodemailer to 8.x to close SMTP/CRLF injection advisories
  apps/api/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(web): sanitize untrusted HTML in MarkdownViewer before writing to the DOM
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
  apps/web/lib/sanitize-html.ts
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(web): sanitize value loaded into MarkDownEditor before writing to the DOM
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): sanitize stored version HTML and de-risk stripHtmlTags
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/lib/sanitize-html.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api,api-gateway): block SSRF in learner-URL fetch and gateway forwarder
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.spec.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(api): satisfy eslint in the SSRF url helper
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix code review issues in security PR
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/lib/sanitize-html.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: restore quill styles in version tree view panels
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged
