Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix: use learner toolbar mode for author question title editor
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/components/MarkDownEditor.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: remove blockquote and code-block from learner toolbar
  apps/web/components/MarkDownEditor.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: patch 10 review findings in grading quality gate and evidence retrieval
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/submission-quality.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api,web): repair SSRF DNS guard and close remaining fetch/sanitize gaps
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/lib/sanitize-html.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(mark-jobs): vendor lti-sync-drain script into chart with drift guard
  .husky/pre-commit
  helm-chart/mark-jobs/files/lti-sync-drain.js
  scripts/check-drain-script-sync.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

feat(mark-jobs): render lti-sync-drain script as a chart ConfigMap
  helm-chart/mark-jobs/templates/lti-sync-drain-configmap.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat(mark-jobs): add ltiSyncDrain values, bump chart to 0.1.3
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat(mark-jobs): ship lti-sync-drain as a chart-managed CronJob
  helm-chart/mark-jobs/templates/lti-sync-drain-cronjob.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(grading): native structured output for text grading; silence duplicate-submit conflicts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/llm/core/interfaces/llm-provider.interface.ts
  apps/api/src/api/llm/core/interfaces/prompt-processor.interface.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): wire structured output across all ChatOpenAI providers
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.spec.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/structured-output.util.spec.ts
  apps/api/src/api/llm/core/services/structured-output.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): add per-submission spreadsheet cell budget
  apps/api/src/api/llm/features/grading/constants.spec.ts
  apps/api/src/api/llm/features/grading/constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): compact sparse spreadsheets to their real used range
  apps/api/src/api/llm/features/grading/services/spreadsheet-used-range.utils.spec.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-used-range.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(file-extraction): bound spreadsheet extraction to real data via shared compaction
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(grading): guard sheet_to_json against sparse-corner spreadsheets
  apps/api/src/api/llm/features/grading/services/file-grading.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(file-extraction): preserve terminal OversizedSubmissionError through xlsx extraction
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: tighten definitivelyRejected, quality-gate fallback path, and avg-token inflation
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/submission-quality.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(job-state): cut terminal job-state TTL from 7 days to 2 hours
  apps/api/src/job-queue/job-state.service.spec.ts
  apps/api/src/job-queue/job-state.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

more useful scripts
  scripts/check-submissions.js
  scripts/check-submissions.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

feat(admin): add force-pass endpoint and UI to manually pass a learner attempt
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/attempt-admin.controller.ts
  apps/api/src/api/admin/dto/force-pass-attempt.dto.ts
  apps/api/src/api/admin/services/attempt-admin.service.spec.ts
  apps/api/src/api/admin/services/attempt-admin.service.ts
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(admin): pin force-pass actions column width to prevent table reflow
  apps/web/components/insights/AssignmentInsightsContent.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(github): make OAuth token exchange resilient to transient transport failures
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Code review fixes
  apps/api/src/api/admin/services/attempt-admin.service.spec.ts
  apps/api/src/api/admin/services/attempt-admin.service.ts
  apps/web/components/insights/AssignmentInsightsContent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(github): use native fetch for OAuth token exchange (node-fetch v2 fails in mesh)
  apps/api/src/api/github/github.module.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(deps): drop unused direct node-fetch dependency
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(llm): make grading + translation resilient to provider rate-limit/quota
  apps/api/src/api/llm/core/services/gpt5-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/core/services/gpt5-nano-llm.service.ts
  apps/api/src/api/llm/core/services/llm-provider-request-options.spec.ts
  apps/api/src/api/llm/core/services/openai-llm-mini.service.ts
  apps/api/src/api/llm/core/services/openai-llm-vision.service.ts
  apps/api/src/api/llm/core/services/openai-llm.service.spec.ts
  apps/api/src/api/llm/core/services/openai-llm.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/utils/llm-error.util.spec.ts
  apps/api/src/api/llm/core/utils/llm-error.util.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/common/filters/all-exceptions.filter.spec.ts
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/lib/shared.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: improve 403 error messages to suggest logging into AWB
  apps/web/components/AccessRestricted.tsx
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: retain permission context in 403 toast message
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: soften 403 toast AWB suggestion
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: stop propagation on duplicate and delete buttons to prevent modal state loss
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: prevent interactive child clicks from triggering question focus change
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(export): include answer choices in quiz CSV export
  apps/web/app/author/[assignmentId]/review/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: show generate and import buttons in empty questions state
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: restore sidebar generate/import buttons when questions exist
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
