Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

ci: run the PR Dockerfile build in parallel with test + security-scan
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: split image build from deploy so build runs in parallel with tests
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: gate security-scan to PRs + scheduled + dispatch runs
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: skip cache-to for the web service
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fix(web): switch installer to turbo-prune pattern and declare missing deps
  apps/web/Dockerfile
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(api): retry-failed-translations falls back to DB when publish hash empty
  apps/api/src/api/assignment/v2/services/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(helm): default JOBS_EXECUTE_LOCALLY=true in mark-jobs values
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore(jobs): drop default-OFF guardrail spec for JOBS_EXECUTE_LOCALLY
  apps/jobs/src/default-off-flag.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): 3 retries with 5s gap on per-language translation failures
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): retry-failed-translations always reads from DB, never source hash
  apps/api/src/api/assignment/v2/services/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): dismissable publish-progress card at terminal state
  apps/web/app/author/(components)/Header/PublishProgress.tsx
Due: yarn secrets:check:staged, yarn format:staged

Update translation.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): stop Bottleneck expiration from silently failing translations
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

style(api): switch instead of else-if chain in chunk result counter
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): default assignment language to browser locale, then English
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/lib/ui-language.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): align version-tree banner top offset with author layout header
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): don't kill publish SSE when a status callback throws
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/author.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): add 16px gap below header on version-tree banner
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: let learners abandon stale attempts when assignment has been republished
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/VersionMismatchBanner.tsx
  apps/web/config/types.ts
  apps/web/lib/learner.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: parallelize grading by dependency level and surface per-question state
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/attempt/services/grading-rate-limiter.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: gate parallel grading behind ENABLE_PARALLEL_GRADING + fix tests
  apps/api/jest.config.ts
  apps/api/src/api/attempt/services/grading-rate-limiter.service.ts
  apps/api/src/api/attempt/services/grading/grading-query-count.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/test/__mocks__/canvas.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(translation): harden publish job cleanup
  .secrets.baseline
  apps/api/src/api/assignment/attempt/translation-state-redis.spec.ts
  apps/api/src/api/assignment/attempt/translation-state-redis.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.missing-languages.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/job-queue/job-executor.service.spec.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.types.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: hide publish-progress UI when no translation work + chart-default flags off
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/web/app/author/(components)/Header/PublishProgress.tsx
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(translation): bump publish lock TTL past poll timeout + clarify DEL safety
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(helm): default ENABLE_PARALLEL_GRADING=false on mark-jobs chart
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: throttle visible tail langs + monotonic grading UI + env-name footgun
  apps/api/.env.template
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/jobs/.env.template
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(deps): add husky to root devDeps so jobs Docker build finds it
  package.json
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): restore "api": "*" workspace dep — jobs imports api source
  apps/jobs/package.json
Due: yarn secrets:check:staged, yarn format:staged

fix(files): fail closed on unknown roles and restore transaction reads
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(deps): dependabot monthly cadence, ignore major bumps
  .github/dependabot.yml
Due: yarn secrets:check:staged, yarn format:staged

fix(grading): remove double markComplete and guard AI step behind promptProcessor
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): prevent stuck PROCESSING state and batch AI feedback DB writes
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): log rerun errors and deduplicate attempt state-setting
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore(grading): clarify magic numbers, model choice, and fix stale comment
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(grading): make PROCESSING restore unconditional and fix stale comment
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): unify publish progress bar + translation status into PublishStatus
  apps/web/app/author/(components)/Header/PublishProgress.tsx
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore(helm): surface GRADING_CONCURRENCY + GRADING_WORKER_CONCURRENCY in charts
  helm-chart/mark-jobs/values.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix(web): partial-failure publish styling + monotonic bar ratchet
  apps/web/app/author/(components)/Header/PublishStatus.tsx
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
