Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

feat: added basic auth for lti-credential-manager service
  apps/api-gateway/dev.env
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged

added multiple Qs and a lot of other stuff
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/depreciated/MultipleAnswerSection.tsx
  apps/web/components/depreciated/SingleAnswerSection.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/next.config.js
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: add support for new lti-credential-manager image
  .github/workflows/release-helm-chart.yml
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/lti-credentials-manager/secret.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.1
  mark-1.0.1.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

Update release-helm-chart.yml
  .github/workflows/release-helm-chart.yml
Due: yarn secrets:check:staged, yarn format:staged

loading screen looks nicer
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/loading.tsx
  apps/web/components/Loading.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: authors can now create multiple-choice questions
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/QuestionTypes/WrittenQuestionView.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
  packages/tsconfig/nextjs.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

hashmap for multiple choice now works
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: there is a success page for the author when they "publish" the questions
  apps/web/app/author/(components)/AssignmentForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Multiple choice bug fixes + layout fixes + styling fixes to the textbox
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/author/(components)/Textbox.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/Dropdown.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

revert back to objects from Maps
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
  apps/web/app/author/(components)/ExtendableRubricChart.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/QuestionTypes/WrittenQuestionView.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed witdth of the num of points and made it always single line
  apps/web/app/author/(components)/DynamicTextBoxContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

improved design for success page
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/components/svgs/ExitIcon.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added gradingCriteriaOverview field in assignment schema
  apps/api/prisma/migrations/20231018211323_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: backend - added proper handling for url type questions and refactored code
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/assignment/question/helper/grading.helper.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/true.false.based.question.response.model.ts
  apps/api/src/api/llm/model/url.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/url.based.question.response.model.ts
  apps/api/src/api/llm/templates.ts
  apps/web/app/author/(components)/QuestionTypes/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

chore: remove unused imports
  apps/api/src/api/assignment/attempt/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update text.based.question.response.model.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added question number in schema for correct ordering
  apps/api/prisma/migrations/20231019071043_/migration.sql
  apps/api/prisma/migrations/20231019072848_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added psql cli in dockerfile for testing
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

feat: url type + added question number to pass to backend
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionStartPage.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/TextBasedAnswerSection.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

build fix
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

grading critera is now sent to the backend
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: authors cannot submit questions that haven't been completed (using js to handle form submission)
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: authors are given a warning before closing the page when editing the assignment. More error handling and refactoring for authors
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/WarningBeforeUnload.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/Breadcrumbs.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/components/WarningModal.tsx
  apps/web/hooks/use-before-unload.tsx
  apps/web/hooks/use-persistent-countdown.ts
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

several UX implrovements to make expereince more intuitive
  apps/web/.eslintrc.cjs
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/Tooltip.tsx
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

leveraging the placeholder for the MdEditor
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/components/MarkDownEditor.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

tooltip impovement
  apps/web/components/Tooltip.tsx
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

refactor: slice -> at coz it's just better
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: criteria min value ty Justin
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

small fixes n cleaning up in rubric
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat(UX/UI): criteria is now autosorts and gets animated
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: the right way to add an element w an ID
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: choices for multiple choice is now animated as well
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

small fixes
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

handling the call to backend and fetching (removing and adding the id)
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added comments to explain my reasoning
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

reactified SVG props
  apps/web/components/Loading.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
