Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

feat: show generate and import buttons in empty questions state
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: harden question-card click guard, duplicate queue, and CSV export
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: default randomizedChoices to true for choice questions on Excel import
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: prompt to apply randomized choices toggle to all questions
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(auth): carry adminOverride claim through the session
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat(auth): admin override bypass in assignment access guards
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.spec.ts
  apps/api/src/api/assignment/guards/assignment.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
  apps/api/src/api/user/guards/chat.access.control.guard.spec.ts
  apps/api/src/api/user/guards/chat.access.control.guard.ts
  apps/api/src/auth/admin-override.util.spec.ts
  apps/api/src/auth/admin-override.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(gateway): admin override-session mint endpoint + public admin-auth bootstrap
  .secrets.baseline
  apps/api-gateway/package.json
  apps/api-gateway/src/api/admin-override.controller.ts
  apps/api-gateway/src/api/admin-override.service.spec.ts
  apps/api-gateway/src/api/admin-override.service.ts
  apps/api-gateway/src/api/api.controller.ts
  apps/api-gateway/src/api/api.module.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat(admin-web): enter override mode button
  apps/web/app/admin/components/AdminDashboard.tsx
  apps/web/app/admin/components/OverrideMode.tsx
  apps/web/app/admin/components/__tests__/OverrideMode.test.tsx
  apps/web/lib/admin-session.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: address final review — reachable override route, public-route throttling, hardening
  apps/api-gateway/src/api/admin-override.controller.ts
  apps/api-gateway/src/api/api.controller.ts
  apps/api-gateway/src/api/api.module.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/api/public-auth-throttler.guard.spec.ts
  apps/api-gateway/src/api/public-auth-throttler.guard.ts
  apps/api-gateway/test/app.e2e-spec.ts
  apps/api/src/api/files/guards/auth.guard.spec.ts
  apps/api/src/api/files/guards/auth.guard.ts
  apps/api/src/auth/admin-override.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: resolve lint errors from review fixes
  apps/api/src/api/llm/features/grading/prompts/criterion-judge.prompt.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/submission-quality.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: add rubricCriterionToText helper to types
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: resolve grading test failures
  apps/api/src/api/llm/features/grading/services/__tests__/submission-quality.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(gateway): fix api.controller spec module compile + e2e unbound-method lint
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/test/app.e2e-spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(grading): disable grading-completion email notifications
  apps/api/src/api/attempt/attempt.controller.ts
  apps/web/app/learner/(components)/GradingProgressModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(ai): add kill-switch to disable grading, chat, and authoring AI
  apps/api/src/api/ai-feature-flags/ai-feature-flags.constants.ts
  apps/api/src/api/ai-feature-flags/ai-feature-flags.module.ts
  apps/api/src/api/ai-feature-flags/ai-feature-flags.service.spec.ts
  apps/api/src/api/ai-feature-flags/ai-feature-flags.service.ts
  apps/api/src/api/ai-feature-flags/ai-status.controller.ts
  apps/api/src/api/ai-feature-flags/ai-temporarily-disabled.exception.ts
  apps/api/src/api/ai-feature-flags/grading-kill-switch.service.spec.ts
  apps/api/src/api/ai-feature-flags/grading-kill-switch.service.ts
  apps/api/src/api/api.module.ts
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt-validation.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/jobs/src/app.module.ts
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/config/constants.ts
  apps/web/lib/ai-status.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(ai): admin runtime toggle + DB-backed kill-switch
  apps/api/prisma/migrations/20260629000000_add_ai_feature_flags/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/ai-features-admin.controller.ts
  apps/api/src/api/admin/dto/set-ai-feature.dto.ts
  apps/api/src/api/ai-feature-flags/ai-feature-flags.service.spec.ts
  apps/api/src/api/ai-feature-flags/ai-feature-flags.service.ts
  apps/web/app/admin/components/AdminDashboard.tsx
  apps/web/app/admin/components/AiFeatureControls.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(ai): clean learner out-of-service UX + slim the generic error card
  apps/api/src/api/ai-feature-flags/ai-temporarily-disabled.exception.ts
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/ServiceUnavailableNotice.tsx
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(ai): tell authors when AI translations are skipped by the kill-switch
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/publish-job-result.types.ts
  apps/api/src/api/assignment/v2/services/translation-payload-safety.runtime.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.missing-languages.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.partial-failure.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.publish-dedup.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/types/publish-job-result.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(web): align ErrorPage test with the slimmed error card
  apps/web/components/__tests__/ErrorPage.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(ai): duck-type attempt error handling so the 409 notice survives SSR
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(ai): gate AI-graded assignments in author preview when AI is paused
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(ai): unmask SSR API errors and block AI question generation when paused
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/web/lib/api-client.ts
  apps/web/lib/author.ts
  apps/web/lib/question-generation/client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

removed line that drops system context
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: doc title upload
  .secrets.baseline
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: keep code uploads out of evidence grading
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: multi-select boosts learner grades
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: grade visibility, stale-grade gate, and zero-point clamping bugs
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

LGGTM
  .secrets.baseline
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop grading wrong file uploads as if they had evidence
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: handle evidence validation parse failures
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

prettier
  apps/api/src/api/attempt/common/strategies/__tests__/file-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/image-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.spec.ts
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  apps/api/src/api/llm/core/services/structured-output.util.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-format-preflight.spec.ts
  apps/api/src/api/llm/features/grading/services/__tests__/image-grading-criteria-based.spec.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/report/controllers/admin-report.controller.spec.ts
  apps/api/src/api/report/controllers/admin-report.controller.ts
  apps/api/src/job-queue/job-state.service.ts
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/utils/__tests__/authorPreview.test.ts
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
  apps/web/config/promo.ts
  apps/web/lib/__tests__/assignment-storage.test.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  scripts/check-submissions.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): dark mode foundation — theme infrastructure and shared components
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/MarkChatToggleButton.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/Modal.tsx
  apps/web/components/ReportModal.tsx
  apps/web/components/ThemeToggle.tsx
  apps/web/components/Title.tsx
  apps/web/components/Tooltip.tsx
  apps/web/components/WarningAlert.tsx
  apps/web/components/insights/AssignmentInsightsContent.tsx
  apps/web/hooks/useTheme.ts
  apps/web/lib/__tests__/theme.test.ts
  apps/web/lib/theme.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(web): dark mode for the learner experience and version control
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Breadcrumbs.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/InfoLine.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/TipsView.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/TipsView.test.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/attempts/page.tsx
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/components/version-control/QuickVersionActions.tsx
  apps/web/components/version-control/UnpublishedActivationModal.tsx
  apps/web/components/version-control/UnsavedChangesModal.tsx
  apps/web/components/version-control/VersionComparison.tsx
  apps/web/components/version-control/VersionConflictModal.tsx
  apps/web/components/version-control/VersionControlPanel.tsx
  apps/web/components/version-control/VersionControlTab.tsx
  apps/web/components/version-control/VersionHistory.tsx
  apps/web/components/version-control/VersionSelectionModal.tsx
  apps/web/components/version-control/VersionSelector.tsx
  apps/web/components/version-control/VersionStatus.tsx
  apps/web/components/version-control/VersionTreeView.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat(web): dark mode for the author flow
  apps/web/app/author/(components)/(questionComponents)/CriteriaTable.tsx
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/(questionComponents)/RubricSwitcher.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/ExportModal.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/PublishStatus.tsx
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/ImportModal.tsx
  apps/web/app/author/(components)/PageTitle.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/author/(components)/StepOne/FooterNavigation.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentFeedback.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionDisplay.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/StepTwo/ConfigGroups.tsx
  apps/web/app/author/(components)/StepTwo/FeedbackSettings.tsx
  apps/web/app/author/(components)/StepTwo/FooterNavigation.tsx
  apps/web/app/author/(components)/StepTwo/__tests__/FeedbackSettings.test.tsx
  apps/web/app/author/(components)/TimeLimitInputDropdown.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/author/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged

code review
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: replace block-body reduce with loop to satisfy no-array-reduce lint
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: reject publishing assignments whose numberOfQuestionsPerAttempt exceeds the question pool
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: authenticate the newest session when duplicate auth cookies are present
  .secrets.baseline
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: forward only the authenticated session's cookie to mark-api
  .secrets.baseline
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: make dedupeAuthenticationCookieHeader param optional to match lint-adjusted call sites
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.extractor.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
