Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix(web): show stored file size and notebook preview (SKILLS-131927)
  .secrets.baseline
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/Question.upload-preview.test.tsx
  apps/web/components/FileExplorer/FilePreview.tsx
  apps/web/components/__tests__/FilePreview.test.tsx
  apps/web/config/types.ts
  apps/web/lib/__tests__/file-content.test.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

feat: let admins open any assignment as learner or author
  apps/api-gateway/src/api/admin-assume-role.controller.spec.ts
  apps/api-gateway/src/api/admin-assume-role.controller.ts
  apps/api-gateway/src/api/api.module.ts
  apps/api-gateway/src/auth/auth.module.ts
  apps/api/src/auth/admin-auth.module.ts
  apps/api/src/auth/controllers/admin-auth.controller.spec.ts
  apps/api/src/auth/controllers/admin-auth.controller.ts
  apps/api/src/auth/services/admin-assume-role.service.spec.ts
  apps/api/src/auth/services/admin-assume-role.service.ts
  apps/web/components/AdminAssumeRoleButton.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/__tests__/AdminAssumeRoleButton.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: mark two detect-secrets false positives
  apps/api-gateway/src/api/admin-assume-role.controller.spec.ts
  apps/web/components/AdminAssumeRoleButton.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat: let admins open any assignment as learner or author (#729)
  apps/api-gateway/src/api/admin-assume-role.controller.spec.ts
  apps/api-gateway/src/api/admin-assume-role.controller.ts
  apps/api-gateway/src/api/api.module.ts
  apps/api-gateway/src/auth/auth.module.ts
  apps/api/src/auth/admin-auth.module.ts
  apps/api/src/auth/controllers/admin-auth.controller.spec.ts
  apps/api/src/auth/controllers/admin-auth.controller.ts
  apps/api/src/auth/services/admin-assume-role.service.spec.ts
  apps/api/src/auth/services/admin-assume-role.service.ts
  apps/web/components/AdminAssumeRoleButton.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/components/__tests__/AdminAssumeRoleButton.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(web): detect Android WebViews that mark the UA with a WebView token
  apps/web/lib/__tests__/upload-accept.test.ts
  apps/web/lib/upload-accept.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(web): keep typed markdown list markers literal in learner answers
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/TextQuestion.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/__tests__/MarkDownEditor.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(web): unwrap legacy reused-grade feedback with brackets in strings
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api): fetch learner http:// links over https first
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.spec.ts
  apps/api/src/api/attempt/common/utils/ssrf-safe-http.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): select results-page choices by answer text only
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/Question.choice-selection.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api): read xlsx chart XML regardless of namespace prefix
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.xlsx-charts.spec.ts
  apps/api/src/api/attempt/services/__tests__/fixtures/xlsx-charts-openpyxl-default-ns.xlsx
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): name file downloads after the original upload
  apps/api/src/api/files/files.controller.spec.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/storage-key.spec.ts
  apps/api/src/api/files/services/storage-key.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): keep structured feedback on reused text grades
  apps/api/src/api/assignment/v2/services/grading-consistency.service.spec.ts
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/attempt/common/strategies/abstract-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.record.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.reuse.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): name the language of the choice text a submit sends
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/config/types.ts
  apps/web/hooks/use-auto-save-response.ts
  apps/web/lib/__tests__/learner-choice-submission.test.ts
  apps/web/lib/learner-choice-submission.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): grade upload criteria on top candidates when the validator rejects all
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): stop cutting image evidence from document uploads to 220 chars
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/source-code.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): accept common renames in the rubric filename check
  apps/api/src/api/llm/features/grading/services/spreadsheet-rubric.utils.spec.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-rubric.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): grade choices submitted in another language by what they mean
  apps/api/src/api/attempt/common/interfaces/grading-context.interface.ts
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.cross-language.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/choice-renderings.util.spec.ts
  apps/api/src/api/attempt/common/utils/choice-renderings.util.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.choice-language.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): stop a superseded assignment load from showing its error
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/__tests__/AuthFetchToAbout.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api): answer 503 when the database drops its connections
  apps/api/src/common/filters/all-exceptions.filter.spec.ts
  apps/api/src/common/filters/all-exceptions.filter.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): show the real failure when the attempts list cannot load
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/__tests__/LearnerLayout.test.tsx
  apps/web/lib/__tests__/attempt-fetchers.test.ts
  apps/web/lib/author.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(report): record what the browser threw in report diagnostics
  apps/api/src/api/report/helpers/report-diagnostics.spec.ts
  apps/api/src/api/report/helpers/report-diagnostics.ts
  apps/web/app/admin/components/ReportDiagnosticsPanel.tsx
  apps/web/app/admin/components/__tests__/ReportDiagnosticsPanel.test.tsx
  apps/web/lib/__tests__/report-diagnostics.test.ts
  apps/web/lib/__tests__/request-log.test.ts
  apps/web/lib/report-diagnostics.ts
  apps/web/lib/request-log.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): treat an incomplete success body as a connection problem
  apps/web/components/ConnectionProblem.tsx
  apps/web/components/__tests__/ConnectionProblem.test.tsx
  apps/web/lib/__tests__/api-client.network.test.ts
  apps/web/lib/__tests__/api-retry.test.ts
  apps/web/lib/__tests__/error-screen.test.tsx
  apps/web/lib/api-client.ts
  apps/web/lib/api-retry.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
Due: yarn secrets:check:staged, yarn format:staged

test(api): keep real ssrf helpers in the grading-boundaries mock
  apps/api/src/api/attempt/common/strategies/__tests__/grading-boundaries.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(web): narrow the retry outcome without strict null checks
  apps/web/lib/__tests__/api-retry.test.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): stop reusing file grades made from truncated image evidence
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): accept an empty grade sync status response
  apps/web/components/GradeSyncStatus.tsx
  apps/web/components/__tests__/GradeSyncStatus.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: identify the launching portal from the LTI grade-callback host (#719)
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api/src/api/report/services/portal-routing.integration.spec.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
  apps/api/src/common/portal/portal-context.spec.ts
  apps/api/src/common/portal/portal-context.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(web): keep quotation marks around decoded choice text
  apps/web/app/Helpers/__tests__/quoted-choice-decoding.test.ts
  apps/web/app/Helpers/data-transformer.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): match a choice submitted without its wrapping quotation marks
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.quoted-choices.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/choice-renderings.util.spec.ts
  apps/api/src/api/attempt/common/utils/choice-renderings.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): keep decoded choice text verbatim instead of reading it as JSON
  apps/web/app/Helpers/__tests__/numeric-choice-text.test.ts
  apps/web/app/Helpers/data-transformer.realworld.test.ts
  apps/web/app/Helpers/data-transformer.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): recognise choice text a client rewrote as a JSON number
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.numeric-text.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/numeric-choice-text.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: stop detecting the assignment language with an LLM on every learner load
  apps/api/src/api/assignment/v2/services/translation.service.assignment-language.spec.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: drop the per-load LLM language detection from the v1 assignment GET
  apps/api/src/api/assignment/v1/services/assignment.service.get-language.spec.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

style: format the v1 assignment language check
  apps/api/src/api/assignment/v1/services/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): strip images from learner text answers before grading
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/common/utils/learner-text-images.util.spec.ts
  apps/api/src/api/attempt/common/utils/learner-text-images.util.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.text-images.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): keep images out of learner text answers and say why
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/TextQuestion.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/__tests__/MarkDownEditor.images.test.tsx
  apps/web/lib/__tests__/text-answer-images-translations.test.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
  apps/web/lib/text-answer-images.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(api): remove the unauthenticated language-detection endpoint
  apps/api/src/api/assignment/v1/controllers/assignment.controller.spec.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: fail fast on Redis outages instead of stalling requests
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.spec.ts
  apps/api/src/api/attempt/services/attempt-access-cache.service.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.ts
  apps/api/src/job-queue/redis.connection.spec.ts
  apps/api/src/job-queue/redis.connection.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): keep publish translation state on the queue connection
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
