Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix: handle unauthorized user in server components
  apps/api-gateway/src/api/api.service.ts
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

adding .gitignore
  .gitignore
Due: yarn secrets:check:staged, yarn format:staged

chore: sort translated languages list
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged

Fix: allotted time deletion and strict time limit validation
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/config/types.ts
  apps/web/stores/assignmentConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: create playwright tests for author side
  playwright.config.ts
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix build issue
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

update docker files
  .dockerignore
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

reverting workflows
  .github/workflows/build-images.yml
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

update workflow
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

update docker file for /api
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

feat: Wire up requireAllQuestions setting into backend and UI (no per-question UI yet)
  apps/api/prisma/migrations/20260118164643_add_require_all_questions/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/Helpers/filterAssignmentConfig.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/config/types.ts
  apps/web/hooks/useVersionControl.ts
  apps/web/lib/utils.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): email notification
  apps/api/src/api/attempt/services/grading-progress.service.ts
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix attempt loop issue, error screen problem, and question variant successPage issue
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/error.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

disabling eslint for question response service test
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

[fix] ukrainian translation
  apps/api/src/api/assignment/attempt/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix ukrainian translation
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

make /content trigger publish and translation workflow
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/scheduled-tasks/scheduled-tasks.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updated tests for /content
  .secrets.baseline
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

lint fix
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: wire up optional questions
  .secrets.baseline
  apps/api/prisma/migrations/20260118164643_add_require_all_questions/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/draft-management.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/Helpers/filterAssignmentConfig.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/config/types.ts
  apps/web/hooks/useVersionControl.ts
  apps/web/lib/utils.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: linking optional question id changes to assignment review tab
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore: small ui improvement, showing question number in review tab beside title
  apps/web/app/author/[assignmentId]/review/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add LTI grade sync pipeline
  apps/api/prisma/migrations/20260126044050_lti_sync/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/v1/modules/assignment.module.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/attempt/controllers/lti-sync-admin.controller.ts
  apps/api/src/api/attempt/lti-sync.module.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.spec.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.integration.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.spec.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): improve file grading handling
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.ts
  apps/api/src/api/assignment/v2/repositories/question.repository.ts
  apps/api/src/api/assignment/v2/repositories/variant.repository.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/scripts/translation-audit-batch.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): add learner autosave and response hydration
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/utils/localStorage.ts
  apps/web/hooks/__tests__/use-auto-save-response.test.ts
  apps/web/hooks/use-auto-save-response.ts
  apps/web/hooks/use-countdown.ts
  apps/web/jest.config.js
  apps/web/jest.setup.js
Due: yarn secrets:check:staged, yarn format:staged

chore(web): refine author UI and model download
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/scripts/download-models.js
Due: yarn secrets:check:staged, yarn format:staged

fix(web): error handling
  apps/api-gateway/src/main.ts
  apps/web/app/error.tsx
  apps/web/app/learner/(components)/GradingProgressModal.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/ErrorModal.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/GradeSyncStatus.tsx
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

removing these workflows as they don't seem to help
  .github/workflows/commit-messages.yml
  .github/workflows/pr-title.yml
Due: yarn secrets:check:staged, yarn format:staged

disabling llm judge in the meantime for maintenance
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/noop-grading-judge.service.ts
  apps/api/src/api/llm/llm.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

make /content trigger publish and translation workflow
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Moved chatbot llm logic from web api to backend llm api service
  .secrets.baseline
  apps/api/prisma/migrations/20260127103000_add_chat_assistant_usage_type/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/modules/chat.module.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/api/markChat/route.ts
  apps/web/app/api/markChat/stream/route.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

removed old web chatbot api and fallback
  .secrets.baseline
  apps/web/app/api/markChat/route.ts
  apps/web/app/api/markChat/stream/route.ts
  apps/web/app/chatbot/lib/markChatFunctions.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: implementing playwright e2e tests
  .secrets.baseline
  package.json
  playwright.config.ts
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/global-setup.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

build fix
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged

fixed question generation response format
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: added a learner test
  playwright.config.ts
  tests/examples/create-assignment-with-content.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/global-setup.ts
  tests/learner/learner-homepage.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: small fix in learner homepage test
  tests/learner/learner-homepage.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

test: update api-gateway tests
  .secrets.baseline
  apps/api-gateway/.eslintrc.cjs
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.spec.ts
  apps/api-gateway/src/app.service.spec.ts
  apps/api-gateway/src/auth/auth.module.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/jwt.config.service.spec.ts
  apps/api-gateway/src/health/health.module.spec.ts
  apps/api-gateway/src/logger/config.spec.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/routes.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
