Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

test: provide winston mock for wave-2 messaging and attempt service specs
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/messaging/messaging.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: sanitize user-controlled values before logging to prevent log forging
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

refactor: dedupe branch-wave-2 logging boilerplate
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore(gateway): restore sanitizeForLog helper used by api.service
  apps/api-gateway/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

docs update
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/api/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: updating file limit as per Context Manager's instructions
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/files.module.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

seperate build step from playwright tests step
  .github/workflows/playwright.yml
  scripts/start-e2e.sh
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

package patch
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add access control, typed errors, and test coverage for assignment file uploads, increase file size to 100mb
  .secrets.baseline
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Will not redownload files we already downloaded. Removed dead code
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/attempt/common/interfaces/attempt.interface.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

debugging failed uploads of medium sized files
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "debugging failed uploads of medium sized files"
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

obs(api-gateway): add [proxy-multipart] stream instrumentation for upload stalls
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Revert "obs(api-gateway): add [proxy-multipart] stream instrumentation for upload stalls"
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore: fix linting
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update admin.service.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

import patch
  apps/api/src/api/attempt/services/pdf-annotation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

import patch 2
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: new part of grading flow
  .secrets.baseline
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/files/services/files.service.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(files): validate uploadType at DTO layer in direct-upload
  .secrets.baseline
  apps/api/src/api/files/dto/upload.dto.spec.ts
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: completed implemention of MC subtype and tests
  .secrets.baseline
  apps/api/src/api/assignment/v1/controllers/assignment.controller.spec.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/llm/features/question-generation/interfaces/question-generation.interface.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/llm-facade.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/api/markChat/services/markChatService.ts
  apps/web/app/chatbot/lib/baseFunctionDefs.ts
  apps/web/app/chatbot/store/AuthorStoreBridge.ts
  apps/web/app/chatbot/store/authorStoreUtil.ts
  apps/web/components/FileUploadModal.tsx
  apps/web/config/types.ts
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

changed new multi-file upload to work with larger files
  apps/api/prisma/migrations/20260422152403_add_assignment_file_multipart_state/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.spec.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

added instana auto profiling
  apps/api-gateway/src/main.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix(assignment-files): sanitize extractor output to avoid DB-level rejection
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(assignment-files): harden complete-upload fallback to never leave rows stuck
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(assignment-files): lower initiate batch cap from 20 to 10 files
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.spec.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

import patch 3
  apps/api/package.json
  apps/api/src/api/attempt/services/pdf-annotation.service.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

imports patch 4
  .github/workflows/playwright.yml
  apps/api/package.json
Due: yarn secrets:check:staged, yarn format:staged

SendGrid patch
  .github/workflows/playwright.yml
  .secrets.baseline
  apps/api/package.json
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: update yarn.lock
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

PR fixes
  .secrets.baseline
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.spec.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/web/components/FileUploadModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

learner reset during preview
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
Due: yarn secrets:check:staged, yarn format:staged

Fixed words
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Add max cap for ai question generation
  apps/api/src/api/assignment/utils/questions-to-generate-caps.util.spec.ts
  apps/api/src/api/assignment/utils/questions-to-generate-caps.util.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/web/components/FileUploadModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(file-upload-modal): polish MC question generation inputs and readout
  apps/web/components/FileUploadModal.tsx
Due: yarn secrets:check:staged, yarn format:staged

Harden admin dashboard userId handling, file upload paths, and request logging
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/dto/dashboard-stats-query.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/path-sanitizer.spec.ts
  apps/api/src/api/files/services/path-sanitizer.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
  apps/api/src/logger/logger.middleware.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

NaN checks
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.spec.ts
  apps/api/src/api/assignment/question/guards/assignment.question.access.control.guard.ts
  apps/api/src/api/files/services/path-sanitizer.spec.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Persist AI usage token counters as bigints to match the schema
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: move legacy data transformer files out of main code paths
  apps/api/.eslintrc.cjs
  apps/api/legacy/helpers/data-transformer.edge-cases.legacy.ts
  apps/api/legacy/helpers/data-transformer.legacy.ts
  apps/api/legacy/helpers/data-transformer.realworld.legacy.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/common/common.module.ts
  apps/api/src/legacy/common/interceptors/data-transform.interceptor.ts
  apps/api/src/legacy/helpers/data-transformer.ts
  apps/api/src/legacy/helpers/decoder.ts
  apps/api/src/legacy/helpers/encoder.ts
  apps/api/src/legacy/helpers/transform-config.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/web/.eslintrc.cjs
  apps/web/app/Helpers/legacy/data-transformer.ts
  apps/web/app/Helpers/legacy/decoder.ts
  apps/web/app/Helpers/legacy/encoder.ts
  apps/web/app/Helpers/legacy/transform-config.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/hooks/legacy/useDataTransformer.ts
  apps/web/legacy/app-helpers/data-transformer.edge-cases.legacy.ts
  apps/web/legacy/app-helpers/data-transformer.legacy.ts
  apps/web/legacy/app-helpers/data-transformer.realworld.legacy.ts
  apps/web/legacy/app-helpers/tests/actual-api-format.legacy.ts
  apps/web/legacy/app-helpers/tests/choice-feedback-decoding.legacy.ts
  apps/web/legacy/lib/tests/api-client.legacy.ts
  apps/web/legacy/lib/tests/data-transformation-integration.legacy.ts
  apps/web/lib/api-client.ts
  apps/web/lib/legacy/transform-config.ts
  apps/web/stores/author.ts
  apps/web/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Validate admin dashboard userId filter as an email rather than a UUID
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/dto/dashboard-stats-query.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
