Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

removing notification system
  .secrets.baseline
  apps/api-gateway/src/api/api.controller.ts
  apps/api/src/api/api.module.ts
  apps/api/src/api/report/report.module.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/user/controllers/notification.controller.ts
  apps/api/src/api/user/modules/notification.module.ts
  apps/api/src/api/user/services/notification.service.ts
  apps/api/src/app.module.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/components/NotificationPanel.tsx
  apps/web/app/chatbot/components/UserReportsPanel.tsx
  apps/web/lib/author.ts
  apps/web/lib/notificationSSE.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

improving instana logs and adding secrets baseline update to the pre-commit script
  .husky/pre-commit
  .secrets.baseline
  apps/api/src/main.ts
  apps/web/next.config.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: Enhance beforeunload handling and cleanup in navigation components
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/StepOne/FooterNavigation.tsx
  apps/web/app/author/(components)/StepTwo/FooterNavigation.tsx
  apps/web/hooks/use-before-unload.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix variants issue
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/llm/llm-facade.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

adding .env.local to gitignore, implementing better db connectivity service with better architecture
  .gitignore
  apps/api/src/app.module.ts
  apps/api/src/database/circuit-breaker/database-circuit-breaker.service.spec.ts
  apps/api/src/database/circuit-breaker/database-circuit-breaker.service.ts
  apps/api/src/database/database.module.spec.ts
  apps/api/src/database/database.module.ts
  apps/api/src/database/health/database-health.indicator.spec.ts
  apps/api/src/database/health/database-health.indicator.ts
  apps/api/src/database/middleware/database-connection.middleware.spec.ts
  apps/api/src/database/middleware/database-connection.middleware.ts
  apps/api/src/database/prisma.service.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

removing driver specifications
  .secrets.baseline
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

fix test
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

new fn
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/learner/(components)/Question/LearnerRubricTable.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/ShowHideRubric.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

security
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fixing tests
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

final touch
  .secrets.baseline
  apps/api-gateway/src/main.ts
  apps/api/prisma/schema.prisma
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/test/migration-verification.test.ts
  apps/web/lib/api-health.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

disabling instana in local dev to avoid log noises
  .secrets.baseline
  apps/api/src/main.ts
  apps/web/next.config.js
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update README.md
  README.md
Due: yarn secrets:check:staged, yarn format:staged

fixing vulnerabilities, using nodejs 22.0.0 for development ( most stable ) (#149)
  .tool-versions
  apps/api-gateway/package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

adding migration.sql file back
  .secrets.baseline
  apps/api/prisma/migrations/20251009084928_adding_attempts_before_cooldown/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

fixing fetching assignment data to always fetch from assignmentVersion table active records
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

if attemptsBeforeCooldown is 0 or less, it shouldn't count the user down
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

updating author.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

adjusting schema.prisma back
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

changes and adjustments
  .secrets.baseline
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/chatbot/store/useAuthorContext.ts
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/hooks/useUserBehaviorMonitor.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

formatting
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/draft-management.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/attempt/dto/success-page-data.dto.ts
  apps/api/src/api/attempt/services/attempt-grading.service.ts
  apps/web/app/author/(components)/StepTwo/FeedbackSettings.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

moderation fix so learners can practice with coding topics
  apps/api/src/api/llm/core/services/moderation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixing linting issues
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/lib/version-tree.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

formatting and adding face_expression_model-weights_manifest to the git ignore
  .gitignore
  apps/api/src/common/common.module.ts
  apps/web/hooks/useDataTransformer.ts
  apps/web/lib/api-client.ts
  apps/web/lib/transform-config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: Enhance beforeunload handling and cleanup in navigation components
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint

adding test cases and ensuring that the feature works
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating test scripts with "jest --detectOpenHandles --forceExit " to avoid hanging workflows
  apps/api-gateway/package.json
  apps/api/package.json
  apps/web/jest.setup.js
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged

bug fixes
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating learner side and tests
  apps/api/src/api/assignment/v2/controllers/version-management.controller.ts
  apps/api/src/api/llm/features/grading/services/presentation-grading.service.ts
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/common/interceptors/__tests__/data-transform.interceptor.test.ts
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/__tests__/data-transformer.test.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/__tests__/data-transform.middleware.test.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/lib/__tests__/api-client.test.ts
  apps/web/lib/__tests__/data-transformation-integration.test.ts
  apps/web/lib/__tests__/jest.config.js
  apps/web/lib/api-client.ts
  apps/web/lib/api-health.ts
  apps/web/stores/author.ts
  apps/web/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

bug fixes
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentRetakeAttempts.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/attempts/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updates
  apps/api/src/helpers/data-transformer.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/hooks/useDataTransformer.ts
  package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating packages
  apps/api/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

adding new llm models (watsonx)
  .secrets.baseline
  apps/api/prisma/migrations/20251020072748_add_new_watsonx_models/migration.sql
  apps/api/prisma/migrations/20251020080828_add_granite_vision_model/migration.sql
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/llm/core/services/gpt-oss-120b-llm-service.ts
  apps/api/src/api/llm/core/services/granite-4-h-small-llm-service.ts
  apps/api/src/api/llm/core/services/granite-vision-3-2-2b-llm-service.ts
  apps/api/src/api/llm/core/services/llama-3-3-70b-instruct-llm-service.ts
  apps/api/src/api/llm/core/services/llama-4-maverick-llm-service.ts
  apps/api/src/api/llm/core/services/mistral-medium-2505-llm-service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/utils/structured-json.util.ts
  apps/api/src/api/llm/core/utils/watsonx-rate-limiter.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/llm/llm.module.ts
  apps/api/src/main.ts
  apps/web/app/admin/insights/[id]/page.tsx
  apps/web/app/admin/llm-assignments/page.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/lib/api-client.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixing encoding/decoding problem
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/__tests__/data-transform.middleware.test.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/author/(components)/Header/SaveAndPublishButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/components/version-control/BottomVersionBar.tsx
  apps/web/components/version-control/VersionTreeView.tsx
  apps/web/package.json
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

push learner attempt fixes
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/utils/attempts.ts
  apps/web/config/types.ts
  apps/web/hooks/use-countdown.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating learner timer and attempts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/create.update.assignment.attempt.request.dto.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt-validation.service.ts
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/attempts/page.tsx
  apps/web/app/learner/utils/attempts.ts
  apps/web/config/types.ts
  apps/web/lib/author.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixing production bugs and adding tests to make sure these bugs dont regress
  .secrets.baseline
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/file-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/image-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/presentation-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/text-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/true-false-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/__tests__/url-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/true-false-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

update fix
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
