Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Delete file
  .github/workflows/mirror-github-ibm.yml
Due: yarn secrets:check:staged, yarn format:staged

chore: sync CODEOWNERS
  CODEOWNERS
Due: yarn secrets:check:staged, yarn format:staged

Create .whitesource
  .whitesource
Due: yarn secrets:check:staged, yarn format:staged

Add Contrast SAST Scan workflow
  .github/workflows/contrast-sast-scan.yml
Due: yarn secrets:check:staged, yarn format:staged

Update Contrast SAST Scan workflow
  .github/workflows/contrast-sast-scan.yml
Due: yarn secrets:check:staged, yarn format:staged

Delete Contrast SAST Scan workflow file
  .github/workflows/contrast-sast-scan.yml
Due: yarn secrets:check:staged, yarn format:staged

Add Contrast SAST Scan workflow child
  .github/workflows/contrast-sast-scan-child.yml
Due: yarn secrets:check:staged, yarn format:staged

chore: updated openai_api_key
  apps/api/.secrets.baseline
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

fix: change grading callback request to use PUT instead of POST
  .secrets.baseline
  apps/api/src/api/assignment/attempt/attempt.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

doc: updated ports to avoid conflict for local development, changed readme
  apps/api-gateway/dev.env
  apps/api/dev.env
  dev.env
  docs/CONTRIBUTING.md
  package.json
Due: yarn secrets:check:staged, yarn format:staged

doc: refined docs by reformating and rewording
  .secrets.baseline
  dev.env
  docs/CONTRIBUTING.md
  package.json
Due: yarn secrets:check:staged, yarn format:staged

doc: updated local mark pg for clarity, updated readme
  apps/api-gateway/dev.env
  apps/api/dev.env
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged

doc: Update mark to its default project openai api key
  apps/api/dev.env
Due: yarn secrets:check:staged, yarn format:staged

chore: resolve vulnerabilities and fix dockerfiles (#39)
  .dockerignore
  apps/api-gateway/Dockerfile
  apps/api-gateway/package.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: resolve vulnerabilities (#43)
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, hadolint

bump deps to fix vuls
  .secrets.baseline
  .tool-versions
  apps/api/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

bump node version
  .github/workflows/test.yml
Due: yarn secrets:check:staged, yarn format:staged

ci(dependencies): add workflow
  .github/workflows/dependencies.yml
Due: yarn secrets:check:staged, yarn format:staged

ci(dependencies): remove workflow
  .github/workflows/dependencies.yml
Due: yarn secrets:check:staged, yarn format:staged

fix stupid sorting bug (#64)
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixing build by modifying the env var in turbo config (#65)
  .github/workflows/contrast-sast-scan-child.yml
  .github/workflows/release.yml
  .secrets.baseline
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/api/llm/llm.service.ts
  apps/web/Dockerfile
  apps/web/app/author/(components)/QuestionWrapper.tsx
  package.json
  turbo.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint

fix dropdown not finding the mcq (#68)
  apps/api/src/api/llm/llm.service.ts
  apps/web/app/author/(components)/QuestionWrapper.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

fix: backend expects questionOrder to exist but we don't want that (#69)
  apps/api/src/api/assignment/assignment.service.ts
  apps/web/package.json
  package.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix another bug (#71)
  apps/api/src/api/assignment/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix: The feedback the LLM provides now does not reveal the answer to the learner and added a simple "guardrail" for when the learner responds with (#115)
  apps/api/src/api/llm/templates.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

docs: update example password to not look like an actual password (#124)
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged

docs: Improve local developer experience and documentation (#125)
  apps/api-gateway/dev.env
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/dev.env
  apps/api/package.json
  apps/api/prisma/seed.dump
  docs/CONTRIBUTING.md
  package.json
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged

chore: added design system css (#70)
  apps/web/app/globals.css
Due: yarn secrets:check:staged, yarn format:staged

fix weird logic error where if assignment is in a group the code should return success and exisit and not return bad request (#211)
  .secrets.baseline
  apps/api/src/api/admin/admin.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(codeowners): oliver is now codeowner
  CODEOWNERS
Due: yarn secrets:check:staged, yarn format:staged

chore: get template (#285)
  docs/pull_request_template.md
Due: yarn secrets:check:staged, yarn format:staged

Fix build issues caused by type errors not caught by the lint script + cleanup of some components to improve readability (#286)
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/author/(components)/StepOne/layout.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentFeedback.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/constants.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: weird behaviour (#290)
  apps/web/app/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Chore/pr temp (#287)
  docs/pull_request_template.md
Due: yarn secrets:check:staged, yarn format:staged

Fix: latest data not showing on initial page load. UI improvements to improve clarity (#295)
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/test/assignment.service.spec.ts
  apps/web/app/actions/author.ts
  apps/web/app/actions/learner.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/config/types.ts
  apps/web/hooks/use-countdown.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
  apps/web/stores/middlewares.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged

Docs: Added 2 videos. One that goes through how to set up Mark, and another one going through the codebase and it's major features (#300)
  README.md
  docs/CONTRIBUTING.md
Due: yarn secrets:check:staged, yarn format:staged
