Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

chore: fix new vul
  apps/api/package.json
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: update docker
  apps/api-gateway/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

chore: update imports
  apps/api-gateway/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Publish mark chart 1.4.11
  index.yaml
  mark-1.4.11.tgz
Due: yarn secrets:check:staged, yarn format:staged

fix: prevent stale feedback state from overriding backend on load
  apps/web/stores/assignmentFeedbackConfig.ts
  apps/web/stores/author.ts
  apps/web/stores/middlewares.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(version-bar): restore checkoutVersion call on version select
  apps/web/components/version-control/BottomVersionBar.tsx
Due: yarn secrets:check:staged, yarn format:staged

Revert "fix(version-bar): restore checkoutVersion call on version select"
  apps/web/components/version-control/BottomVersionBar.tsx
Due: yarn secrets:check:staged, yarn format:staged

Fix question order drift for marked assignments
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/question/question.service.spec.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/assignment/utils/question-order.util.spec.ts
  apps/api/src/api/assignment/utils/question-order.util.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/chatbot/store/useAuthorContext.ts
  apps/web/stores/__tests__/author.test.ts
  apps/web/stores/author.ts
  apps/web/stores/utils/__tests__/question-order.test.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

AI SDK type fix
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: update the message for the toggle
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: chat bot supports file upload
  .secrets.baseline
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/user/modules/chat.module.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
  apps/web/components/FileUploader.tsx
  apps/web/config/types.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

route excel grading to evidence-based and add filename rubric coverage
  .secrets.baseline
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/spreadsheet-rubric.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(feedback): prevent setVerbosityLevel from changing updatedAt
  apps/web/stores/assignmentFeedbackConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

configured setup and tests via single command
  .secrets.baseline
  apps/api-gateway/package.json
  apps/api/package.json
  apps/web/package.json
  package.json
  playwright.config.ts
  scripts/detect-secrets-staged.sh
  scripts/dev.sh
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/e2e-bootstrap.ts
  tests/helpers/e2e-test.ts
  tests/helpers/global-setup.ts
  tests/helpers/role-helpers.ts
  tests/helpers/setup-test-assignments.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  tests/setup/e2e.setup.ts
  turbo.json
Due: yarn secrets:check:staged, yarn format:staged, shellcheck

fix: chatbot refresh refactoring and bug fix
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: updating chatbot refresh init messages
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix: required learner tag showing on non required questions
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

reduced overhead for running playwright tests
  .github/workflows/playwright.yml
  SETUP.md
  TESTING.md
  apps/api/package.json
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/web/entrypoint.sh
  apps/web/next.config.js
  apps/web/package.json
  apps/web/scripts/prepare-next-start.js
  apps/web/scripts/with-merged-env.sh
  package.json
  playwright.config.ts
  scripts/check-port.sh
  scripts/dev.sh
  scripts/server-common.sh
  scripts/start-e2e.sh
  tests/helpers/assignment-helpers.ts
  tests/helpers/e2e-bootstrap.ts
  tests/helpers/setup-test-assignments.ts
  tests/learner/learner-homepage.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

lint fix
  apps/api/src/api/llm/features/grading/services/spreadsheet-rubric.utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: add assignment file schema
  .secrets.baseline
  apps/api/prisma/migrations/20260409144618_add_assignment_files/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

chore: file upload service
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: try catch for file upload, and catch fails and delete
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: updating db, and clean up return in service
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: mark job tests
  .env.template
  .github/workflows/build-images.yml
  .secrets.baseline
  apps/api/.env.template
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/llm/features/grading/services/grading-cache.service.spec.ts
  apps/api/src/app.module.ts
  apps/api/src/job-queue/job-state.service.spec.ts
  apps/jobs/src/job-worker.service.spec.ts
  docs/insomnia/README.md
  docs/insomnia/job-microservice.insomnia.json
  scripts/test-insomnia-jobs.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

chore(api): fix eslint warnings in question response service
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding controller and module setup
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/modules/assignment.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): extract assignment files on upload
  apps/api/prisma/migrations/20260413034252_add_assignment_file_extraction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/modules/assignment.module.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: uploaded extracted text can be used for question generation
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: update test so if redis isn't available it skips the test
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/job-queue/job-queue.integration.spec.ts
  apps/api/src/job-queue/job-queue.performance.spec.ts
  apps/api/src/job-queue/job-queue.stress.spec.ts
  test-support/redis-test-harness.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Publish Helm chart(s): mark-jobs
  index.yaml
  mark-jobs-0.1.0.tgz
Due: yarn secrets:check:staged, yarn format:staged

feat: builiding job images
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fix/database-issue
  apps/api/prisma/migrations/20260414101500_ai_usage_bigint_counters/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.spec.ts
  apps/api/src/api/llm/core/services/prompt-processor.service.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.spec.ts
  apps/api/src/api/llm/core/services/usage-tracking.service.ts
  apps/api/src/api/llm/core/utils/ai-usage-counter.util.spec.ts
  apps/api/src/api/llm/core/utils/ai-usage-counter.util.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

update yarn.lock
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: docker file build for jobs
  .dockerignore
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

test fix
  tests/author/assignment-settings.spec.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: reroute file or link upload image grading
  .secrets.baseline
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: adding types for upload
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged

fix: fix s3 chunking upload
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
