Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

Render read-only rich text without a live editor
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

Make learner tips a dismissible sheet and add an in-page submit control
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TipsView.tsx
  apps/web/app/learner/(components)/Question/__tests__/QuestionContainer.test.tsx
  apps/web/app/learner/(components)/Question/__tests__/TipsView.test.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/__tests__/appConfig.test.ts
  apps/web/stores/appConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

Await PDF image objects so embedded diagrams reach grading
  apps/api/src/api/attempt/services/__tests__/fixtures/pdf-embedded-image-mask.pdf
  apps/api/src/api/attempt/services/__tests__/fixtures/pdf-embedded-raster-image.pdf
  apps/api/src/api/attempt/services/__tests__/pdf-structure-extractor.embedded-images.spec.ts
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
  apps/api/test/__mocks__/pdfjs-dist.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Describe workbook chart orientation, legends, sheets and pivot tables
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.xlsx-charts.spec.ts
  apps/api/src/api/attempt/services/__tests__/fixtures/xlsx-charts-legends-pivot.xlsx
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Run the timed-attempt countdown on the server clock
  apps/api/src/api/assignment/attempt/attempt.service.spec.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/base.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.spec.ts
  apps/api/src/api/assignment/attempt/helper/blank-submission.helper.ts
  apps/api/src/api/assignment/attempt/helper/server-clock.helper.spec.ts
  apps/api/src/api/assignment/attempt/helper/server-clock.helper.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/Timer.test.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/utils/__tests__/attempts.clock.test.ts
  apps/web/app/learner/utils/attempts.ts
  apps/web/config/types.ts
  apps/web/hooks/__tests__/use-countdown.test.tsx
  apps/web/hooks/use-countdown.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Harden and instrument the GitHub OAuth token exchange
  apps/api/src/api/github/dto/github-oauth.dto.ts
  apps/api/src/api/github/github-credential-check.module.ts
  apps/api/src/api/github/github-credential-check.service.spec.ts
  apps/api/src/api/github/github-credential-check.service.ts
  apps/api/src/api/github/github-oauth-errors.ts
  apps/api/src/api/github/github-oauth-state.service.spec.ts
  apps/api/src/api/github/github-oauth-state.service.ts
  apps/api/src/api/github/github.controller.ts
  apps/api/src/api/github/github.module.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.spec.ts
  apps/api/src/health/health.service.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Spend a GitHub authorization code once and say why it failed
  apps/web/app/learner/(components)/Question/GithubUploadModal.tsx
  apps/web/app/learner/(components)/Question/__tests__/GithubUploadModal.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/lib/__tests__/github-oauth.test.ts
  apps/web/lib/github-oauth.ts
  apps/web/lib/github.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged

Measure attempt age without the device clock when the server gave none
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/attempt-clock.integration.test.tsx
  apps/web/app/learner/utils/__tests__/attempts.clock.test.ts
  apps/web/app/learner/utils/attempts.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

Restore the ffmpeg core the video recorder loads and report its failures
  .prettierignore
  apps/web/__tests__/ffmpeg-core.test.ts
  apps/web/app/api/transcribe/__tests__/route.test.ts
  apps/web/app/api/transcribe/route.ts
  apps/web/app/learner/(components)/Question/PresentationGrader.tsx
  apps/web/lib/__tests__/presentation-processing.test.ts
  apps/web/lib/learner.ts
  apps/web/lib/presentation-processing.ts
  apps/web/package.json
  apps/web/public/ffmpeg-core/ffmpeg-core.js
  apps/web/scripts/sync-ffmpeg-core.js
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Declare .xlsx under its own MIME type in upload pickers
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/lib/__tests__/upload-accept.test.ts
  apps/web/lib/upload-accept.ts
Due: yarn secrets:check:staged, yarn format:staged

Retry transient URL fetch failures instead of grading them zero
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.spec.ts
  apps/api/src/api/attempt/common/utils/github-content-fetch.util.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/llm/features/grading/errors/github-rate-limited.error.ts
  apps/api/src/api/llm/features/grading/errors/retryable-url-fetch.error.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Apply one URL normalization rule in the browser and the grader
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.spec.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.ts
  apps/api/src/api/attempt/common/strategies/__tests__/url-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/url-grading.strategy.ts
  apps/api/src/api/attempt/common/utils/learner-url.util.spec.ts
  apps/api/src/api/attempt/common/utils/learner-url.util.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/(components)/Question/__tests__/UrlQuestion.test.tsx
  apps/web/lib/__tests__/url-response.test.ts
  apps/web/lib/url-response.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Stop replaying one learner's grade onto another learner's answer
  apps/api/src/api/assignment/v2/services/grading-consistency.service.spec.ts
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/attempt/common/interfaces/grading-context.interface.ts
  apps/api/src/api/attempt/common/strategies/abstract-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.reuse.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Serve learner attempts in one language instead of every language
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.spec.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Tell learners when their own request failed instead of blaming the server
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/components/ConnectionProblem.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/components/ReportErrorButton.tsx
  apps/web/components/__tests__/ConnectionProblem.test.tsx
  apps/web/lib/__tests__/api-client.network.test.ts
  apps/web/lib/__tests__/error-screen.test.tsx
  apps/web/lib/__tests__/report-client.test.ts
  apps/web/lib/api-client.ts
  apps/web/lib/api-retry.ts
  apps/web/lib/error-screen.tsx
  apps/web/lib/report-client.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged

Retry the learner assignment fetch and stop issuing it twice
  apps/web/app/learner/(components)/Question/__tests__/assignment-hydration.test.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/lib/__tests__/assignment-fetcher.test.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

Keep the assignment fetch loud for callers that show nothing themselves
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/lib/__tests__/assignment-fetcher.test.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

Submit a timed attempt after the minimum-age hold instead of dropping it
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/__tests__/attempt-clock.integration.test.tsx
  apps/web/hooks/use-countdown.ts
Due: yarn secrets:check:staged, yarn format:staged

Apply the tips session dismissal after mount, not at store construction
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/stores/__tests__/appConfig.test.ts
  apps/web/stores/appConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

Stop the tips sheet from marking the rest of the page inert
  apps/web/app/learner/(components)/Question/TipsView.tsx
  apps/web/app/learner/(components)/Question/__tests__/TipsView.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

Gate the in-page submit button behind the same checks as the header
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/__tests__/QuestionContainer.test.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged

Verify the transcription session against the API
  apps/web/app/api/transcribe/__tests__/route.test.ts
  apps/web/app/api/transcribe/route.ts
  apps/web/lib/__tests__/rate-limit.test.ts
  apps/web/lib/rate-limit.ts
Due: yarn secrets:check:staged, yarn format:staged

Refuse to sign GitHub OAuth state with a derivable key
  apps/api/src/api/github/github-oauth-state.service.spec.ts
  apps/api/src/api/github/github-oauth-state.service.ts
  apps/api/src/api/github/github.service.spec.ts
  apps/api/src/api/github/github.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Gate the integration health report behind admin authentication
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Tell learners on the results page when the connection dropped
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/results-connection-problem.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/attempt-fetchers.test.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

Pace retries after a transient URL fetch failure
  apps/api/src/job-queue/attempt-retry-backoff.spec.ts
  apps/api/src/job-queue/attempt-retry-backoff.ts
  apps/api/src/job-queue/job-queue.service.spec.ts
  apps/api/src/job-queue/job-queue.service.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Stop the UI-language sync from re-navigating attempt routes
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/Header.test.tsx
Due: yarn secrets:check:staged, yarn format:staged

Cap a reused grade at the question's own marks and keep previews out of it
  apps/api/src/api/assignment/v2/services/grading-consistency.service.spec.ts
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/attempt/common/strategies/abstract-grading.strategy.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.record.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.reuse.spec.ts
  apps/api/src/api/attempt/common/strategies/text-grading.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Refuse an attempt read when the session carries no user id
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.spec.ts
  apps/api/src/api/assignment/attempt/guards/assignment.attempt.access.control.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Report what actually failed when results cannot be loaded
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/__tests__/page.error-status.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/lib/__tests__/attempt-error.test.ts
  apps/web/lib/__tests__/attempt-fetchers.test.ts
  apps/web/lib/api-retry.ts
  apps/web/lib/attempt-error.ts
  apps/web/lib/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

Stop rendered rich text from re-opening what the sanitizer closed
  apps/web/components/MarkdownViewer.tsx
  apps/web/components/__tests__/MarkdownViewer.test.tsx
  apps/web/lib/sanitize-html.ts
Due: yarn secrets:check:staged, yarn format:staged

Serve region-coded languages their own translation
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.spec.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Stop the GitHub handoff from trapping or cancelling itself
  apps/web/app/learner/(components)/Question/GithubUploadModal.tsx
  apps/web/app/learner/(components)/Question/__tests__/GithubUploadModal.test.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/__tests__/Question.github.test.tsx
  apps/web/lib/__tests__/github-oauth.test.ts
  apps/web/lib/github-oauth.ts
Due: yarn secrets:check:staged, yarn format:staged

Translate the connection-problem screen in every supported language
  apps/web/components/ConnectionProblem.tsx
  apps/web/lib/__tests__/connection-problem-translations.test.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
Due: yarn secrets:check:staged, yarn format:staged

Bound the work a workbook package can force during extraction
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.xlsx-hardening.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Translate the GitHub file-picker copy into every UI catalog
  apps/web/lib/__tests__/github-copy-translations.test.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
Due: yarn secrets:check:staged, yarn format:staged

Cover the video-embed host allowlist against lookalike sources
  apps/web/lib/__tests__/sanitize-html.test.ts
Due: yarn secrets:check:staged, yarn format:staged

Verify the session server-side before answering a chat
  apps/web/app/api/markChat/__tests__/route.test.ts
  apps/web/app/api/markChat/route.ts
  apps/web/app/api/markChat/stream/route.ts
  apps/web/lib/chat-session.ts
Due: yarn secrets:check:staged, yarn format:staged

Stop logging OAuth codes in the access log referer
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/logger/logger.middleware.ts
  apps/api-gateway/src/logger/sanitize.spec.ts
  apps/api-gateway/src/logger/sanitize.ts
  apps/api/src/logger/logger.middleware.spec.ts
  apps/api/src/logger/logger.middleware.ts
  apps/api/src/logger/sanitize.spec.ts
  apps/api/src/logger/sanitize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Keep the learner header's submit button on screen at every width
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/__tests__/Header.responsive.test.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/__tests__/layout.test.tsx
  apps/web/app/learner/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged
