Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

update
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixing question order bug
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

update data transformer
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/app.module.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/interceptors/__tests__/data-transform.interceptor.test.ts
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/__tests__/data-transformer.test.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/middleware/__tests__/data-transform.middleware.test.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: persisting author comment box
  apps/api/prisma/migrations/20251021142334_add_author_comment_to_question/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/repositories/question.repository.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/attempt/common/utils/attempt-questions-mapper.util.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update pre-commit
  .husky/pre-commit
Due: yarn secrets:check:staged, yarn format:staged

fix(api): update common-mocks.ts to follow the new assignment structure by adding authorComent
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: encode/decode choices and improve code structure
  .secrets.baseline
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/helpers/transform-config.ts
  apps/web/app/Helpers/__tests__/actual-api-format.test.ts
  apps/web/app/Helpers/__tests__/choice-feedback-decoding.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/Helpers/transform-config.ts
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor/warning-alert
  README.md
  apps/web/components/WarningAlert.tsx
Due: yarn secrets:check:staged, yarn format:staged

refactor: remove unused imports and simplify component code
  apps/web/app/admin/components/AdminDashboard.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: author comment box now has button
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged

installing playwright
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  tests/example.spec.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat: detect changes to author comment field in assignment summary
  apps/web/app/Helpers/checkDiff.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(api): optimizing admin controllers
  .dockerignore
  .env.template
  apps/api/prisma/migrations/20251030025234_add_composite_indexes_and_persisted_costs/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/api/admin/controllers/assignment-analytics.controller.spec.ts
  apps/api/src/api/admin/controllers/flagged-submissions.controller.spec.ts
  apps/api/src/api/admin/controllers/llm-assignment.controller.spec.ts
  apps/api/src/api/admin/controllers/llm-pricing.controller.spec.ts
  apps/api/src/api/admin/controllers/regrading-requests.controller.spec.ts
  apps/api/src/api/admin/controllers/regrading-requests.controller.ts
  apps/api/src/api/api.controller.spec.ts
  apps/api/src/api/api.service.spec.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/question.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/report.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/variant.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/llm/llm.module.ts
  apps/api/src/api/scheduled-tasks/scheduled-tasks.module.ts
  apps/api/src/cache/redis.module.ts
  apps/api/src/cache/redis.service.ts
  docker-compose.yml
  package.json
  scripts/start-services.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

chore: update redis and admin side WIP
  apps/api/package.json
  apps/api/src/api/admin/__tests__/admin-analytics.performance.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/api/src/cache/redis.service.ts
  apps/api/src/main.ts
  apps/web/app/admin/components/AdminDashboard.tsx
  apps/web/app/admin/components/AssignmentAnalyticsTable.tsx
  apps/web/app/admin/components/DashboardFilters.tsx
  apps/web/app/admin/insights/[id]/page.tsx
  apps/web/app/admin/page.tsx
  docker-compose.yml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: data transformer should handle more edge cases with more tests
  .secrets.baseline
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/data-transformer.edge-cases.spec.ts
  apps/api/src/helpers/data-transformer.realworld.spec.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/helpers/transform-config.ts
  apps/web/app/Helpers/__tests__/choice-feedback-decoding.test.ts
  apps/web/app/Helpers/data-transformer.edge-cases.test.ts
  apps/web/app/Helpers/data-transformer.realworld.test.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/Helpers/transform-config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "fix: data transformer (#185)"
  .secrets.baseline
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/app.module.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/interceptors/__tests__/data-transform.interceptor.test.ts
  apps/api/src/common/interceptors/data-transform.interceptor.ts
  apps/api/src/helpers/__tests__/data-transformer.test.ts
  apps/api/src/helpers/data-transformer.edge-cases.spec.ts
  apps/api/src/helpers/data-transformer.realworld.spec.ts
  apps/api/src/helpers/data-transformer.spec.ts
  apps/api/src/helpers/data-transformer.ts
  apps/api/src/helpers/transform-config.ts
  apps/api/src/middleware/__tests__/data-transform.middleware.test.ts
  apps/api/src/middleware/data-transform.middleware.ts
  apps/web/app/Helpers/__tests__/actual-api-format.test.ts
  apps/web/app/Helpers/__tests__/choice-feedback-decoding.test.ts
  apps/web/app/Helpers/data-transformer.edge-cases.test.ts
  apps/web/app/Helpers/data-transformer.realworld.test.ts
  apps/web/app/Helpers/data-transformer.test.ts
  apps/web/app/Helpers/data-transformer.ts
  apps/web/app/Helpers/transform-config.ts
  apps/web/lib/api-client.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

ci: updating start scripts
  README.md
  SETUP.md
  apps/api/prisma/seed.ts
  compose.yaml
  docker-compose.yml
  docs/CONTRIBUTING.md
  package.json
  scripts/check-port.sh
  scripts/dev.sh
  scripts/seed.sh
  scripts/setup.sh
  scripts/start-db.sh
  scripts/start.sh
  scripts/validate-env.sh
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, shellcheck

reverting this back
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: app.module to not apply user session on /admin
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

update to use admin-dashboard instead of admin directory
  apps/api/src/api/admin/controllers/regrading-requests.controller.ts
  apps/api/src/api/admin/controllers/settings.controller.ts
  apps/api/src/common/services/email.service.ts
  apps/web/app/admin/regrading-requests/components/RegradingRequestsContent.tsx
  apps/web/app/admin/settings/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updating yarn.lock
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

troubleshooting git commit
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
Due: yarn secrets:check:staged, yarn format:staged

Chore: Changing hover text on author comment box
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: adding question control settings end to end
  .secrets.baseline
  .tool-versions
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/prisma/migrations/20251112211321_add_question_controls/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/repositories/assignment.repository.ts
  apps/api/src/api/assignment/v2/services/version-management.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionControls.tsx
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SecurityMonitor.tsx
  apps/web/app/learner/(components)/__tests__/SecurityMonitor.test.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/config/constants.ts
  apps/web/config/types.ts
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/learner.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat: xlsx support feature
  apps/web/app/author/(components)/ImportModal.tsx
  apps/web/app/author/(components)/__tests__/ImportModal.xlsx.integration.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/jest.setup.js
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat: xlsx support feature (#205)
  apps/web/app/author/(components)/ImportModal.tsx
  apps/web/app/author/(components)/__tests__/ImportModal.xlsx.integration.test.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/jest.setup.js
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix date issue
  apps/api/src/common/interceptors/serialize-dates.interceptor.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix date issue (#207)
  apps/api/src/common/interceptors/serialize-dates.interceptor.ts
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat/author comment box is now visible on author's learner preview side
  .secrets.baseline
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/web/app/author/(components)/(questionComponents)/QuestionWrapper.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: add content to assignment controller
  apps/api/src/api/admin/admin.controller.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/dto/assignment/add.content.to.assignment.request.dto.ts
  apps/api/src/api/admin/tests/admin.service.add-content.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update admin.controller.ts
  apps/api/src/api/admin/admin.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: update float
  .secrets.baseline
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/attempt/common/strategies/__tests__/choice-grading.strategy.spec.ts
  apps/api/src/api/attempt/common/strategies/choice-grading.strategy.ts
  apps/api/src/api/llm/features/question-generation/services/question-generation.service.ts
  apps/api/src/api/llm/features/question-generation/services/question-validator.service.ts
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix: initial commit replacing 500 error with 401
  apps/api/src/api/api.controller.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: app module to not apply user session over /admin apis
  .secrets.baseline
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

using postgres for caching
  apps/api/package.json
  apps/api/prisma/migrations/20251105000000_add_admin_cache_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/__tests__/admin-analytics.performance.spec.ts
  apps/api/src/api/admin/admin.controller.spec.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/admin.service.spec.ts
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/admin/controllers/admin-dashboard.controller.spec.ts
  apps/api/src/api/admin/controllers/assignment-analytics.controller.spec.ts
  apps/api/src/api/admin/controllers/flagged-submissions.controller.spec.ts
  apps/api/src/api/admin/controllers/llm-assignment.controller.spec.ts
  apps/api/src/api/admin/controllers/llm-pricing.controller.spec.ts
  apps/api/src/api/admin/controllers/regrading-requests.controller.spec.ts
  apps/api/src/api/api.controller.spec.ts
  apps/api/src/api/api.service.spec.ts
  apps/api/src/api/assignment/v2/services/__tests__/version-management.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/assignment.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/question.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/report.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/repositories/variant.repository.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/cache/cache.module.ts
  apps/api/src/cache/cache.service.ts
  apps/api/src/cache/redis.module.ts
  apps/api/src/cache/redis.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
