Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

fix(api): refcount per-language in-flight state
  apps/api/src/api/assignment/attempt/translation-state-redis.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): gate translation enqueue and markPending on ENABLE_TRANSLATION
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): worker→api fetch timeout exceeds publish poll timeout
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

style(api): use Number.parseInt in inflight refcount read
  apps/api/src/api/assignment/attempt/translation-state-redis.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(api): set languageTranslation: true on TranslationService mock
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: harden AI feedback rerun re-fetch on success, concurrency guard, typed injection token, and DTO validator decorator
  apps/api/src/api/attempt/attempt.constants.ts
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: refresh full attempt state after AI feedback rerun
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(attempt): implement deterministic AI feedback reruns
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/grading-progress.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: remove stale eslint-disable comments and revert IIFE-throw patterns
  apps/api/src/api/attempt/services/attempt.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/auth/admin-auth.module.ts
  apps/api/src/auth/controllers/admin-auth.controller.ts
  apps/web/stores/assignmentFeedbackConfig.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): lower translation lockDuration 5min -> 120s
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged

refactor(api): extract publish poll loop into shared helper
  apps/api/src/api/assignment/v2/services/assignment.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): author-facing retry for failed translations
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.constants.ts
  apps/api/src/job-queue/job-queue.types.ts
  apps/jobs/src/job-queue.constants.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(web): retry-failed-translations button in publish progress
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/web/app/author/(components)/Header/PublishProgress.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/author.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(security): close abort-as-delete backdoor and learner upload path bypass
  .secrets.baseline
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: clean up orphaned UPLOADING assignment file rows
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Fix ForbiddenException swallowed by withErrorHandling
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: guard decordURIComponent,, restore COS 404 detection and tighten erro type
  .secrets.baseline
  apps/api/src/api/files/services/s3.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: abort generic multipart upload on client-side failure
  apps/api/src/api/files/dto/upload.dto.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/web/config/types.ts
  apps/web/lib/reliableUpload.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Mark file FAILED and delete S3 object on post-complete step failure
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Use single getObject instead of headObject + getObject for file extraction
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(chat): harden file attachment auth and assignment upload recovery
  .secrets.baseline
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.spec.ts
  apps/api/src/api/assignment/v2/dtos/assignment-file-upload.dto.ts
  apps/api/src/api/assignment/v2/services/assignment-file.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment-file.service.spec.ts
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/services/chat-file-attachments.ts
  apps/api/src/api/user/services/chat.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/api/user/tests/unit/services/chat.service.spec.ts
  apps/web/app/api/markChat/services/markChatService.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(chat): validate chatbot upload types and block unsaved file sends
  .secrets.baseline
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

ci: don't publish images from pull_request builds
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fix: correct InjectionToken usage, rerun spec mock, and status leak on validation error
  apps/api/src/api/attempt/attempt.constants.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: updating test and ui
  apps/api/src/api/attempt/attempt.controller.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): extend presigned URL TTL default to 10 minutes (cap 15)
  .secrets.baseline
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(chat): reject non-USER role messages and validate payload via DTO
  apps/api/src/api/user/controllers/chat.controller.ts
  apps/api/src/api/user/dto/add-chat-message.dto.ts
  apps/api/src/api/user/services/chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): enforce role guard on uploadType in resolveUploadTarget
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): verify final object size after multipart complete
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(files): authenticate /files/access + /content, scope to caller's key, drop error leak
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): persist FileUpload row and verify ownership on complete/abort
  apps/api/prisma/schema.prisma
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): byte-budgeted gate around chat attachment extraction
  apps/api/src/api/files/file-processing-budget.module.ts
  apps/api/src/api/files/services/file-processing-budget.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/app.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

test(files): update files.service.spec.ts for new role + ownership signatures
  apps/api/src/api/files/services/files.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(uploads): add missing FileUpload migration SQL
  apps/api/prisma/migrations/20260513200000_add_file_upload_tracking/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

chore: unify on Node 24 LTS
  .github/workflows/build-images.yml
  .nvmrc
  apps/api-gateway/Dockerfile
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/tsconfig.json
  apps/jobs/package.json
  apps/web/package.json
  package.json
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(uploads): allow author role to use chatbot uploadType
  apps/api/src/api/files/services/files.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(web): surface server-side upload backpressure as friendly UI states
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
  apps/web/components/FileUploader.tsx
  apps/web/lib/api-client.ts
  apps/web/lib/reliableUpload.ts
  apps/web/lib/shared.ts
Due: yarn secrets:check:staged, yarn format:staged

add updated yarn.lock
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

feat(uploads): gate /initiate on byte-budget with fail-fast 503
  .secrets.baseline
  apps/api/src/api/files/services/file-processing-budget.service.ts
  apps/api/src/api/files/services/files.service.spec.ts
  apps/api/src/api/files/services/files.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(files): remove dead /files/proxy and /files/info legacy endpoints
  apps/api/src/api/files/files.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/api-gateway && yarn test:staged: any of: apps/api-gateway/**/*.ts
  cd apps/api-gateway && yarn lint:staged: any of: apps/api-gateway/**/*.ts
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
