Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

several UI improvements n bug fixes n cleanups
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/IntroductionSvgs.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/TextBasedAnswerSection.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/QuestionScore.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/lib/utils.ts
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

|| » ?
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/TextBasedAnswerSection.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Error pages can now have default status codes and if leaners have no more attempts left, users will be shown a 422 error
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: authors can now set both time limits and estimates
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

now it is used in the learners side as well
  apps/web/app/learner/(components)/AboutTheAssignment/AssignmentMainInfo.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: switch llm to gpt4-turbo
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added health check for database
  apps/api/src/health/health.controller.spec.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.spec.ts
  apps/api/src/health/health.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

added metadata
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added favicon
  apps/web/public/favicon.ico
Due: yarn secrets:check:staged, yarn format:staged

bump deps
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

error handling and improving the UI for the grading
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: Added pre-install Helm hooks to api ConfigMap and Secret for correct deployment order
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/configmap.yaml
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.4
  mark-1.0.4.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

replaced md editor w a better one
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Improved Md parser in learners side
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/components/MarkdownViewer.tsx
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix build
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Questions/QuestionStartPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

doing the right way of fetching inside useEffect
  apps/web/app/learner/(components)/Question/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix bug
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix bug even more
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

clean up
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix tooltip in header and made it show when user can't submit Qs
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/components/Tooltip.tsx
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

improved tooltip message
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed header when in success page
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

much better UX for time limit and estimated time
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/TimeLimitInputDropdown.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

changed icon for info and made passing grade required
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

height change for qs
  apps/web/app/globals.css
Due: yarn secrets:check:staged, yarn format:staged

word cont util function is being used now
  apps/web/components/MarkDownEditor.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

max word count acc works now n other fixes in the author's side
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/TextBasedAnswerSection.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

max word count acc works now n in learner's side
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

submission is disabled for a Q when the learner goes over the word limit
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/SubmitQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

removed "learner view"
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix build
  apps/web/app/author/(components)/Questions/QuestionTypes/WrittenQuestionView.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

no idea what was happening but now tests are able to run again
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: true false questions submission bug
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: Implemented weightage based MCQs
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: llm service and dtos refactoring
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "feat: llm service and dtos refactoring"
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "feat: Implemented weightage based MCQs"
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "fix: true false questions submission bug"
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
