Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fixing comments
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/components/UserReportsPanel.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(publish): refuse co-author auth when session has no groupId
  apps/api/src/api/assignment/v2/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(publish-v1): allow co-authors to read deduped publish-job status
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v1/tests/assignment.controller.auth.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(publish): treat Failed terminal status as error in SSE-drop fallback
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/author.ts
Due: yarn secrets:check:staged, yarn format:staged

chore(v1): remove unused v1 publish endpoint
  apps/api/src/api/Job/job-status.service.spec.ts
  apps/api/src/api/Job/job-status.service.ts
  apps/api/src/api/assignment/v1/controllers/assignment.controller.ts
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v1/tests/assignment.controller.auth.spec.ts
  apps/api/src/api/assignment/v1/tests/assignment.service.publish.spec.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/api/src/job-queue/job-queue.constants.ts
  apps/api/src/job-queue/job-queue.types.ts
  apps/jobs/src/job-queue.constants.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): improve unhandledRejection log fidelity; keep pod shutdown
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(pdf-extractor): log size, sha256, and magic bytes for forensics
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(pdf-extractor): catch late PDF.js promises; cleanup pages
  apps/api/src/api/attempt/services/pdf-structure-extractor.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(file-extraction): forensic entry/completion logging for all file types
  apps/api/src/api/attempt/services/file-content-extraction.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): per-job read cache + N+1 fix on grading hot path
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/attempt/services/grading/grading-query-count.spec.ts
  apps/api/src/api/attempt/services/grading/job-scoped-cache.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.spec.ts
  apps/api/src/api/attempt/services/question-response/question-response.service.ts
  apps/api/src/api/attempt/services/translation/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): mark-jobs local execution + JOBS_EXECUTE_LOCALLY flag routing
  apps/jobs/.env.template
  apps/jobs/.eslintrc.cjs
  apps/jobs/jest.config.ts
  apps/jobs/src/app.module.integration.spec.ts
  apps/jobs/src/app.module.spec.ts
  apps/jobs/src/app.module.ts
  apps/jobs/src/default-off-flag.spec.ts
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  apps/jobs/test/__mocks__/file-type.ts
  apps/jobs/tsconfig.json
  helm-chart/mark-jobs/values.yaml
  test-support/postgres-test-harness.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(api): ENABLE_LTI_SCHEDULER env gate to prevent cron double-fire
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.spec.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): declare api as workspace dep so turbo prune ships api source
  apps/jobs/package.json
Due: yarn secrets:check:staged, yarn format:staged

Increase CI test time
  apps/api/src/job-queue/job-queue.integration.spec.ts
  apps/api/src/job-queue/job-queue.performance.spec.ts
  apps/api/src/job-queue/job-queue.stress.spec.ts
  apps/api/test/job-queue.e2e-spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(jobs): generate prisma client in Docker installer stage
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

ci: split lint-and-test into separate Lint and Test jobs
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: speed up install + Docker build cache
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

ci: fix change-detection so jobs actually run on PRs
  .github/workflows/build-images.yml
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): generate prisma client in Docker installer stage
  apps/api/src/api/assignment/v1/services/assignment.service.ts
  apps/api/src/api/assignment/v2/tests/unit/controllers/assignment.controller.auth.spec.ts
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, hadolint

fix(jobs): use Winston as the Nest logger in mark-jobs bootstrap
  apps/jobs/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged

fix(jobs): correct Docker CMD path after dist tree-mirror restructure
  apps/jobs/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix(api): defensive optional chain on ENABLE_TRANSLATION env access
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(job-queue): add translation queue + 3 job names to constants
  apps/api/src/job-queue/job-queue.constants.ts
  apps/jobs/src/job-queue.constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): add typed payload interfaces for translation jobs
  apps/api/src/job-queue/job-queue.types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): add partial unique indexes to Translation with pre-condition assertion
  apps/api/prisma/migrations/20260510000001_translation_partial_unique/migration.sql
Due: yarn secrets:check:staged, yarn format:staged

docs(api): annotate Translation model with partial-unique-index intent
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

chore: add dedupe runbook for Translation rows pre-migration
  scripts/dedupe-translation-rows.ts
Due: yarn secrets:check:staged, yarn format:staged

feat(api): add translationStatus marker to AttemptQuestionDto
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor(api): delete three orphaned methods from TranslationService
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(api): add translation-state Redis helper for in-flight language SISMEMBER
  apps/api/src/api/assignment/attempt/translation-state-redis.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor(api): hoist learner translation lookup + add in-flight marker
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor(api): restore TranslationService methods removed prematurely
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(jobs): register translation BullMQ worker on dedicated queue
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/publish-job-result.types.ts
  apps/api/src/api/assignment/v2/services/question.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/job-queue/job-executor.service.ts
  apps/jobs/.env.template
  apps/jobs/src/job-worker.service.spec.ts
  apps/jobs/src/job-worker.service.ts
  helm-chart/mark-jobs/values.yaml
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): unblock CI for the translation cutover
  apps/api/src/api/assignment/v2/services/assignment.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
