Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

fix: unlimited attempts for multiple choice was not showing
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added published field to assignment schema
  apps/api/prisma/migrations/20231023160004_/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

cleanup
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/hooks/use-before-unload.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: each question gets updated after the other instead of all together to handle some issues
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: published field causing breaking changes
  apps/api/prisma/migrations/20231023160004_/migration.sql
  apps/api/prisma/migrations/20231023170851_/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

fix: questions are sorted properly in the authors side
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

some fixes to the UX/UI of the learner side (home page and URL question
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Button.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added questionOrder field in backend for proper sorting of questions
  apps/api/prisma/migrations/20231011145652_/migration.sql
  apps/api/prisma/migrations/20231018211323_/migration.sql
  apps/api/prisma/migrations/20231019071043_/migration.sql
  apps/api/prisma/migrations/20231019072848_/migration.sql
  apps/api/prisma/migrations/20231023170851_/migration.sql
  apps/api/prisma/migrations/20231023195504_init/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: added gradingContextQuestionIds field in schema
  apps/api/prisma/migrations/20231024040946_/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

test: force delete
  apps/api/src/api/admin/admin.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Revert "test: force delete"
  apps/api/src/api/admin/admin.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

learner's side now handles the situation where the assignment was not published
  apps/web/app/author/(components)/Questions/Rubric.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/config/types.ts
  apps/web/tailwind.config.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix the textarea autosize of the rubric
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

some more fixes to Rubric
  apps/web/app/author/(components)/Questions/Rubric.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

questions get created in the backend instantly and sorting happens whenusers submit
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
  apps/web/app/author/(components)/Header.tsx
  apps/web/app/author/(components)/WordCountComponent.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

url now is supported(not tested)
  apps/web/app/author/(components)/Questions/QuestionTypes/TextBasedAnswerSection.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/WrittenQuestionView.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/components/Tooltip.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: Added context handling when grading learner responses
  apps/api/src/api/admin/admin.service.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/base.question.evaluate.model.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/text.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/url.based.question.evaluate.model.ts
  apps/api/src/api/llm/templates.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: nest tests
  apps/api/src/api/assignment/assignment.controller.spec.ts
  apps/api/src/api/assignment/assignment.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fixes Rav and leon proposed during the meeting
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TextQuestion.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: learner can now take multiple choice questions
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

when authors submit, a spinner shows and they won't be able to click the button several times
  apps/web/app/author/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

header for learner shows the title instead
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

spinner is now it's own component so it can be used in other places
  apps/web/components/Loading.tsx
  apps/web/components/svgs/Spinner.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

leveraging expiresAt to check if assignment has been completed
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/config/types.ts
  apps/web/hooks/use-countdown.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

better error handling
  apps/web/app/learner/[assignmentId]/questions/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

leveraging reusable svgs
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

show a timer expired modal when timer runs out
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/TimerExpiredModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: updated Dockerile and migration script for api
  apps/api/Dockerfile
  apps/api/entrypoint.sh
  apps/api/migrate.sh
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

fix: dockerfile invalid file copying issue
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

feat: added migration job for api
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/migration-job.yaml
Due: yarn secrets:check:staged, yarn format:staged

update nextjs to latest
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

in author'sside numbers are sorted based on ID if not already sorted in the backend
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: Dockerfile for api
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: added missing migration annotation to mark api
  helm-chart/mark/templates/api/migration-job.yaml
Due: yarn secrets:check:staged, yarn format:staged

no longer using markdown-it since it's unnecessarily large
  apps/web/components/MarkDownEditor.tsx
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: learners now see the parsed markdown text
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/TimerExpiredModal.tsx
  apps/web/hooks/use-countdown.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: api migration job
  helm-chart/mark/templates/api/migration-job.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat: learners now have breadcrumbs that they can use to go back to the home page
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Breadcrumbs.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
