Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix(api): translation api to include pagination, recent assignments and correct question picking
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): translation api to include pagination, recent assignments and correct question picking (#271)
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): optimization and memory leaks prevention
  apps/api/src/api/assignment/v2/services/grading-consistency.service.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

revert notebook grading to original LLM based
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): api gateway instana
  apps/api-gateway/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore(ci): mark lti 1.3 support helm change
  index.yaml
  mark-1.4.9.tgz
Due: yarn secrets:check:staged, yarn format:staged

fix: update lti path
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/ingress.yaml
Due: yarn secrets:check:staged, yarn format:staged

update mark-1.4.9.tgz
  mark-1.4.9.tgz
Due: yarn secrets:check:staged, yarn format:staged

update index
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore: vul fixes
  apps/api-gateway/package.json
  apps/api/.eslintrc.cjs
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/api/assignment/files/file.service.ts
  apps/api/src/api/assignment/v2/services/draft-management.service.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/files/files.controller.ts
  apps/api/src/api/files/services/files.service.ts
  apps/api/src/api/files/services/s3.service.ts
  apps/api/src/api/llm/core/services/gpt-oss-120b-llm-service.ts
  apps/api/src/api/llm/core/services/granite-4-h-small-llm-service.ts
  apps/api/src/api/llm/core/services/granite-vision-3-2-2b-llm-service.ts
  apps/api/src/api/llm/core/services/llama-3-3-70b-instruct-llm-service.ts
  apps/api/src/api/llm/core/services/llama-4-maverick-llm-service.ts
  apps/api/src/api/llm/core/services/mistral-medium-2505-llm-service.ts
  apps/api/src/api/llm/core/services/watsonx-chat.model.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/translation/services/translation.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/api/src/main.ts
  apps/api/src/scripts/translation-audit.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/web/Dockerfile
  apps/web/app/author/[assignmentId]/config/page.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/author/[assignmentId]/questions/page.tsx
  apps/web/app/author/[assignmentId]/version-tree/page.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/app/learner/[assignmentId]/questions/LearnerLayout.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/app/learner/page.tsx
  apps/web/app/page.tsx
  apps/web/lib/shared.ts
  apps/web/next.config.js
  apps/web/package.json
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, hadolint

adding lti/1.3 to the ingress
  helm-chart/mark/templates/ingress.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore: helm version bump
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

chore: mark helm 1.4.10
  index.yaml
  mark-1.4.10.tgz
Due: yarn secrets:check:staged, yarn format:staged

chore: updating dependencies
  apps/web/package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix(api): api gateway instana (#273)
  apps/api-gateway/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore:level title prefill
  apps/web/app/Helpers/level-standards.ts
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

fix(api): translation sweeping
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: static translation content for both authors and learners sides
  apps/web/.env.template
  apps/web/app/Helpers/Languages/TrueFalseInAllLang.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/layout.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/RouteUiTranslator.tsx
  apps/web/env.d.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/en/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/index.ts
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
  apps/web/lib/ui-language.ts
Due: yarn secrets:check:staged, yarn format:staged

feat: instana in web
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged

chore: creating end point for level title prefill
  .secrets.baseline
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/assignment-level-standards.controller.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: fixing linting errors
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: remove initial ui based prefill commit
  apps/web/app/Helpers/level-standards.ts
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: instana in web (#279)
  apps/web/app/layout.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: static translation content for both authors and learners sides (#278)
  apps/web/.env.template
  apps/web/app/Helpers/Languages/TrueFalseInAllLang.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionNumberOfRetries.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/layout.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/layout.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/RouteUiTranslator.tsx
  apps/web/env.d.ts
  apps/web/lib/static-ui-translations/ar/translations.json
  apps/web/lib/static-ui-translations/de/translations.json
  apps/web/lib/static-ui-translations/el/translations.json
  apps/web/lib/static-ui-translations/en/translations.json
  apps/web/lib/static-ui-translations/es/translations.json
  apps/web/lib/static-ui-translations/fr/translations.json
  apps/web/lib/static-ui-translations/hi/translations.json
  apps/web/lib/static-ui-translations/hu/translations.json
  apps/web/lib/static-ui-translations/id/translations.json
  apps/web/lib/static-ui-translations/index.ts
  apps/web/lib/static-ui-translations/it/translations.json
  apps/web/lib/static-ui-translations/ja/translations.json
  apps/web/lib/static-ui-translations/kk/translations.json
  apps/web/lib/static-ui-translations/ko/translations.json
  apps/web/lib/static-ui-translations/nl/translations.json
  apps/web/lib/static-ui-translations/pl/translations.json
  apps/web/lib/static-ui-translations/pt/translations.json
  apps/web/lib/static-ui-translations/ru/translations.json
  apps/web/lib/static-ui-translations/sv/translations.json
  apps/web/lib/static-ui-translations/th/translations.json
  apps/web/lib/static-ui-translations/tr/translations.json
  apps/web/lib/static-ui-translations/uk-UA/translations.json
  apps/web/lib/static-ui-translations/zh-CN/translations.json
  apps/web/lib/static-ui-translations/zh-TW/translations.json
  apps/web/lib/ui-language.ts
Due: yarn secrets:check:staged, yarn format:staged

chore: updating the level standards controller to process in batches
  apps/api/src/api/admin/controllers/assignment-level-standards.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: removing the admin guard
  apps/api/src/api/admin/controllers/assignment-level-standards.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: patch packages and bug fixes
  .secrets.baseline
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/layout.tsx
  apps/web/components/OrbitingActionDock.tsx
  package.json
  patches/@radix-ui+react-presence+1.1.5.patch
  patches/@radix-ui+react-slot+1.2.3.patch
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

chore(deploy): add standalone jobs deployment and Redis wiring
  .env.template
  .secrets.baseline
  apps/jobs/Dockerfile
  docker-compose.yml
  helm-chart/mark-jobs/Chart.yaml
  helm-chart/mark-jobs/templates/_helpers.tpl
  helm-chart/mark-jobs/templates/configmap.yaml
  helm-chart/mark-jobs/templates/deployment.yaml
  helm-chart/mark-jobs/templates/network-policy.yaml
  helm-chart/mark-jobs/templates/secret.yaml
  helm-chart/mark-jobs/values.yaml
  helm-chart/mark/templates/_helpers.tpl
  helm-chart/mark/templates/api/secret.yaml
  helm-chart/mark/templates/jobs/configmap.yaml
  helm-chart/mark/templates/jobs/deployment.yaml
  helm-chart/mark/templates/jobs/secret.yaml
  helm-chart/mark/templates/network-policies.yaml
  helm-chart/mark/values.yaml
  package.json
  scripts/start-db.sh
  scripts/validate-env.sh
Due: yarn secrets:check:staged, yarn format:staged, hadolint, shellcheck

test(job-queue): add queue coverage and refresh stale specs
  apps/api/package.json
  apps/api/src/api/Job/job-status.service.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
  apps/api/src/api/assignment/v2/tests/unit/services/assignment.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/job-status.service.spec.ts
  apps/api/src/api/assignment/v2/tests/unit/services/question.service.spec.ts
  apps/api/src/api/attempt/schedulers/lti-sync-scheduler.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/job-queue/job-payload.crypto.spec.ts
  apps/api/src/job-queue/job-queue.integration.spec.ts
  apps/api/src/job-queue/job-queue.performance.spec.ts
  apps/api/src/job-queue/job-queue.service.spec.ts
  apps/api/src/job-queue/job-queue.stress.spec.ts
  apps/api/src/job-queue/job-state.service.spec.ts
  apps/api/test/job-queue.e2e-spec.ts
  apps/jobs/jest.config.ts
  apps/jobs/src/job-worker.service.spec.ts
  test-support/redis-test-harness.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: syntax
  apps/api/src/api/attempt/services/lti-grade-sync.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: reverting mock.jwt to original
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Extract shared question-generation client logic
  apps/web/components/FileUploadModal.tsx
  apps/web/lib/question-generation/__tests__/client.test.ts
  apps/web/lib/question-generation/__tests__/normalize.test.ts
  apps/web/lib/question-generation/client.ts
  apps/web/lib/question-generation/normalize.ts
Due: yarn secrets:check:staged, yarn format:staged

converge chatbot and ui question generation
  .secrets.baseline
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/user/services/mark-chat.service.ts
  apps/web/app/chatbot/store/AuthorStoreBridge.ts
  apps/web/app/chatbot/store/authorStoreUtil.ts
  apps/web/components/FileUploadModal.tsx
  apps/web/lib/question-generation/client.ts
  apps/web/lib/question-generation/normalize.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: import duplication fix
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged

ref: removing report button on the modal
  apps/web/components/ErrorPage.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: chatbot supports file upload
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged

feat: made file context persist in chat history
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/app/chatbot/store/useMarkChatStore.ts
Due: yarn secrets:check:staged, yarn format:staged

chores: update tests
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/files/services/s3.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: update docker file to apply patches
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint
