Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/web/**/*.{ts,tsx}": ["cd apps/web && yarn lint:staged"],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix: api migration job
  helm-chart/mark/templates/api/migration-job.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: api Dockerfile
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: api dockerfile initial command
  apps/api/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

Publishing chart package for mark-1.0.2
  mark-1.0.2.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

feat: when learners submit, they will be taken back to the assigment home and shown a success page(like the authors)
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/SuccessPage.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

UX/UI: buttons to go to the next question are better now
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added timeEstimateMinutes in schema
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/dto/replace.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

converted points data type to Float in schema
  apps/api/prisma/migrations/20231026161100_/migration.sql
  apps/api/prisma/migrations/20231027170418_/migration.sql
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

added hover transitions to success page for authors
  apps/web/app/author/(components)/SuccessPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added DATABASE_URL_DIRECT env variable in prisma schema
  apps/api/dev.env
  apps/api/prisma/schema.prisma
Due: yarn secrets:check:staged, yarn format:staged

feat: added usePgBouncer boolean to support pgbouncer with prisma
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/secret.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: incorrect values reference
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.3
  mark-1.0.3.tgz
Due: yarn secrets:check:staged, yarn format:staged

several minor but major fixes🧠🧐
  apps/web/app/author/(components)/IntroductionSection.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/components/ErrorPage.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

learner success page now leverages the page with sticky sides component
  apps/web/app/components/PageWithStickySides.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

authors questions page now leverages the page with sticky sides component
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added returnUrl to jwt cookie
  apps/api-gateway/src/auth/interfaces/user.session.interface.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.ts
Due: yarn secrets:check:staged, yarn format:staged

feat: added returnUrl for user-session request
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/api.controller.ts
  apps/api/src/auth/interfaces/user.session.interface.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Feat: learner can now submit an assignment and get shown a success page, WOOHOO
  apps/web/app/components/PageWithStickySides.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

some code quality improvements
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

author default attempts for each question now is stored in session storage
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: when authors modify the assignment details, it will revert back to published: false
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: when learners submit, they are given a wrong grade
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Found some big breaking issues that woulda eventually came up
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/config/types.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix passing grading
  apps/web/app/learner/(components)/SuccessPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: default feedback when user did not submit a question
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

UX/UI: reduce the range the author has for points for multiple choice questions
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

session -> local storage coz it lasts longer
  apps/web/app/author/(components)/AssignmentDetailsForm.tsx
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/hooks/use-persistent-countdown.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added optional/required for assignment details
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/(components)/IntroductionSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

small fixes all around
  apps/web/app/author/(components)/GradingOptionsForm.tsx
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: return url now takes back to the actual link given by the backend
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup
  apps/web/app/learner/(components)/SuccessPage/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: switched to gpt-4 and added token usage logging
  apps/api/package.json
  apps/api/src/api/llm/llm.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

attempts fix
  apps/web/app/author/(components)/GradingOptionsForm.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

begin the assignment button is now placed at the bottom as well
  apps/web/app/learner/(components)/AboutTheAssignment/BeginTheAssignmentButton.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat(UX/UI): users now are shown different colors depending on the user's grade
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged
