Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

fix(dockerfile): don't include build args in final build (#310)
  apps/api-gateway/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: yarn secrets:check:staged, yarn format:staged, hadolint

fix: Learners are not shown the right things based on the config given by the author (#301)
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/update.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/stores/learner.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Multiple choice Support (#347)
  .prettierignore
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/test/assignment.service.spec.ts
  apps/web/.eslintrc.cjs
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/index.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/SingleAnswerSection.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/TrueFalseQuestion.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/hooks/use-countdown.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
  dev.env
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix packages (#370)
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore(deps): update body-parser to v1.20.3 (#372)
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

using gpt-4o-2024-08-06 as the llm for mark (#377)
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

docs: Update CONTRIBUTING.md with local development instructions (#376)
  docs/CONTRIBUTING.md
  package.json
Due: yarn secrets:check:staged, yarn format:staged

ran prettier on all the files (#375)
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/dto/get.assignment.response.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

changing llm to gpt-4o-2024-05-13 (#398)
  .secrets.baseline
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Patch_bug_fix (#455)
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/web/app/Helpers/handleJumpToErrors.ts
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/Nav.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/ReusableSections/SectionWithTitle.tsx
  apps/web/app/author/(components)/StepOne/FooterNavigation.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentCompletion.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentFeedback.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionDisplay.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentQuestionOrder.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/(components)/StepTwo/AssignmentType.tsx
  apps/web/app/author/(components)/StepTwo/FooterNavigation.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/questions/ClientComponent.tsx
  apps/web/app/learner/[assignmentId]/questions/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/config/constants.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Bug fixes with mark (#561)
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/lib/utils.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged

Update update.questions.request.dto.ts (#569)
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

File upload questions (#595)
  apps/api/prisma/migrations/20241104161813_new_question_types_code_images/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.request.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/file.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/file.based.question.response.model.ts
  apps/api/src/api/llm/templates.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/globals.css
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/UploadQuestion.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/config/types.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/stores/learner.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Question Variation feature (#618)
  apps/api/prisma/migrations/20241029151320_add_question_variants/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/file.based.question.evaluate.model.ts
  apps/api/src/api/llm/templates.ts
  apps/web/app/Helpers/fileReader.ts
  apps/web/app/Helpers/processQuestionsBeforePublish.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/[assignmentId]/attempts/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/Dropdown.tsx
  apps/web/components/MarkdownViewer.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Generate assignment using files (#625)
  apps/api-gateway/src/api/api.service.ts
  apps/api/package.json
  apps/api/prisma/migrations/20241019035436_add_job/migration.sql
  apps/api/prisma/migrations/20241022162316_added_ai_usage/migration.sql
  apps/api/prisma/migrations/20241114191903_remove_question_variation_from_assignment/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.assignment.request.dto.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/llm.module.ts
  apps/api/src/api/llm/llm.service.spec.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/templates.ts
  apps/api/src/main.ts
  apps/web/app/Helpers/FileReaders.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/components/Modal.tsx
  apps/web/components/Tooltip.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/stores/author.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Generate questions patch (#640)
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/src/api/assignment/assignment.controller.spec.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.controller.spec.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/dto/post.assignment.request.dto.ts
  apps/api/src/api/assignment/question/question.controller.spec.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/templates.ts
  apps/web/animations/MarkQuestionGenAnimation.json
  apps/web/animations/MarkQuestionGenCompleted.json
  apps/web/app/Helpers/handleJumpToQuestion.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/StepOne/MainContent.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/AuthFetchToAbout.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/app/loading.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/components/Loading.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Generate questions patch (#657)
  apps/api-gateway/package.json
  apps/api/package.json
  apps/api/prisma/migrations/20241120205158_modify_question_type_new_response_type/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/assignment/dto/update.questions.request.dto.ts
  apps/api/src/api/assignment/question/question.controller.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/file.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/text.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/url.based.question.evaluate.model.ts
  apps/api/src/api/llm/templates.ts
  apps/api/tsconfig.json
  apps/web/animations/MarkQuestionGenFailed.json
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Question/FileLinkUploadSection.tsx
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/(components)/Question/RenderQuestion.tsx
  apps/web/app/learner/(components)/Question/UrlQuestion.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/components/WarningModal.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/stores/author.ts
  apps/web/stores/learner.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor: Update assignment question response types (#676)
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/dto/base.assignment.response.dto.ts
  apps/web/app/Helpers/FileReaders.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/components/FileUploadModal.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/stores/assignmentConfig.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

Rating feedback learner (#685)
  apps/api/prisma/migrations/20241205164806_adding_assignment_feedback_regrading_request_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/feedback.request.dto.ts
  apps/web/app/Helpers/checkQuestionsReady.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  apps/web/lib/utils.ts
  package.json
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

new report feature (#705)
  apps/api/prisma/migrations/20241211184012_adding_report_models/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/assignment.controller.ts
  apps/api/src/api/assignment/assignment.service.ts
  apps/api/src/api/assignment/attempt/attempt.controller.ts
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/post.assignment.report.dto.ts
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(codeowners): make magdy a codeowner
  CODEOWNERS
Due: yarn secrets:check:staged, yarn format:staged

Remove .github/workflows/contrast-sast-scan-child.yml
  .github/workflows/contrast-sast-scan-child.yml
Due: yarn secrets:check:staged, yarn format:staged

Update version in Chart.yaml to 1.0.6 Update checksum annotations in deployment.yaml files (#722)
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api-gateway/deployment.yaml
  helm-chart/mark/templates/api/deployment.yaml
  helm-chart/mark/templates/ui/deployment.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.6
  mark-1.0.6.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

Update helm (#723)
  helm-chart/mark/templates/api-gateway/deployment.yaml
  helm-chart/mark/templates/api/deployment.yaml
  helm-chart/mark/templates/ui/deployment.yaml
Due: yarn secrets:check:staged, yarn format:staged

Update helm (#724)
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.7
  mark-1.0.7.tgz
Due: yarn secrets:check:staged, yarn format:staged

Styling tweaks (#803)
  apps/api-gateway/src/api/api.service.ts
  apps/api/prisma/migrations/20250131160706_comments_assignment_attempt_for_passsing_deadlines/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/update.assignment.attempt.response.dto.ts
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/layout.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/[assignmentId]/attempts/page.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/MarkDownEditor.tsx
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fix small bug with parsing (#812)
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/web/app/author/(components)/Header/SubmitQuestionsButton.tsx
  apps/web/app/author/(components)/QuestionWrapper.tsx
  apps/web/app/learner/(components)/AboutTheAssignment/index.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

changing llm from textin/textout based to chat based with processing enhancement to filter invalid characters (#821)
  apps/api/package.json
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Refactor assignment configuration handling (#823)
  apps/web/app/author/(components)/Header/CheckLearnerSideButton.tsx
  apps/web/app/learner/(components)/Question/FileUploadSection.tsx
  apps/web/app/learner/[assignmentId]/successPage/Question.tsx
  apps/web/stores/assignmentConfig.ts
Due: yarn secrets:check:staged, yarn format:staged

Refactor assignment configuration handling and add time estimate minutes to publishAssignment function (#832)
  apps/api/src/api/assignment/assignment.service.ts
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
