Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/web && yarn lint:staged, hadolint, shellcheck

feat: llm service and dtos refactoring
  apps/api/src/api/assignment/attempt/dto/question-response/create.question.response.attempt.response.dto.ts
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/llm/llm.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/true.false.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: true false questions submission bug
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/llm/llm.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat: Implemented weightage based MCQs
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/assignment/question/question.service.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Update yarn.lock
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

Author's side's format for choices now follow the backend
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/config/types.ts
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: choices parsing bug
  apps/api/src/api/assignment/question/question.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

change correct -> isCorrect in backend
  apps/api/src/api/assignment/question/dto/create.update.question.request.dto.ts
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

handle error when backend couldn't create Q
  apps/web/app/author/(components)/AuthorQuestionsPage.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: cursor focus on next choice when you create a new choice
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

UX improvements
  apps/web/app/author/(components)/TimeLimitInputDropdown.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

when submitting new Qs fails, the loading stops
  apps/web/app/author/(components)/Header/index.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Suggest to the user to click enter to create a new choice in a multiple choice Q
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

several new features for multiple choice Q creation and it now supports the backend changes(for the authors)
  apps/web/app/author/(components)/Header/index.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/NumberInputTooltip.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/index.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: invalid choices bug in assignment attempt
  apps/api/src/api/assignment/attempt/attempt.service.ts
  apps/api/src/api/assignment/attempt/dto/assignment-attempt/get.assignment.attempt.response.dto.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Refactor MultipleAnswerSection component to fix an unnoticed bug
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

added devtools for author zustand store
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

less memory
  apps/api/src/api/llm/model/choice.based.question.evaluate.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

lint
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/NumberInputTooltip.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/Choice/index.tsx
  apps/web/app/author/(components)/Questions/QuestionTypes/MultipleAnswerSection.tsx
  apps/web/app/author/(components)/TimeLimitInputDropdown.tsx
  apps/web/stores/author.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

using built-in partial for types
  apps/web/config/types.ts
  apps/web/lib/talkToBackend.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

tooltip doesn't show when there is no content
  apps/web/app/learner/(components)/Question/SubmitQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

learner side mcq is done but it only allows a single submission
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

learner side mcq done for now
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.ts
  apps/web/app/learner/(components)/Question/MultipleChoiceQuestion.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Fix Timer component and add submitAssignmentRef to use it to submit an assignment when time runs out
  apps/web/app/favicon.ico
  apps/web/app/learner/(components)/Button.tsx
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Overview.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
  apps/web/app/learner/(components)/Question/SubmitQuestion.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/app/learner/(components)/Question/index.tsx
  apps/web/app/learner/(components)/SuccessPage/Question.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleanup n fix
  apps/web/app/learner/(components)/Question/Timer.tsx
  apps/web/config/constants.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

better way of submitting assignment (my conscience couldn't leave without doing it the right way)
  apps/web/app/learner/(components)/Header.tsx
  apps/web/app/learner/(components)/Question/Timer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: feedback show a 0 when you get a 0 in one of the Qs
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: returnUrl not fetched doesn't break the success page
  apps/web/app/author/(components)/SuccessPage.tsx
  apps/web/app/learner/(components)/Header.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

removed console log
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

cleaning up and doing the same thing to the learner's side as well
  apps/web/app/author/[assignmentId]/page.tsx
  apps/web/app/learner/(components)/SuccessPage/index.tsx
  apps/web/app/learner/[assignmentId]/page.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: having no word limit disables the submit button
  apps/web/app/learner/(components)/Question/SubmitQuestion.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

feat: added network policy to whitelist nats traffic
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/network-policies.yaml
  helm-chart/mark/values.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: tls hosts
  helm-chart/mark/templates/ingress.yaml
Due: yarn secrets:check:staged, yarn format:staged

remove redundant tls hosts
  helm-chart/mark/templates/ingress.yaml
Due: yarn secrets:check:staged, yarn format:staged

Publishing chart package for mark-1.0.5
  mark-1.0.5.tgz
Due: yarn secrets:check:staged, yarn format:staged

Update index.yaml
  index.yaml
Due: yarn secrets:check:staged, yarn format:staged

fix: typo in nats env variables loading
  apps/api-gateway/dev.env
  apps/api-gateway/src/messaging/messaging.service.ts
  apps/api/dev.env
  apps/api/src/messaging/messaging.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

handle error when string is undefined
  apps/web/app/learner/(components)/Question/SubmitQuestion.tsx
  apps/web/lib/utils.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fixed bug where feedback is null
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

fix: maxPoints not working and improving structure of AuthorQuestionPage
  apps/web/app/author/(components)/AuthorQuestionsPage/Question.tsx
  apps/web/app/author/(components)/AuthorQuestionsPage/index.tsx
  apps/web/app/components/PageWithStickySides.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/web && yarn lint:staged

Delete file
  .github/workflows/static-analysis.yml
Due: yarn secrets:check:staged, yarn format:staged

Path conditions:
  yarn secrets:check:staged: any of: *
  yarn format:staged: any of: *
  cd apps/api && yarn test:staged: any of: apps/api/**/*.ts
  cd apps/api && yarn lint:staged: any of: apps/api/**/*.ts
  cd apps/web && yarn lint:staged: any of: apps/web/**/*.{ts,tsx}
  hadolint: any of: Dockerfile
  shellcheck: any of: *.{sh,zsh,bash}
