Repository ibm-skills-network/mark: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged, hadolint, shellcheck

.lintstagedrc.json:

{
  "*": ["yarn secrets:check:staged", "yarn format:staged"],
  "apps/api/**/*.ts": [
    "cd apps/api && yarn test:staged",
    "cd apps/api && yarn lint:staged"
  ],
  "apps/api-gateway/**/*.ts": [
    "cd apps/api-gateway && yarn test:staged",
    "cd apps/api-gateway && yarn lint:staged"
  ],
  "Dockerfile": ["hadolint"],
  "*.{sh,zsh,bash}": ["shellcheck"]
}

ci: adding custom params to mark's db url
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

upgrade chart version
  helm-chart/mark/Chart.yaml
Due: yarn secrets:check:staged, yarn format:staged

Revert "test: update api-gateway tests (#253)"
  .secrets.baseline
  apps/api-gateway/.eslintrc.cjs
  apps/api-gateway/src/api/api.controller.spec.ts
  apps/api-gateway/src/api/api.service.comprehensive.spec.ts
  apps/api-gateway/src/api/api.service.spec.ts
  apps/api-gateway/src/api/api.service.ts
  apps/api-gateway/src/app.module.spec.ts
  apps/api-gateway/src/app.service.spec.ts
  apps/api-gateway/src/auth/auth.module.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/jwt.bearer.token.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/jwt.cookie.strategy.spec.ts
  apps/api-gateway/src/auth/jwt/cookie-based/mock.jwt.cookie.auth.guard.spec.ts
  apps/api-gateway/src/auth/jwt/jwt.config.service.spec.ts
  apps/api-gateway/src/health/health.module.spec.ts
  apps/api-gateway/src/logger/config.spec.ts
  apps/api-gateway/src/logger/logger.middleware.spec.ts
  apps/api-gateway/src/messaging/messaging.module.spec.ts
  apps/api-gateway/src/messaging/messaging.service.spec.ts
  apps/api-gateway/src/routes.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

test: update test to use correct groupId
  apps/api-gateway/src/auth/jwt/bearer-token-based/mock.jwt.bearer.token.auth.guard.spec.ts
  apps/api/prisma/seed.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

ref: update backend /health api
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

refactor: removing unused endpoint
  apps/api/src/health/health.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Ci/update helm control concurrent db connections (#256)
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/api/secret.yaml
Due: yarn secrets:check:staged, yarn format:staged

Ref/removing db checks onhealth (#258)
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

Publish mark 1.4.5
  helm-chart/mark/index.yaml
Due: yarn secrets:check:staged, yarn format:staged

update mark to 1.4.5
  .gitignore
  index.yaml
  mark-1.4.5.tgz
Due: yarn secrets:check:staged, yarn format:staged

update mark to 1.4.6
  helm-chart/mark/index.yaml
  index.yaml
  mark-1.4.6.tgz
Due: yarn secrets:check:staged, yarn format:staged

feat(llm): add criterion evidence pipeline foundation
  apps/api/prisma/migrations/20260204050000_add_criterion_grading_features/migration.sql
  apps/api/src/api/attempt/attempt.module.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.ts
  apps/api/src/api/llm/features/grading/services/concurrency-limiter.spec.ts
  apps/api/src/api/llm/features/grading/services/concurrency-limiter.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grade-compiler.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-retry-manager.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-retry-manager.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/types/criterion-evidence.types.ts
  apps/api/src/api/llm/llm.module.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

feat(grading): integrate evidence pipeline and audit metadata
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/attempt/services/structured-content.models.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/features/grading/interfaces/grading-judge.interface.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/model/file.based.question.evaluate.model.ts
  apps/api/src/api/llm/model/file.based.question.response.model.ts
  apps/api/src/api/llm/model/image.based.response.model.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
  apps/api/src/api/llm/model/url.based.question.response.model.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore(api-gateway): clean up api service typings
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

feat(web): improve api error handling and storage safety
  apps/web/app/error.tsx
  apps/web/app/learner/[assignmentId]/successPage/[submissionId]/page.tsx
  apps/web/components/GradeSyncStatus.tsx
  apps/web/components/LayoutContent.tsx
  apps/web/lib/api-client.ts
  apps/web/lib/api-events.ts
  apps/web/lib/safe-storage.ts
  apps/web/stores/assignmentConfig.ts
  apps/web/stores/author.ts
  apps/web/stores/fileStore.ts
  apps/web/stores/learner.ts
Due: yarn secrets:check:staged, yarn format:staged

ci: update helm to reflect on old changes from mark-old
  helm-chart/mark/Chart.yaml
  helm-chart/mark/templates/_helpers.tpl
  helm-chart/mark/templates/api/deployment.yaml
  helm-chart/mark/templates/lti-credentials-manager/deployment.yaml
  helm-chart/mark/templates/network-policies.yaml
  helm-chart/mark/templates/ui/deployment.yaml
Due: yarn secrets:check:staged, yarn format:staged

mark helm 1.4.7
  index.yaml
  mark-1.4.7.tgz
Due: yarn secrets:check:staged, yarn format:staged

refactor: including user email in tickets
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/services/report.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/components/ReportPreviewModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

refactor: file formatting
  apps/api/src/api/assignment/attempt/helper/attempts.helper.ts
  apps/api/src/api/attempt/common/strategies/file-grading.strategy.ts
  apps/api/src/api/llm/core/services/gpt5-mini-llm.service.ts
  apps/api/src/api/llm/features/grading/services/chunk-index.service.ts
  apps/api/src/api/llm/features/grading/services/concurrency-limiter.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-pipeline.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-evidence-retrieval.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grade-compiler.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.spec.ts
  apps/api/src/api/llm/features/grading/services/criterion-grading.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-judge.service.ts
  apps/api/src/api/llm/features/grading/services/criterion-retry-manager.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-based-grading.service.ts
  apps/api/src/api/llm/features/grading/services/evidence-chunking.service.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
  apps/api/src/api/llm/features/grading/services/grading-judge.service.ts
  apps/api/src/api/llm/features/grading/services/image-grading.service.ts
  apps/api/src/api/llm/features/grading/services/text-grading.service.ts
  apps/api/src/api/llm/features/grading/services/url-grading.service.ts
  apps/api/src/api/llm/model/text.based.question.response.model.ts
  apps/web/app/error.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

formating
  apps/api-gateway/src/api/api.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

refactor: including user email in tickets (#261)
  .secrets.baseline
  apps/api-gateway/src/api/api.service.ts
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/services/report.service.ts
  apps/web/app/chatbot/components/MarkChat.tsx
  apps/web/components/ReportPreviewModal.tsx
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

update mark-1.4.8.tgz
  index.yaml
  mark-1.4.8.tgz
Due: yarn secrets:check:staged, yarn format:staged

chore: yarn.lock updates
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

fix: small syntax fix in attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

db changes for renewal email
  apps/api/prisma/migrations/20260209183938_add_report_renewal_fields/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/api/assignment/v2/tests/unit/__mocks__/ common-mocks.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

added renewal email api
  apps/api/src/api/report/controllers/report.controller.ts
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/api/report/types/report.types.ts
  apps/api/src/auth/middleware/user.session.middleware.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

added renewal email service
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: small ui changes
  apps/web/app/Helpers/checkDiff.ts
  apps/web/app/author/(components)/StepTwo/AssignmentTime.tsx
  apps/web/app/author/[assignmentId]/review/page.tsx
  apps/web/app/learner/(components)/Question/QuestionContainer.tsx
Due: yarn secrets:check:staged, yarn format:staged

feat: assignment overview window on left indicates required questions
  apps/web/app/learner/(components)/Question/Overview.tsx
Due: yarn secrets:check:staged, yarn format:staged

ci: update instana to be on top of main.ts file
  .prettierignore
  apps/api/src/main.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

updated content of renewal email
  apps/api/src/api/report/services/report.service.ts
  apps/api/src/auth/services/admin-email.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: update find questions query to fetch all, and creating endpoints to find and translate assignments that are missing translations
  apps/api-gateway/src/main.ts
  apps/api/src/api/admin/admin.module.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
  apps/api/src/api/attempt/services/attempt-submission.service.spec.ts
  apps/api/src/api/attempt/services/attempt-submission.service.ts
  apps/api/src/api/attempt/services/attempt.service.ts
  apps/api/src/api/scheduled-tasks/services/scheduled-tasks.service.ts
  apps/api/src/main.ts
  apps/api/src/scripts/translation-missing.ts
  apps/web/tsconfig.json
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged, cd apps/api-gateway && yarn test:staged, cd apps/api-gateway && yarn lint:staged

fixed duplicate tool calling
  apps/api/src/api/user/services/mark-chat.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: assignment data selection
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix: update tests
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

chore: author playwright tests
  apps/api/package.json
  apps/web/package.json
  package.json
  playwright.config.ts
  tests/author/assignment-overview.spec.ts
  tests/author/assignment-settings.spec.ts
  tests/example.spec.ts
  tests/examples/create-assignment-with-content.spec.ts
  tests/helpers/assignment-helpers.ts
  tests/helpers/global-setup.ts
  tests/helpers/role-helpers.ts
  tests/helpers/setup-test-assignments.ts
  tests/learner/assignment-start.spec.ts
  tests/learner/learner-homepage.spec.ts
  yarn.lock
Due: yarn secrets:check:staged, yarn format:staged

chore: updating md files for testing
  README.md
  SETUP.md
  TESTING.md
Due: yarn secrets:check:staged, yarn format:staged

chore: workflow failure test fix
  apps/web/package.json
Due: yarn secrets:check:staged, yarn format:staged

fix: update translation manual logic
  apps/api/src/api/admin/controllers/translation-maintenance.controller.spec.ts
  apps/api/src/api/admin/controllers/translation-maintenance.controller.ts
  apps/api/src/api/assignment/v2/services/translation.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged

fix(api): file content extraction now fixed the issue with charts for grading
  .secrets.baseline
  apps/api/src/api/attempt/services/__tests__/file-content-extraction.spec.ts
  apps/api/src/api/attempt/services/file-content-extraction.ts
  apps/api/src/api/llm/features/grading/services/__tests__/file-grading-routing.service.spec.ts
  apps/api/src/api/llm/features/grading/services/file-grading.service.ts
Due: yarn secrets:check:staged, yarn format:staged, cd apps/api && yarn test:staged, cd apps/api && yarn lint:staged
